In [1]:
import pandas as pd
import numpy as np

In [2]:
bb = pd.read_csv('../../scraping/pan_america14/pan_american2014_bb.csv')
ub = pd.read_csv('../../scraping/pan_america14/pan_american2014_ub.csv')
vt = pd.read_csv('../../scraping/pan_america14/pan_american2014_vt.csv')
fx = pd.read_csv('../../scraping/pan_america14/pan_american2014_fx.csv')

In [4]:
bb['round'] = 'final'
ub['round'] = 'final'
fx['round'] = 'final'
vt['round'] = 'final'


bb['year'] = 2014
ub['year'] = 2014
fx['year'] = 2014
vt['year'] = 2014

In [7]:
bb['ND'].fillna(0, inplace=True)
ub['ND'].fillna(0, inplace=True)
fx['ND'].fillna(0, inplace=True)
vt['ND'].fillna(0, inplace=True)
vt['ND.1'].fillna(0, inplace=True)

In [10]:
bb['Nation'].unique()

array(['Guatemala', 'Venezuela', 'Brazil', 'United States', 'Cuba',
       'Argentina'], dtype=object)

In [14]:
country_to_noc = {
    'Guatemala': 'GUA',
    'Venezuela': 'VEN',
    'Brazil': 'BRA',
    'United States': 'USA',
    'Cuba': 'CUB',
    'Argentina': 'ARG'
}

# Replace values in the 'Nation' column with NOC codes
bb['Nation'] = bb['Nation'].replace(country_to_noc)

In [11]:
ub['Nation'].unique()

array(['United States', 'Mexico', 'Brazil', 'Colombia', 'Venezuela'],
      dtype=object)

In [15]:
country_to_noc = {
    'United States': 'USA',
    'Mexico': 'MEX',
    'Brazil': 'BRA',
    'Colombia': 'COL',
    'Venezuela': 'VEN'
}

# Replace values in the 'Nation' column with NOC codes
ub['Nation'] = ub['Nation'].replace(country_to_noc)

In [12]:
fx['Nation'].unique()

array(['United States', 'Venezuela', 'Cuba', 'Brazil', 'Mexico',
       'Argentina'], dtype=object)

In [16]:
country_to_noc = {
    'United States': 'USA',
    'Venezuela': 'VEN',
    'Cuba': 'CUB',
    'Brazil': 'BRA',
    'Mexico': 'MEX',
    'Argentina': 'ARG'
}

# Replace values in the 'Nation' column with NOC codes
fx['Nation'] = fx['Nation'].replace(country_to_noc)

In [13]:
vt['Nation'].unique()

array(['United States', 'Cuba', 'Canada', 'Brazil', 'Puerto Rico',
       'Mexico'], dtype=object)

In [17]:
country_to_noc = {
    'United States': 'USA',
    'Cuba': 'CUB',
    'Canada': 'CAN',
    'Brazil': 'BRA',
    'Puerto Rico': 'PUR',
    'Mexico': 'MEX'
}

# Replace values in the 'Nation' column with NOC codes
vt['Nation'] = vt['Nation'].replace(country_to_noc)

In [21]:
fx

   Rank           Athlete Nation    D      E   ND   Total  round  year
0     1   MyKayla Skinner    USA  6.4  8.350  0.0  14.750  final  2014
1     2     Jessica Lopez    VEN  5.7  8.775  0.0  14.475  final  2014
2     3   Yesenia Ferrera    CUB  6.2  8.200  0.0  14.400  final  2014
3     4  Daniele Hypolito    BRA  5.3  8.700  0.0  14.000  final  2014
4     5     Isabelle Cruz    BRA  5.3  7.950  0.0  13.250  final  2014
5     6     Madison Desch    USA  5.6  7.300  0.0  12.900  final  2014
6     7   Amaranta Torres    MEX  5.0  6.550  0.0  11.550  final  2014
7     8    Merlina Galera    ARG  5.2  5.500  0.0  10.700  final  2014

In [22]:
# fx.to_csv('clean_pan_american2014fx.csv', index=False)
# vt.to_csv('clean_pan_american2014vt.csv', index=False)
# ub.to_csv('clean_pan_american2014ub.csv', index=False)
# bb.to_csv('clean_pan_american2014bb.csv', index=False)