In [1]:
import pandas as pd
import numpy as np

In [3]:
lsub = pd.read_csv('../Data/lsu-bat.csv')

In [4]:
lsup = pd.read_csv('../Data/lsu-pitch.csv')

In [5]:
lsup.columns

Index(['Rk', 'Name', 'Age', 'W', 'L', 'W-L%', 'ERA', 'G', 'GS', 'GF', 'CG',
       'SHO', 'SV', 'IP', 'H', 'R', 'ER', 'HR', 'BB', 'IBB', 'SO', 'HBP', 'BK',
       'WP', 'BF', 'WHIP', 'H9', 'HR9', 'BB9', 'SO9', 'SO/W', 'Notes'],
      dtype='object')

In [6]:
lsup

,Rk,Name,Age,W,L,W-L%,ERA,G,GS,GF,...,BK,WP,BF,WHIP,H9,HR9,BB9,SO9,SO/W,Notes
0,1.0,Nate Ackenhausen*,21,2,0,1.000,3.63,15,0,NaN,...,0,5,95,1.299,6.4,1.6,5.2,9.7,1.85,NaN
1,2.0,Micah Bucknam,19,0,0,NaN,11.57,8,0,NaN,...,0,1,35,1.571,10.3,5.1,3.9,18.0,4.67,NaN
2,3.0,Javen Coleman*,21,1,2,0.333,6.39,7,3,NaN,...,0,0,62,1.658,6.4,2.1,8.5,13.5,1.58,NaN
3,4.0,Bryce Collins,23,2,1,0.667,7.47,15,0,NaN,...,0,4,79,1.787,6.9,0.6,9.2,10.3,1.13,NaN
4,5.0,Riley Cooper*,21,4,3,0.571,5.02,27,3,NaN,...,1,3,239,1.442,10.0,1.0,2.9,9.3,3.18,NaN
5,6.0,Samuel Dutton,20,0,0,NaN,6.05,18,0,NaN,...,0,4,94,1.862,14.4,1.9,2.3,8.4,3.60,NaN
6,7.0,Garrett Edwards,21,4,0,1.000,1.93,10,0,NaN,...,0,3,93,0.900,6.2,0.4,1.9,10.4,5.40,NaN
7,8.0,Ty Floyd,21,7,0,1.000,4.50,17,15,NaN,...,2,5,336,1.218,7.3,1.7,3.7,10.7,2.91,NaN
8,9.0,Gavin Guidry,19,3,0,1.000,3.42,19,1,NaN,...,0,10,103,1.141,6.1,0.4,4.2,13.7,3.27,NaN
9,10.0,Will Hellmers,--,0,0,NaN,9.00,7,0,NaN,...,0,2,57,1.727,8.2,1.6,7.4,11.5,1.56,NaN
10,11.0,Griffin Herring*,20,4,2,0.667,4.55,17,0,NaN,...,1,3,142,1.584,8.8,0.0,5.5,10.6,1.94,NaN
11,12.0,Thatcher Hurd,20,6,2,0.750,6.49,20,10,NaN,...,0,8,240,1.695,9.3,1.4,6.0,12.4,2.09,NaN
12,13.0,Christian Little,19,2,2,0.500,7.09,18,8,NaN,...,0,2,155,1.667,7.6,0.8,7.4,11.2,1.52,NaN
13,14.0,Aiden Moffett?,--,0,0,NaN,inf,1,0,NaN,...,0,1,4,NaN,NaN,NaN,NaN,NaN,0.00,NaN
14,15.0,Blake Money,21,1,0,1.000,5.73,18,2,NaN,...,0,2,150,1.303,8.5,1.6,3.3,7.6,2.33,NaN
15,16.0,Chase Shores?,--,0,1,0.000,1.96,7,4,NaN,...,0,0,77,1.309,7.4,0.0,4.4,7.4,1.67,NaN
16,17.0,Paul Skenes,21,12,2,0.857,1.77,17,17,NaN,...,0,7,406,0.776,5.5,0.6,1.5,15.8,10.44,NaN
17,NaN,17 Players,20.5,48,15,0.762,4.54,63,63,NaN,...,4,60,2367,1.310,7.7,1.1,4.1,11.6,2.85,NaN

In [7]:
lsup = lsup.sort_values(by=['BF'], ascending=False)

In [8]:
lsup

,Rk,Name,Age,W,L,W-L%,ERA,G,GS,GF,...,BK,WP,BF,WHIP,H9,HR9,BB9,SO9,SO/W,Notes
17,NaN,17 Players,20.5,48,15,0.762,4.54,63,63,NaN,...,4,60,2367,1.310,7.7,1.1,4.1,11.6,2.85,NaN
16,17.0,Paul Skenes,21,12,2,0.857,1.77,17,17,NaN,...,0,7,406,0.776,5.5,0.6,1.5,15.8,10.44,NaN
7,8.0,Ty Floyd,21,7,0,1.000,4.50,17,15,NaN,...,2,5,336,1.218,7.3,1.7,3.7,10.7,2.91,NaN
11,12.0,Thatcher Hurd,20,6,2,0.750,6.49,20,10,NaN,...,0,8,240,1.695,9.3,1.4,6.0,12.4,2.09,NaN
4,5.0,Riley Cooper*,21,4,3,0.571,5.02,27,3,NaN,...,1,3,239,1.442,10.0,1.0,2.9,9.3,3.18,NaN
12,13.0,Christian Little,19,2,2,0.500,7.09,18,8,NaN,...,0,2,155,1.667,7.6,0.8,7.4,11.2,1.52,NaN
14,15.0,Blake Money,21,1,0,1.000,5.73,18,2,NaN,...,0,2,150,1.303,8.5,1.6,3.3,7.6,2.33,NaN
10,11.0,Griffin Herring*,20,4,2,0.667,4.55,17,0,NaN,...,1,3,142,1.584,8.8,0.0,5.5,10.6,1.94,NaN
8,9.0,Gavin Guidry,19,3,0,1.000,3.42,19,1,NaN,...,0,10,103,1.141,6.1,0.4,4.2,13.7,3.27,NaN
0,1.0,Nate Ackenhausen*,21,2,0,1.000,3.63,15,0,NaN,...,0,5,95,1.299,6.4,1.6,5.2,9.7,1.85,NaN
5,6.0,Samuel Dutton,20,0,0,NaN,6.05,18,0,NaN,...,0,4,94,1.862,14.4,1.9,2.3,8.4,3.60,NaN
6,7.0,Garrett Edwards,21,4,0,1.000,1.93,10,0,NaN,...,0,3,93,0.900,6.2,0.4,1.9,10.4,5.40,NaN
3,4.0,Bryce Collins,23,2,1,0.667,7.47,15,0,NaN,...,0,4,79,1.787,6.9,0.6,9.2,10.3,1.13,NaN
15,16.0,Chase Shores?,--,0,1,0.000,1.96,7,4,NaN,...,0,0,77,1.309,7.4,0.0,4.4,7.4,1.67,NaN
2,3.0,Javen Coleman*,21,1,2,0.333,6.39,7,3,NaN,...,0,0,62,1.658,6.4,2.1,8.5,13.5,1.58,NaN
9,10.0,Will Hellmers,--,0,0,NaN,9.00,7,0,NaN,...,0,2,57,1.727,8.2,1.6,7.4,11.5,1.56,NaN
1,2.0,Micah Bucknam,19,0,0,NaN,11.57,8,0,NaN,...,0,1,35,1.571,10.3,5.1,3.9,18.0,4.67,NaN
13,14.0,Aiden Moffett?,--,0,0,NaN,inf,1,0,NaN,...,0,1,4,NaN,NaN,NaN,NaN,NaN,0.00,NaN

In [9]:
lsup = lsup[1:]

In [10]:
lsup = lsup.drop(columns=['Rk', 'Notes'])

In [11]:
lsup = lsup.drop(columns=['GF', 'CG'])

In [12]:
lsup.columns

Index(['Name', 'Age', 'W', 'L', 'W-L%', 'ERA', 'G', 'GS', 'SHO', 'SV', 'IP',
       'H', 'R', 'ER', 'HR', 'BB', 'IBB', 'SO', 'HBP', 'BK', 'WP', 'BF',
       'WHIP', 'H9', 'HR9', 'BB9', 'SO9', 'SO/W'],
      dtype='object')

In [13]:
lsup = lsup.drop(columns=['BK', 'IBB', 'W-L%'])

In [14]:
lsup

,Name,Age,W,L,ERA,G,GS,SHO,SV,IP,...,SO,HBP,WP,BF,WHIP,H9,HR9,BB9,SO9,SO/W
16,Paul Skenes,21,12,2,1.77,17,17,0,0,107.0,...,188,3,7,406,0.776,5.5,0.6,1.5,15.8,10.44
7,Ty Floyd,21,7,0,4.50,17,15,0,1,78.0,...,93,12,5,336,1.218,7.3,1.7,3.7,10.7,2.91
11,Thatcher Hurd,20,6,2,6.49,20,10,0,3,51.1,...,71,2,8,240,1.695,9.3,1.4,6.0,12.4,2.09
4,Riley Cooper*,21,4,3,5.02,27,3,0,0,52.0,...,54,4,3,239,1.442,10.0,1.0,2.9,9.3,3.18
12,Christian Little,19,2,2,7.09,18,8,0,2,33.0,...,41,2,2,155,1.667,7.6,0.8,7.4,11.2,1.52
14,Blake Money,21,1,0,5.73,18,2,0,0,33.0,...,28,4,2,150,1.303,8.5,1.6,3.3,7.6,2.33
10,Griffin Herring*,20,4,2,4.55,17,0,0,2,29.2,...,35,5,3,142,1.584,8.8,0.0,5.5,10.6,1.94
8,Gavin Guidry,19,3,0,3.42,19,1,0,3,23.2,...,36,2,10,103,1.141,6.1,0.4,4.2,13.7,3.27
0,Nate Ackenhausen*,21,2,0,3.63,15,0,0,2,22.1,...,24,1,5,95,1.299,6.4,1.6,5.2,9.7,1.85
5,Samuel Dutton,20,0,0,6.05,18,0,0,0,19.1,...,18,0,4,94,1.862,14.4,1.9,2.3,8.4,3.60
6,Garrett Edwards,21,4,0,1.93,10,0,0,1,23.1,...,27,0,3,93,0.900,6.2,0.4,1.9,10.4,5.40
3,Bryce Collins,23,2,1,7.47,15,0,0,1,15.2,...,18,4,4,79,1.787,6.9,0.6,9.2,10.3,1.13
15,Chase Shores?,--,0,1,1.96,7,4,0,0,18.1,...,15,3,0,77,1.309,7.4,0.0,4.4,7.4,1.67
2,Javen Coleman*,21,1,2,6.39,7,3,0,0,12.2,...,19,2,0,62,1.658,6.4,2.1,8.5,13.5,1.58
9,Will Hellmers,--,0,0,9.00,7,0,0,0,11.0,...,14,4,2,57,1.727,8.2,1.6,7.4,11.5,1.56
1,Micah Bucknam,19,0,0,11.57,8,0,0,0,7.0,...,14,5,1,35,1.571,10.3,5.1,3.9,18.0,4.67
13,Aiden Moffett?,--,0,0,inf,1,0,0,0,0.0,...,0,1,1,4,NaN,NaN,NaN,NaN,NaN,0.00

In [15]:
lsup.columns

Index(['Name', 'Age', 'W', 'L', 'ERA', 'G', 'GS', 'SHO', 'SV', 'IP', 'H', 'R',
       'ER', 'HR', 'BB', 'SO', 'HBP', 'WP', 'BF', 'WHIP', 'H9', 'HR9', 'BB9',
       'SO9', 'SO/W'],
      dtype='object')

In [16]:
lsub.head()

,Rk,Name,Age,G,PA,AB,R,H,2B,3B,...,OBP,SLG,OPS,TB,GDP,HBP,SH,SF,IBB,Notes
0,1.0,Cade Beloso*,23,50,198,158,39,50,4,1,...,0.442,0.620,1.062,98,NaN,9,1,2,NaN,NaN
1,2.0,Dylan Crews,21,63,304,226,89,98,15,1,...,0.576,0.735,1.310,166,NaN,12,0,1,NaN,NaN
2,3.0,Gavin Dugas,23,60,268,198,70,57,10,2,...,0.453,0.586,1.039,116,NaN,30,1,5,NaN,NaN
3,4.0,Ethan Frey,19,18,22,18,3,5,1,0,...,0.364,0.333,0.697,6,NaN,0,0,1,NaN,NaN
4,5.0,Gavin Guidry,19,31,9,7,4,1,0,0,...,0.333,0.143,0.476,1,NaN,1,0,0,NaN,NaN

In [17]:
lsub.columns

Index(['Rk', 'Name', 'Age', 'G', 'PA', 'AB', 'R', 'H', '2B', '3B', 'HR', 'RBI',
       'SB', 'CS', 'BB', 'SO', 'BA', 'OBP', 'SLG', 'OPS', 'TB', 'GDP', 'HBP',
       'SH', 'SF', 'IBB', 'Notes'],
      dtype='object')

In [18]:
lsub = lsub.drop(columns=['IBB', 'Notes', 'Rk', 'SH', 'CS', 'SB'])

In [19]:
lsub.head()

,Name,Age,G,PA,AB,R,H,2B,3B,HR,...,BB,SO,BA,OBP,SLG,OPS,TB,GDP,HBP,SF
0,Cade Beloso*,23,50,198,158,39,50,4,1,14,...,28,26,0.317,0.442,0.620,1.062,98,NaN,9,2
1,Dylan Crews,21,63,304,226,89,98,15,1,17,...,65,40,0.434,0.576,0.735,1.310,166,NaN,12,1
2,Gavin Dugas,23,60,268,198,70,57,10,2,15,...,34,58,0.288,0.453,0.586,1.039,116,NaN,30,5
3,Ethan Frey,19,18,22,18,3,5,1,0,0,...,3,6,0.278,0.364,0.333,0.697,6,NaN,0,1
4,Gavin Guidry,19,31,9,7,4,1,0,0,0,...,1,4,0.143,0.333,0.143,0.476,1,NaN,1,0

In [20]:
lsub = lsub.sort_values(by=['PA'], ascending=False)

In [21]:
lsub

,Name,Age,G,PA,AB,R,H,2B,3B,HR,...,BB,SO,BA,OBP,SLG,OPS,TB,GDP,HBP,SF
19,19 Players,21.1,63,2676,2126,588,668,113,15,133,...,367,505,0.314,0.438,0.569,1.007,1210,NaN,131,38
1,Dylan Crews,21,63,304,226,89,98,15,1,17,...,65,40,0.434,0.576,0.735,1.310,166,NaN,12,1
10,Tre' Morgan*,20,61,292,237,60,74,12,3,9,...,33,28,0.312,0.425,0.502,0.927,119,NaN,17,5
16,Jordan Thompson,21,63,275,220,49,60,12,1,11,...,32,56,0.273,0.401,0.486,0.887,107,NaN,17,3
18,Tommy White,20,58,271,236,59,89,22,0,22,...,21,32,0.377,0.439,0.750,1.189,177,NaN,9,5
2,Gavin Dugas,23,60,268,198,70,57,10,2,15,...,34,58,0.288,0.453,0.586,1.039,116,NaN,30,5
6,Jared Jones?,--,52,199,158,37,48,12,0,14,...,36,69,0.304,0.427,0.646,1.073,102,NaN,1,4
0,Cade Beloso*,23,50,198,158,39,50,4,1,14,...,28,26,0.317,0.442,0.620,1.062,98,NaN,9,2
5,Brayden Jobert*,22,52,195,162,34,49,8,1,11,...,20,48,0.303,0.415,0.568,0.983,92,NaN,12,1
14,Josh Pearson*,20,47,143,111,24,28,4,3,3,...,25,31,0.252,0.406,0.423,0.829,47,NaN,5,2
17,Hayden Travinski,--,36,109,89,29,36,5,0,10,...,15,19,0.405,0.505,0.798,1.302,71,NaN,4,1
7,Paxton Kling?,--,51,103,87,29,25,5,2,4,...,9,26,0.287,0.392,0.529,0.921,46,NaN,6,0
9,Alex Milazzo,22,47,99,82,19,24,1,0,0,...,10,18,0.293,0.366,0.305,0.671,25,NaN,0,1
11,Brady Neal*,18,26,95,67,18,14,1,1,3,...,21,27,0.209,0.411,0.388,0.799,26,NaN,4,3
12,Ben Nippolt*,22,47,59,42,9,8,1,0,0,...,10,9,0.191,0.368,0.214,0.583,9,NaN,3,2
3,Ethan Frey,19,18,22,18,3,5,1,0,0,...,3,6,0.278,0.364,0.333,0.697,6,NaN,0,1
8,Jack Merrifield,23,24,15,9,2,0,0,0,0,...,3,1,0.000,0.267,0.000,0.267,0,NaN,1,2
13,Mic Paul?,--,12,10,9,5,1,0,0,0,...,1,3,0.111,0.200,0.111,0.311,1,NaN,0,0
15,Josh Stevenson*,21,24,10,10,9,1,0,0,0,...,0,4,0.100,0.100,0.100,0.200,1,NaN,0,0
4,Gavin Guidry,19,31,9,7,4,1,0,0,0,...,1,4,0.143,0.333,0.143,0.476,1,NaN,1,0

In [22]:
lsub = lsub[1:]

In [23]:
lsub

,Name,Age,G,PA,AB,R,H,2B,3B,HR,...,BB,SO,BA,OBP,SLG,OPS,TB,GDP,HBP,SF
1,Dylan Crews,21,63,304,226,89,98,15,1,17,...,65,40,0.434,0.576,0.735,1.310,166,NaN,12,1
10,Tre' Morgan*,20,61,292,237,60,74,12,3,9,...,33,28,0.312,0.425,0.502,0.927,119,NaN,17,5
16,Jordan Thompson,21,63,275,220,49,60,12,1,11,...,32,56,0.273,0.401,0.486,0.887,107,NaN,17,3
18,Tommy White,20,58,271,236,59,89,22,0,22,...,21,32,0.377,0.439,0.750,1.189,177,NaN,9,5
2,Gavin Dugas,23,60,268,198,70,57,10,2,15,...,34,58,0.288,0.453,0.586,1.039,116,NaN,30,5
6,Jared Jones?,--,52,199,158,37,48,12,0,14,...,36,69,0.304,0.427,0.646,1.073,102,NaN,1,4
0,Cade Beloso*,23,50,198,158,39,50,4,1,14,...,28,26,0.317,0.442,0.620,1.062,98,NaN,9,2
5,Brayden Jobert*,22,52,195,162,34,49,8,1,11,...,20,48,0.303,0.415,0.568,0.983,92,NaN,12,1
14,Josh Pearson*,20,47,143,111,24,28,4,3,3,...,25,31,0.252,0.406,0.423,0.829,47,NaN,5,2
17,Hayden Travinski,--,36,109,89,29,36,5,0,10,...,15,19,0.405,0.505,0.798,1.302,71,NaN,4,1
7,Paxton Kling?,--,51,103,87,29,25,5,2,4,...,9,26,0.287,0.392,0.529,0.921,46,NaN,6,0
9,Alex Milazzo,22,47,99,82,19,24,1,0,0,...,10,18,0.293,0.366,0.305,0.671,25,NaN,0,1
11,Brady Neal*,18,26,95,67,18,14,1,1,3,...,21,27,0.209,0.411,0.388,0.799,26,NaN,4,3
12,Ben Nippolt*,22,47,59,42,9,8,1,0,0,...,10,9,0.191,0.368,0.214,0.583,9,NaN,3,2
3,Ethan Frey,19,18,22,18,3,5,1,0,0,...,3,6,0.278,0.364,0.333,0.697,6,NaN,0,1
8,Jack Merrifield,23,24,15,9,2,0,0,0,0,...,3,1,0.000,0.267,0.000,0.267,0,NaN,1,2
13,Mic Paul?,--,12,10,9,5,1,0,0,0,...,1,3,0.111,0.200,0.111,0.311,1,NaN,0,0
15,Josh Stevenson*,21,24,10,10,9,1,0,0,0,...,0,4,0.100,0.100,0.100,0.200,1,NaN,0,0
4,Gavin Guidry,19,31,9,7,4,1,0,0,0,...,1,4,0.143,0.333,0.143,0.476,1,NaN,1,0

In [24]:
lsub = lsub.drop(columns=['GDP'])

In [25]:
lsub

,Name,Age,G,PA,AB,R,H,2B,3B,HR,RBI,BB,SO,BA,OBP,SLG,OPS,TB,HBP,SF
1,Dylan Crews,21,63,304,226,89,98,15,1,17,67,65,40,0.434,0.576,0.735,1.310,166,12,1
10,Tre' Morgan*,20,61,292,237,60,74,12,3,9,47,33,28,0.312,0.425,0.502,0.927,119,17,5
16,Jordan Thompson,21,63,275,220,49,60,12,1,11,49,32,56,0.273,0.401,0.486,0.887,107,17,3
18,Tommy White,20,58,271,236,59,89,22,0,22,97,21,32,0.377,0.439,0.750,1.189,177,9,5
2,Gavin Dugas,23,60,268,198,70,57,10,2,15,42,34,58,0.288,0.453,0.586,1.039,116,30,5
6,Jared Jones?,--,52,199,158,37,48,12,0,14,45,36,69,0.304,0.427,0.646,1.073,102,1,4
0,Cade Beloso*,23,50,198,158,39,50,4,1,14,41,28,26,0.317,0.442,0.620,1.062,98,9,2
5,Brayden Jobert*,22,52,195,162,34,49,8,1,11,42,20,48,0.303,0.415,0.568,0.983,92,12,1
14,Josh Pearson*,20,47,143,111,24,28,4,3,3,25,25,31,0.252,0.406,0.423,0.829,47,5,2
17,Hayden Travinski,--,36,109,89,29,36,5,0,10,29,15,19,0.405,0.505,0.798,1.302,71,4,1
7,Paxton Kling?,--,51,103,87,29,25,5,2,4,9,9,26,0.287,0.392,0.529,0.921,46,6,0
9,Alex Milazzo,22,47,99,82,19,24,1,0,0,15,10,18,0.293,0.366,0.305,0.671,25,0,1
11,Brady Neal*,18,26,95,67,18,14,1,1,3,9,21,27,0.209,0.411,0.388,0.799,26,4,3
12,Ben Nippolt*,22,47,59,42,9,8,1,0,0,7,10,9,0.191,0.368,0.214,0.583,9,3,2
3,Ethan Frey,19,18,22,18,3,5,1,0,0,9,3,6,0.278,0.364,0.333,0.697,6,0,1
8,Jack Merrifield,23,24,15,9,2,0,0,0,0,4,3,1,0.000,0.267,0.000,0.267,0,1,2
13,Mic Paul?,--,12,10,9,5,1,0,0,0,0,1,3,0.111,0.200,0.111,0.311,1,0,0
15,Josh Stevenson*,21,24,10,10,9,1,0,0,0,1,0,4,0.100,0.100,0.100,0.200,1,0,0
4,Gavin Guidry,19,31,9,7,4,1,0,0,0,1,1,4,0.143,0.333,0.143,0.476,1,1,0