In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import seaborn as sns

In [2]:
raw_data = pd.read_csv('athlete_events.csv')
noc = pd.read_csv('noc_regions.csv')

In [3]:
raw_data

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271111,135569,Andrzej ya,M,29.0,179.0,89.0,Poland-1,POL,1976 Winter,1976,Winter,Innsbruck,Luge,Luge Mixed (Men)'s Doubles,NaN
271112,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NaN
271113,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",NaN
271114,135571,Tomasz Ireneusz ya,M,30.0,185.0,96.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,NaN
271115,135571,Tomasz Ireneusz ya,M,34.0,185.0,96.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,NaN

In [4]:
df = raw_data.loc[raw_data['Sport']=='Gymnastics']

In [5]:
df.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
41,17,Paavo Johannes Aaltonen,M,28.0,175.0,64.0,Finland,FIN,1948 Summer,1948,Summer,London,Gymnastics,Gymnastics Men's Individual All-Around,Bronze
42,17,Paavo Johannes Aaltonen,M,28.0,175.0,64.0,Finland,FIN,1948 Summer,1948,Summer,London,Gymnastics,Gymnastics Men's Team All-Around,Gold
43,17,Paavo Johannes Aaltonen,M,28.0,175.0,64.0,Finland,FIN,1948 Summer,1948,Summer,London,Gymnastics,Gymnastics Men's Floor Exercise,NaN
44,17,Paavo Johannes Aaltonen,M,28.0,175.0,64.0,Finland,FIN,1948 Summer,1948,Summer,London,Gymnastics,Gymnastics Men's Horse Vault,Gold
45,17,Paavo Johannes Aaltonen,M,28.0,175.0,64.0,Finland,FIN,1948 Summer,1948,Summer,London,Gymnastics,Gymnastics Men's Parallel Bars,NaN

In [6]:
df.tail()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
270911,135479,Tanja uti (-Kober),F,25.0,NaN,NaN,Yugoslavia,YUG,1952 Summer,1952,Summer,Helsinki,Gymnastics,Gymnastics Women's Balance Beam,NaN
270914,135481,"Jules Alexis ""Louis"" Zutter",M,30.0,NaN,NaN,Switzerland,SUI,1896 Summer,1896,Summer,Athina,Gymnastics,Gymnastics Men's Horse Vault,Silver
270915,135481,"Jules Alexis ""Louis"" Zutter",M,30.0,NaN,NaN,Switzerland,SUI,1896 Summer,1896,Summer,Athina,Gymnastics,Gymnastics Men's Parallel Bars,Silver
270916,135481,"Jules Alexis ""Louis"" Zutter",M,30.0,NaN,NaN,Switzerland,SUI,1896 Summer,1896,Summer,Athina,Gymnastics,Gymnastics Men's Horizontal Bar,NaN
270917,135481,"Jules Alexis ""Louis"" Zutter",M,30.0,NaN,NaN,Switzerland,SUI,1896 Summer,1896,Summer,Athina,Gymnastics,Gymnastics Men's Pommelled Horse,Gold

In [7]:


#Filter out the women's events: I'm just interested in Women's Artistic Gymnastics
women_events = ['Gymnastics Women\'s Individual All-Around', 'Gymnastics Women\'s Team All-Around', 'Gymnastics Women\'s Horse Vault', 'Gymnastics Women\'s Floor Exercise',
               'Gymnastics Women\'s Uneven Bars', 'Gymnastics Women\'s Balance Beam']
womens = df.loc[df['Event'].isin(women_events)]

In [8]:
womens['Year'].unique()

array([1972, 2008, 1960, 1952, 1964, 2012, 1980, 1984, 1928, 1948, 2004,
       1968, 1988, 1992, 2016, 1996, 2000, 1976, 1956, 1936])

In [9]:
#Replace Event names to something less wordy
womens['Event'] = womens['Event'].str.replace(
    'Gymnastics Women\'s Individual All-Around', 'All-Around')

/var/folders/j_/555m2zps099832fjh_m8jjnc0000gn/T/ipykernel_12465/1756511868.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  womens['Event'] = womens['Event'].str.replace(

In [10]:
womens

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
676,394,Irene Abel,F,19.0,160.0,48.0,East Germany,GDR,1972 Summer,1972,Summer,Munich,Gymnastics,All-Around,NaN
677,394,Irene Abel,F,19.0,160.0,48.0,East Germany,GDR,1972 Summer,1972,Summer,Munich,Gymnastics,Gymnastics Women's Team All-Around,Silver
678,394,Irene Abel,F,19.0,160.0,48.0,East Germany,GDR,1972 Summer,1972,Summer,Munich,Gymnastics,Gymnastics Women's Floor Exercise,NaN
679,394,Irene Abel,F,19.0,160.0,48.0,East Germany,GDR,1972 Summer,1972,Summer,Munich,Gymnastics,Gymnastics Women's Horse Vault,NaN
680,394,Irene Abel,F,19.0,160.0,48.0,East Germany,GDR,1972 Summer,1972,Summer,Munich,Gymnastics,Gymnastics Women's Uneven Bars,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
270906,135479,Tanja uti (-Kober),F,25.0,NaN,NaN,Yugoslavia,YUG,1952 Summer,1952,Summer,Helsinki,Gymnastics,Gymnastics Women's Team All-Around,NaN
270908,135479,Tanja uti (-Kober),F,25.0,NaN,NaN,Yugoslavia,YUG,1952 Summer,1952,Summer,Helsinki,Gymnastics,Gymnastics Women's Floor Exercise,NaN
270909,135479,Tanja uti (-Kober),F,25.0,NaN,NaN,Yugoslavia,YUG,1952 Summer,1952,Summer,Helsinki,Gymnastics,Gymnastics Women's Horse Vault,NaN
270910,135479,Tanja uti (-Kober),F,25.0,NaN,NaN,Yugoslavia,YUG,1952 Summer,1952,Summer,Helsinki,Gymnastics,Gymnastics Women's Uneven Bars,NaN
270911,135479,Tanja uti (-Kober),F,25.0,NaN,NaN,Yugoslavia,YUG,1952 Summer,1952,Summer,Helsinki,Gymnastics,Gymnastics Women's Balance Beam,NaN

In [11]:
event_mapping = {
    "Gymnastics Women's Team All-Around": "Team",
    "Gymnastics Women's Horse Vault": "Vault",
    "Gymnastics Women's Balance Beam": "Balance Beam",
    "Gymnastics Women's Uneven Bars": "Uneven Bars"
}

for old_event, new_event in event_mapping.items():
    womens['Event'] = womens['Event'].str.replace(old_event, new_event)

/var/folders/j_/555m2zps099832fjh_m8jjnc0000gn/T/ipykernel_12465/316859081.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  womens['Event'] = womens['Event'].str.replace(old_event, new_event)

In [12]:
womens["Event"]

676                              All-Around
677                                    Team
678       Gymnastics Women's Floor Exercise
679                                   Vault
680                             Uneven Bars
                        ...
270906                                 Team
270908    Gymnastics Women's Floor Exercise
270909                                Vault
270910                          Uneven Bars
270911                         Balance Beam
Name: Event, Length: 8947, dtype: object

In [13]:
womens['Event'] = womens['Event'].str.replace(
    'Gymnastics Women\'s Floor Exercise', 'Floor')

/var/folders/j_/555m2zps099832fjh_m8jjnc0000gn/T/ipykernel_12465/662766916.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  womens['Event'] = womens['Event'].str.replace(

In [14]:
womens['Event'].unique()

array(['All-Around', 'Team', 'Floor', 'Vault', 'Uneven Bars',
       'Balance Beam'], dtype=object)

In [15]:
womens.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8947 entries, 676 to 270911
Data columns (total 15 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      8947 non-null   int64
 1   Name    8947 non-null   object
 2   Sex     8947 non-null   object
 3   Age     8867 non-null   float64
 4   Height  7586 non-null   float64
 5   Weight  7523 non-null   float64
 6   Team    8947 non-null   object
 7   NOC     8947 non-null   object
 8   Games   8947 non-null   object
 9   Year    8947 non-null   int64
 10  Season  8947 non-null   object
 11  City    8947 non-null   object
 12  Sport   8947 non-null   object
 13  Event   8947 non-null   object
 14  Medal   653 non-null    object
dtypes: float64(3), int64(2), object(10)
memory usage: 1.1+ MB

In [16]:
woman = womens

In [17]:
# woman.to_csv('woman_big.csv', index=False)

In [19]:
df = womens.copy()

In [ ]:
womens = womens.dropna(subset=['Medal'])

In [ ]:
womens.head()

In [ ]:
womens.info()

In [ ]:
womens["Medal"].nunique()

In [ ]:
# womens.to_csv('woman_small.csv', index=False)

In [ ]:
g = sns.catplot(data=womens, kind='count', x='Team', order = womens['Team'].value_counts().index, height=4, aspect=3).set_xticklabels(rotation=90)
g.fig.suptitle("Total number of Olympic medals in Women's Artistic Gymnastics: 1928-2016")
a = womens['Team'].value_counts().to_frame()
a.iloc[0:10]

In [ ]:


sns.set_palette('Blues')
beam = womens.loc[womens['Event']=='Balance Beam',]
beam.reset_index(drop=True, inplace=True)

In [ ]:
g = sns.catplot(data=beam, kind='count', x='Team', order = beam['Team'].value_counts().index, height=4, aspect=3).set_xticklabels(rotation=90)
g.fig.suptitle("Olympic Balance Beam Medals")
beam['Team'].value_counts().to_frame()

In [ ]:
floor = womens.loc[womens['Event']=='Floor',]
floor.reset_index(drop=True, inplace=True)

In [ ]:
f = sns.catplot(data=floor, kind='count', x='Team', order = floor['Team'].value_counts().index, height=4, aspect=3).set_xticklabels(rotation=90)
f.fig.suptitle("Olympic Floor Exercise Medals")
floor['Team'].value_counts().to_frame()

In [ ]:
bars = womens.loc[womens['Event']=='Uneven Bars',]
bars.reset_index(drop=True, inplace=True)

In [ ]:
ub = sns.catplot(data=bars, kind='count', x='Team', order = bars['Team'].value_counts().index, height=4, aspect=3).set_xticklabels(rotation=90)
ub.fig.suptitle("Olympic Uneven Bars Medals")
bars['Team'].value_counts().to_frame()

In [ ]:
vault = womens.loc[womens['Event']=='Vault',]
vault.reset_index(drop=True, inplace=True)

v = sns.catplot(data=vault, kind='count', x='Team', order = vault['Team'].value_counts().index, height=4, aspect=3).set_xticklabels(rotation=90)
v.fig.suptitle("Olympic Vault Medals")
vault['Team'].value_counts().to_frame()

# USA

In [ ]:
sns.set_palette('Reds')
usa = womens.loc[womens['Team']=='United States',]
usa.reset_index(drop=True, inplace=True)

In [ ]:
u = sns.catplot(data=usa, kind='count', x='Year', height=4, aspect=3).set_xticklabels(rotation=90)
u.fig.suptitle('Distribution of Medals')

# Team competition

In [ ]:
sns.set_palette('Blues')
teams = womens.loc[womens['Event']=='Team',]
teams.reset_index(drop=True, inplace=True)

In [ ]:
t = sns.catplot(data=teams, kind='count', x='Team', height=4, aspect=3, order=teams['Team'].value_counts().index).set_xticklabels(rotation=90)
t.fig.suptitle('Distribution of Team Medals')
teams['Team'].value_counts().to_frame()

In [ ]:
g = sns.catplot(data=womens, kind='count', x='Age', height=4, aspect=3).set_xticklabels(rotation=90)
g.fig.suptitle('WAG Olympic Gymnasts: Age of Gymnast')

In [ ]:
womens['Age'].value_counts().to_frame()

## Post Perfect-10 era

- Long-time gymnastics fans will remember when scoring for WAG was out of 10, and gymnasts strived to score a perfect 10 after Nadia Comaneci became the first to do so at the 1976 Olympics.
- After the 2004 Olympics, the open-ended scoring system began. Competition scores were now a combination of difficulty and execution scores.
- For the past several quads, teams like the USA have been dominating team competitions and All-Around while historically strong teams such as Russia, China, and Romania have become slightly (Russia, China) less prominent (Romania failed to qualify a team to the 2016 Rio Olympic Games).

In [ ]:
modern = womens.loc[womens['Year'].isin([2008, 2012, 2016])]

In [ ]:
modern['Year'].unique()

In [ ]:
womens.info()

In [ ]:
g = sns.catplot(data=modern, kind='count', x='NOC', order = modern['NOC'].value_counts().index).set_xticklabels(rotation=90)
g.fig.suptitle("Medal count by Country: Open-ended scoring")
modern['NOC'].value_counts().to_frame()

In [ ]:
g = sns.catplot(data=modern, kind='count', x='Age', height=4, aspect=3).set_xticklabels(rotation=90)
modern['Age'].value_counts().to_frame()

In [ ]:
grouped_modern = modern.groupby('NOC')
grouped_modern['Event'].value_counts().to_frame()

In [ ]:
modern.head()

In [ ]:
modern["Age"].value_counts()

# My EDA

In [ ]:
dfs = raw_data = pd.read_csv('athlete_events.csv')

In [ ]:
dfs = raw_data.loc[raw_data['Sport']=='Gymnastics']

In [ ]:
#Filter out the women's events: I'm just interested in Women's Artistic Gymnastics
women_events = ['Gymnastics Women\'s Individual All-Around', 'Gymnastics Women\'s Team All-Around', 'Gymnastics Women\'s Horse Vault', 'Gymnastics Women\'s Floor Exercise',
               'Gymnastics Women\'s Uneven Bars', 'Gymnastics Women\'s Balance Beam']
dfs = dfs.loc[df['Event'].isin(women_events)]

In [ ]:
dfs.info()

In [ ]:
dfs["Sport"].nunique()

In [ ]:
dfs["Sex"].nunique()

In [ ]:
dfs["Event"].nunique()

In [ ]:
dfs["Medal"].nunique()

In [ ]:
usa = dfs[dfs["NOC"]== "USA"]

In [ ]:
usa92 = usa[usa['Year'] >= 1992]

In [ ]:
usa92["Name"]

In [ ]:
names_by_year = usa92.groupby('Year')['Name'].unique().reset_index()
names_list = names_by_year.values.tolist()
names_list

In [ ]:
names_by_year["Name"]

In [ ]:
dfs=dfs.drop(columns=["Sport", "Sex", "Season"])

In [ ]:
dfs.head()

In [ ]:
dfs["Event"].nunique()

In [ ]:
dfs["ID"].nunique()

In [ ]:
dfs["Name"].nunique()

In [ ]:
df1 = dfs

In [ ]:
df1.info()

In [ ]:
df1["Team"].nunique()

In [ ]:
df1["NOC"].nunique()

In [ ]:
df1["Games"].nunique()

In [ ]:
df1["City"].nunique()

In [ ]:
df1["Event"].nunique()

In [ ]:
df1["Medal"].nunique()

In [ ]:
df1.tail()

In [ ]:
df1 = df1.drop(columns=["NOC"])

In [ ]:
df1.describe()

In [ ]:
df1.info()

In [ ]:
df1["Games_code"] = df1["Games"].astype("category").cat.codes

In [ ]:
df1["Team_code"] = df1["Team"].astype("category").cat.codes

In [ ]:
df1["City_code"] = df1["City"].astype("category").cat.codes

In [ ]:
df1["Event_code"] = df1["Event"].astype("category").cat.codes

In [ ]:
df1.head()

In [ ]:
df1 = df1.drop(columns=["Team", "City", "Event", "Games"])

In [ ]:
df1

In [ ]:

# Count of entries with a medal but no height or weight
count = 0

for index, row in df1.iterrows():
    if row['Medal'] is not np.nan and (pd.isnull(row['Height']) or pd.isnull(row['Weight'])):
        count += 1

print("Number of entries with a medal but no height or weight:", count)

In [ ]:
df1

In [ ]:
df1.info()

In [ ]:
df1["Medal"]

In [ ]:
df1["Medal_code"] = df1["Medal"].astype("category").cat.codes

In [ ]:
df1=df1.drop(columns=["Medal"])

In [ ]:
df1.fillna(0, inplace=True)

In [ ]:
df1.info()

In [ ]:
df3 = df1.drop(columns=["Name"])
named = df1.drop(columns=["Name"])

In [ ]:
df3["Medal_code"]

In [ ]:
df3.info()

In [ ]:
df3["Medal_code"].nunique()

In [ ]:
# df3.to_csv('big_nums.csv', index=False)

In [ ]:
df3[df3["Medal_code"]==-1].sum()

In [ ]:
df3[df3["Medal_code"]==1].sum()

In [ ]:
newdf = df3.drop(columns=["Medal_code"])

In [ ]:
# newdf.to_csv('small_nums.csv', index=False)

In [ ]:
df1

In [ ]:
# Setting random_state for reproducibility
df_randomized = df3.sample(frac=1, random_state=42) 
df2 = df_randomized

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [ ]:
# Assuming df is your DataFrame
X = df2.drop('Medal_code', axis=1)  # Features
y = df2['Medal_code']  # Target variable

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
# Standardize the features
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

# Create a Logistic Regression model
model = LogisticRegression(random_state=42)

# Train the model
model.fit(X_train_scaled, y_train)

# Make predictions
y_pred = model.predict(X_test_scaled)

# Evaluate the model
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

In [ ]:
results_df = pd.DataFrame({'Actual': y_test, 'Predicted': y_pred})

In [ ]:
incorrect_predictions = results_df[results_df['Actual'] != results_df['Predicted']]
print(incorrect_predictions)

In [ ]:
results_df["Predicted"].nunique()

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score


# Create a Random Forest classifier model
model = RandomForestClassifier(random_state=42)

# Train the model
model.fit(X_train, y_train)

# Make predictions
y_pred = model.predict(X_test)

# Evaluate the model
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

# Create a DataFrame to show incorrect predictions
results_df = pd.DataFrame({'Actual': y_test, 'Predicted': y_pred})
incorrect_predictions = results_df[results_df['Actual'] != results_df['Predicted']]
print("Incorrect Predictions:")
print(incorrect_predictions)
print(f'number of unique predictions: {results_df["Predicted"].nunique()} ')

In [ ]:
df1

In [ ]:
results_df

In [ ]:
combined_df = pd.concat([df1, results_df], axis=1)

In [ ]:
combined_df = combined_df.dropna()

In [ ]:
combined_df

In [ ]:
filtered_df = combined_df.loc[combined_df["Medal_code"] != -1]
filtered_df

In [ ]:
filtered_df["ID"].nunique()

In [ ]:
woman.info()

In [ ]:
woman

In [ ]:
woman['Medal'].fillna('None', inplace=True)

In [ ]:
woman["Medal"].value_counts()

In [ ]:
woman.info()

In [ ]:
average_weight = woman['Weight'].mean()

# Replace NaN values with the calculated average
woman['Weight'].fillna(average_weight, inplace=True)

In [ ]:
woman.info()

In [ ]:
average_weight = woman['Height'].mean()

# Replace NaN values with the calculated average
woman['Height'].fillna(average_weight, inplace=True)

In [ ]:
woman.info()

In [ ]:
woman.isnull().sum()

In [ ]:
woman = woman.dropna()

In [ ]:
woman.info()

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

df = woman.copy()

# Group the data by 'Year' and calculate the average age and height for each year
yearly_stats = df.groupby('Year')[['Age', 'Height']].mean().reset_index()


yearly_stats

In [ ]:
medals = woman[woman["Medal"] != "None"]

In [ ]:
medals

In [ ]:
medal_stats = medals.groupby('Year')[['Age', 'Height']].mean().reset_index()

In [ ]:
medal_stats

In [ ]:
import matplotlib.pyplot as plt

plt.plot(medal_stats['Year'].values, medal_stats['Age'].values)

In [ ]:
import matplotlib.pyplot as plt

plt.plot(medal_stats['Year'].values, medal_stats['Height'].values)

In [21]:
df=df.drop(columns=["Sex", "Team", "Games", "Season", "City", "Sport"])

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8947 entries, 676 to 270911
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      8947 non-null   int64
 1   Name    8947 non-null   object
 2   Age     8867 non-null   float64
 3   Height  7586 non-null   float64
 4   Weight  7523 non-null   float64
 5   NOC     8947 non-null   object
 6   Year    8947 non-null   int64
 7   Event   8947 non-null   object
 8   Medal   653 non-null    object
dtypes: float64(3), int64(2), object(4)
memory usage: 699.0+ KB

In [25]:
# Calculate the average of the column
Height = df['Height'].mean()
Weight = df['Weight'].mean()
Age = df['Age'].mean()


# Fill missing values with the average
df['Height'].fillna(Height, inplace=True)
df['Weight'].fillna(Weight, inplace=True)
df['Age'].fillna(Age, inplace=True)

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8947 entries, 676 to 270911
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      8947 non-null   int64
 1   Name    8947 non-null   object
 2   Age     8947 non-null   float64
 3   Height  8947 non-null   float64
 4   Weight  8947 non-null   float64
 5   NOC     8947 non-null   object
 6   Year    8947 non-null   int64
 7   Event   8947 non-null   object
 8   Medal   653 non-null    object
dtypes: float64(3), int64(2), object(4)
memory usage: 699.0+ KB

In [28]:
df['Medal'].fillna("None", inplace=True)

In [29]:
df.isnull().sum()

ID        0
Name      0
Age       0
Height    0
Weight    0
NOC       0
Year      0
Event     0
Medal     0
dtype: int64

In [31]:
df

,ID,Name,Age,Height,Weight,NOC,Year,Event,Medal
676,394,Irene Abel,19.0,160.000000,48.000000,GDR,1972,All-Around,None
677,394,Irene Abel,19.0,160.000000,48.000000,GDR,1972,Team,Silver
678,394,Irene Abel,19.0,160.000000,48.000000,GDR,1972,Floor,None
679,394,Irene Abel,19.0,160.000000,48.000000,GDR,1972,Vault,None
680,394,Irene Abel,19.0,160.000000,48.000000,GDR,1972,Uneven Bars,None
...,...,...,...,...,...,...,...,...,...
270906,135479,Tanja uti (-Kober),25.0,156.117585,47.742789,YUG,1952,Team,None
270908,135479,Tanja uti (-Kober),25.0,156.117585,47.742789,YUG,1952,Floor,None
270909,135479,Tanja uti (-Kober),25.0,156.117585,47.742789,YUG,1952,Vault,None
270910,135479,Tanja uti (-Kober),25.0,156.117585,47.742789,YUG,1952,Uneven Bars,None
270911,135479,Tanja uti (-Kober),25.0,156.117585,47.742789,YUG,1952,Balance Beam,None

In [32]:
df.columns

Index(['ID', 'Name', 'Age', 'Height', 'Weight', 'NOC', 'Year', 'Event',
       'Medal'],
      dtype='object')

In [33]:
# Define the desired column order
desired_columns = ['ID', 'Name', 'NOC', 'Year', 'Age', 'Height', 'Weight', 'Event',
       'Medal']


# Reorder the columns
df = df[desired_columns]

In [34]:
df

,ID,Name,NOC,Year,Age,Height,Weight,Event,Medal
676,394,Irene Abel,GDR,1972,19.0,160.000000,48.000000,All-Around,None
677,394,Irene Abel,GDR,1972,19.0,160.000000,48.000000,Team,Silver
678,394,Irene Abel,GDR,1972,19.0,160.000000,48.000000,Floor,None
679,394,Irene Abel,GDR,1972,19.0,160.000000,48.000000,Vault,None
680,394,Irene Abel,GDR,1972,19.0,160.000000,48.000000,Uneven Bars,None
...,...,...,...,...,...,...,...,...,...
270906,135479,Tanja uti (-Kober),YUG,1952,25.0,156.117585,47.742789,Team,None
270908,135479,Tanja uti (-Kober),YUG,1952,25.0,156.117585,47.742789,Floor,None
270909,135479,Tanja uti (-Kober),YUG,1952,25.0,156.117585,47.742789,Vault,None
270910,135479,Tanja uti (-Kober),YUG,1952,25.0,156.117585,47.742789,Uneven Bars,None
270911,135479,Tanja uti (-Kober),YUG,1952,25.0,156.117585,47.742789,Balance Beam,None

In [36]:
df.size

80523

In [35]:
modern = df.loc[df['Year'].isin([2008, 2012, 2016])]

In [37]:
modern.size

10800

In [38]:
# df.to_csv("womens_olympics", index=False)

In [39]:
# modern.to_csv("modern_womens_olympics", index=False)