In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('../cleaning/clean2020final_indiv_floor.csv')

In [3]:
df

   Rank             Gymnast  D Score  E Score  Pen.   Total Country
0     1          Jade Carey      6.3    8.066   0.0  14.366     USA
1     2     Vanessa Ferrari      5.9    8.300   0.0  14.200     ITA
2     3        Mai Murakami      5.9    8.266   0.0  14.166     JPN
3     3  Angelina Melnikova      5.9    8.266   0.0  14.166     ROC
4     5      Rebeca Andrade      5.9    8.233   0.1  14.033     BRA
5     6    Jessica Gadirova      5.6    8.400   0.0  14.000     GBR
6     7   Jennifer Gadirova      5.1    8.133   0.0  13.233     GBR
7     8  Viktoria Listunova      5.2    7.300   0.1  12.400     ROC