In [5]:
import pandas as pd
import numpy as np

In [7]:
df = pd.read_csv('../Cleaning/USOPC/USOPC_cleaned22to23women.csv')

In [8]:
df

,Name,Country,Competition,Location,Round,Apparatus,Rank,D_Score,E_Score,Penalty,Score
0,Jana ABDELSALAM,EGY,World Cup,"Doha, Qatar",final,BB,4.0,5.0,8.000,0.0,13.000
1,Jana ABDELSALAM,EGY,World Cup,"Doha, Qatar",qual,BB,6.0,5.0,7.933,0.0,12.933
2,Jana ABDELSALAM,EGY,World Cup,"Doha, Qatar",qual,UB,21.0,3.8,5.533,0.0,9.333
3,Ayesha ABDULLAHI,BRN,2022 British Gymnastics Championships,"Liverpool, England",qual,BB,41.0,3.7,6.500,0.0,10.200
4,Ayesha ABDULLAHI,BRN,2022 British Gymnastics Championships,"Liverpool, England",qual,UB,45.0,3.5,6.700,0.0,10.200
...,...,...,...,...,...,...,...,...,...,...,...
3121,Christina Zwicker,CRO,2023 Osijek Challenge Cup,"Osijek, Croatia.",final,BB,5.0,4.7,7.966,0.0,12.666
3122,Christina Zwicker,CRO,2023 Osijek Challenge Cup,"Osijek, Croatia.",qual,BB,3.0,4.6,8.100,0.0,12.700
3123,Christina Zwicker,CRO,2023 Osijek Challenge Cup,"Osijek, Croatia.",qual,UB,19.0,4.5,6.633,0.0,11.133
3124,Christina Zwicker,CRO,2023 Tel Aviv Challenge Cup,"Tel Aviv, Israel",qual,BB,11.0,4.5,7.333,0.0,11.833
3125,Christina Zwicker,CRO,2023 Tel Aviv Challenge Cup,"Tel Aviv, Israel",qual,UB,15.0,3.2,6.767,0.0,9.967