In [12]:
import pandas as pd
import numpy as np

In [13]:
lsubat = pd.read_csv('../lsu-batting.csv')
tenbat = pd.read_csv('../ten-bat-mean.csv')

In [22]:
lsupit = pd.read_csv('../lsupit_mean.csv')
tenpit = pd.read_csv('../ten-pitch-mean.csv')

In [14]:
lsubat

,2B,3B,AB,BA,BB,G,H,HBP,HR,OBP,OPS,PA,R,RBI,SF,SLG,SO,TB
0,10.4,1.2,179.5,0.3265,30.9,54.2,58.9,11.6,12.6,0.4489,1.0601,225.4,49.0,48.4,2.9,0.6114,40.7,109.5

In [15]:
tenbat

,2B,3B,AB,BA,BB,G,H,HBP,HR,OBP,OPS,PA,R,RBI,SF,SLG,SO,TB
0,8.5,1.3,173.5,0.2858,28.6,55.8,50.5,6.5,11.0,0.4061,0.9463,211.5,39.6,38.3,2.1,0.54,46.3,94.6

In [16]:
lsubat['BA'] - tenbat['BA']

0    0.0407
Name: BA, dtype: float64

In [17]:
lsubat['HR'] - tenbat['HR']

0    1.6
Name: HR, dtype: float64

In [18]:
lsubat['OBP'] - tenbat['OBP']

0    0.0428
Name: OBP, dtype: float64

### OPS - adds on-base percentage and slugging percentage to get one number that unites the two

In [19]:
lsubat['OPS'] - tenbat['OPS']

0    0.1138
Name: OPS, dtype: float64

In [20]:
lsubat['RBI'] - tenbat['RBI']

0    10.1
Name: RBI, dtype: float64

In [21]:
lsubat['SLG'] - tenbat['SLG']

0    0.0714
Name: SLG, dtype: float64

In [23]:
lsupit

,BB,BB9,BF,ER,ERA,G,GS,H,H9,HBP,...,L,R,SHO,SO,SO/W,SO9,SV,W,WHIP,WP
0,22.4,3.66,264.8,27.0,4.24,20.0,9.2,51.0,7.64,4.6,...,1.4,30.6,0.0,88.4,4.378,12.38,1.4,6.4,1.2544,6.6

In [24]:
tenpit

,BB,BB9,BF,ER,ERA,G,GS,H,H9,HBP,...,L,R,SHO,SO,SO/W,SO9,SV,W,WHIP,WP
0,13.5,2.383333,204.166667,19.333333,3.31,21.333333,8.5,43.333333,7.55,3.666667,...,2.333333,23.166667,0.0,57.5,4.833333,11.15,0.0,3.833333,1.102167,1.5

In [28]:
lsupit.T

             0
BB     22.4000
BB9     3.6600
BF    264.8000
ER     27.0000
ERA     4.2400
G      20.0000
GS      9.2000
H      51.0000
H9      7.6400
HBP     4.6000
HR      7.4000
HR9     1.0200
IP     62.2600
L       1.4000
R      30.6000
SHO     0.0000
SO     88.4000
SO/W    4.3780
SO9    12.3800
SV      1.4000
W       6.4000
WHIP    1.2544
WP      6.6000

In [26]:
lsupit['ERA'] - tenpit['ERA']

0    0.93
Name: ERA, dtype: float64

In [32]:
lsupit['H9'] - tenpit['H9']

0    0.09
Name: H9, dtype: float64

In [30]:
lsupit['SO9'] - tenpit['SO9']

0    1.23
Name: SO9, dtype: float64


### WHIP - the sum of a pitcher's walks and hits, divided by his total innings pitched. (lower number is better)

In [31]:
lsupit['WHIP'] - tenpit['WHIP']

0    0.152233
Name: WHIP, dtype: float64

In [33]:
lsupit['BB9'] - tenpit['BB9']

0    1.276667
Name: BB9, dtype: float64