1.  Connect to the bit.io Lab Environment

- NOTE:  If you are not sure how to connect to the bit.io lab environment, please see the Lab 1 instructions.   



2.  Practice some SELECT queries using outer joins

    2.1 Are there any Northwinds employees that have no orders?    

    2.2 Are there any Northwinds customers that have no orders?     

    2.3 Are there any Northwinds orders that have bad (not on file) customer numbers? 

    2.4 Are there any Shippers that have shipped no Northwinds orders?

---

2.1  The answer is  NO.  This query demonstrates this. 
```
SELECT E.employeeid, lastname, firstname, count(orderid)
	FROM "alanparadise/nw"."employees" E  LEFT OUTER JOIN
	    "alanparadise/nw"."orders" O  ON
		E.employeeid = O.employeeid 
	GROUP BY E.employeeid, lastname, firstname
	ORDER BY E.employeeid;
```

2.2 The answer is  YES.  This query demonstrates this. 
```
SELECT C.customerid, companyname, count(orderid)
    FROM "alanparadise/nw"."customers" C  LEFT OUTER JOIN
        "alanparadise/nw"."orders" O  ON
        C.customerid = O.customerid 
    GROUP BY C.customerid, companyname
    HAVING count(orderid) = 0;
```

2.3 The answer is  YES.  This query demonstrates this.
```
SELECT DISTINCT O.customerid, count(orderid)
    FROM "alanparadise/nw"."orders" O LEFT OUTER JOIN
        "alanparadise/nw"."customers" C on
        C.customerid = O.customerid 
    WHERE C.customerid is NULL
    GROUP BY O.customerid;
```

2.4 The answer is  NO.  This query demonstrates this.
```
SELECT S.shipperid, companyname, count(orderid)
	FROM "alanparadise/nw"."shippers" S  LEFT OUTER JOIN
	    "alanparadise/nw"."orders" O  ON
		S.shipperid = O.shipvia 
	GROUP BY S.shipperid, companyname;
```