2.  Practice some SELECT queries using inner joins

2.1 List each order and its Total Value (unitprice * quantity) for all orders shipping into France in descending Total Value order.  

2.2 Create a Suppliers List showing Supplier CompanyName, and names of all the products sold by each supplier located in Japan.   

2.3 Create a “Low Performers” list showing the employees who have less than $100,000 in total sales.  List the employee’s LastName, FirstName followed by their total sales volume (the total dollar value of their orders.)

---

2.1 List each order and its Total Value (unitprice * quantity) for all orders shipping into France in descending Total Value order.

---

2.2 Create a Suppliers List showing Supplier CompanyName, and names of all the products sold by each supplier located in Japan.

---

2.3 Create a “Low Performers” list showing the employees who have less than $100,000 in total sales.  List the employee’s LastName, FirstName followed by their total sales volume (the total dollar value of their orders.)