1. Which group functions will work ONLY with numeric columns?

Answer: SUM, AVG.

----

2. What is wrong with this query?

```
SELECT OrderID, SUM(UnitPrice), SUM(Quantity) 
     FROM orderdetails
     WHERE OrderID in (10248, 10249, 10250, 10251);
```

Answer: The SUMs will produce a single row in the answer set, but do not match with the level of detail of the OrderID.

---

3. Which of the following queries does NOT violate the rule regarding the balance between the SELECT statement and the GROUP BY

<!-- SELECT ProductID, SUM(UnitPrice), SUM(Quantity) 
     FROM orderdetails
     WHERE OrderID in (10248, 10249, 10250, 10251)
	GROUP BY ProductID; -->

Answer:

```
SELECT ProductID, SUM(UnitPrice), SUM(Quantity) 
     FROM orderdetails
     WHERE OrderID in (10248, 10249, 10250, 10251)
	GROUP BY ProductID;
```

---

4. A Subquery that provides a predicate in a WHERE clause in the outer query with an equals condition…

---

5. A Subquery that provides a predicate in a WHERE clause in the outer query with an “in” condition…

---

6. A Subquery that appears in a SELECT clause in the outer query …

Answer: Returns a single value: one row, one column.

---

7. A Subquery that appears in a FROM clause in the outer query …

Answer: Must have an alias.

---

8. Select the statement below that is TRUE regarding the GROUP BY.

Answer: The HAVING works with the GROUP BY like the WHERE works with the SELECT.

---

9. Which of the following statements is TRUE regarding GROUP functions?

Answer: Without a GROUP BY, the COUNT (*) will return an answer set with one row.

---

10. True or False: It possible for an inner subquery and the outer query to SELECT from different tables.

Answer: True