In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
fx18 = pd.read_csv('../../scraping/wc_18w/wc18w_fx.csv')
bb18 = pd.read_csv('../../scraping/wc_18w/wc18w_bb.csv')
ub18 = pd.read_csv('../../scraping/wc_18w/wc18w_ub.csv')
vt18 = pd.read_csv('../../scraping/wc_18w/wc18w_vt.csv')

In [4]:
fx19 = pd.read_csv('../../scraping/wc19w/wc19w_fx.csv')
bb19 = pd.read_csv('../../scraping/wc19w/wc19w_bb.csv')
ub19 = pd.read_csv('../../scraping/wc19w/wc19w_ub.csv')
vt19 = pd.read_csv('../../scraping/wc19w/wc19w_vt.csv')

In [5]:
fx17 = pd.read_csv('../../scraping/wc17w/wc17w_fx.csv')
bb17 = pd.read_csv('../../scraping/wc17w/wc17w_bb.csv')
ub17 = pd.read_csv('../../scraping/wc17w/wc17w_ub.csv')
vt17 = pd.read_csv('../../scraping/wc17w/wc17w_vt.csv')

In [6]:
fx15 = pd.read_csv('../../scraping/wc15w/wc15w_fx.csv')
bb15 = pd.read_csv('../../scraping/wc15w/wc15w_bb.csv')
ub15 = pd.read_csv('../../scraping/wc15w/wc15w_ub.csv')
vt15 = pd.read_csv('../../scraping/wc15w/wc15w_vt.csv')

In [7]:
fx11 = pd.read_csv('../../scraping/wc11w/wc11w_fx.csv')
bb11 = pd.read_csv('../../scraping/wc11w/wc11w_bb.csv')
ub11 = pd.read_csv('../../scraping/wc11w/wc11w_ub.csv')
vt11 = pd.read_csv('../../scraping/wc11w/wc11w_vt.csv')

In [8]:
fx13 = pd.read_csv('../../scraping/wc13w/wc13w_fx.csv')
bb13 = pd.read_csv('../../scraping/wc13w/wc13w_bb.csv')
ub13 = pd.read_csv('../../scraping/wc13w/wc13w_ub.csv')
vt13 = pd.read_csv('../../scraping/wc13w/wc13w_vt.csv')

In [9]:
fx14 = pd.read_csv('../../scraping/wc14w/wc14w_fx.csv')
bb14 = pd.read_csv('../../scraping/wc14w/wc14w_bb.csv')
ub14 = pd.read_csv('../../scraping/wc14w/wc14w_ub.csv')
vt14 = pd.read_csv('../../scraping/wc14w/wc14w_vt.csv')

# fx

In [10]:
# 18
# 19
# 17
# 15
# 11
# 13
# 14

In [12]:
fx11['year']=2011

In [14]:
fx13['year']=2013

In [15]:
fx14['year']=2014

In [16]:
fx15['year']=2015

In [17]:
fx17['year']=2017

In [18]:
fx18['year']=2018

In [19]:
fx19['year']=2019

In [29]:
fx13.rename(columns={'Penalty': 'Pen.'}, inplace=True)

In [32]:
fx14.rename(columns={'Penalty': 'Pen.'}, inplace=True)

In [35]:
fx15.rename(columns={'Penalty': 'Pen.'}, inplace=True)

In [38]:
fx17.rename(columns={'Penalty': 'Pen.'}, inplace=True)

In [23]:
fx19.rename(columns={'Rank': 'Position'}, inplace=True)

In [24]:
fx18.rename(columns={'Rank': 'Position'}, inplace=True)

In [42]:
combined_df = pd.concat([fx11, fx13, fx14, fx15,  fx17, fx18, fx19], ignore_index=True)

In [44]:
fx = combined_df.copy()

In [45]:
fx.head()

,Position,Gymnast,D Score,E Score,Pen.,Qual Rk,Total,year
0,1,Ksenia Afanasyeva(RUS),6.1,9.033,NaN,-10.0,15.133,2011
1,2,Sui Lu(CHN),6.1,8.966,NaN,-2.0,15.066,2011
2,3,Aly Raisman(USA),6.1,8.900,NaN,-1.0,15.000,2011
3,4,Yao Jinnan(CHN),6.0,8.866,NaN,-4.0,14.866,2011
4,5,Lauren Mitchell(AUS),6.3,8.433,NaN,-9.0,14.733,2011

In [46]:
fx = fx.drop(columns=['Qual Rk'])

In [47]:
fx['Pen.'].fillna(0, inplace=True)

In [48]:
# Define a regular expression pattern to extract the text inside parentheses
pattern = r'\(([^)]+)\)'

# Extract the text inside parentheses and create the "Nation" column
fx['Nation'] = fx['Gymnast'].str.extract(pattern)

In [50]:
# Remove the parentheses and text inside them from the "Gymnast" column
fx['Gymnast'] = fx['Gymnast'].str.replace(pattern, '', regex=True).str.strip()

In [53]:
fx.head()

   Position            Gymnast  D Score  E Score  Pen.   Total  year Nation
0         1  Ksenia Afanasyeva      6.1    9.033   0.0  15.133  2011    RUS
1         2             Sui Lu      6.1    8.966   0.0  15.066  2011    CHN
2         3        Aly Raisman      6.1    8.900   0.0  15.000  2011    USA
3         4         Yao Jinnan      6.0    8.866   0.0  14.866  2011    CHN
4         5    Lauren Mitchell      6.3    8.433   0.0  14.733  2011    AUS

In [55]:
fx['round']='final'

In [56]:
fx.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56 entries, 0 to 55
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Position  56 non-null     int64
 1   Gymnast   56 non-null     object
 2   D Score   56 non-null     float64
 3   E Score   56 non-null     float64
 4   Pen.      56 non-null     float64
 5   Total     56 non-null     float64
 6   year      56 non-null     int64
 7   Nation    32 non-null     object
 8   round     56 non-null     object
dtypes: float64(4), int64(2), object(3)
memory usage: 4.1+ KB

In [58]:
# # Assuming your DataFrame is named 'df' and you want to export it to a CSV file named 'output.csv'
# fx.to_csv('fx_world_championship_w.csv', index=False)