# Quiz 01 - Statisitical Learning

In this assessment we would using the `College` data set which can be found in the file `College.csv` on the book website. It contains a number of variables for 777 different universities and colleges in the US.

The variables are 
* `Private` : Public/Private indicator
* `Apps` : Number of applications received
* `Accept` : Number of applicants accepted
* `Enroll` : Number of new students enrolled
* `Top10perc` : New students from top 10 % of high school class 
* `Top25perc` : New students from top 25 % of high school class 
* `F.Undergrad` : Number of full-time undergraduates
* `P.Undergrad` : Number of part-time undergraduates
* `Outstate` : Out-of-state tuition
* `Room.Board` : Room and board costs
* `Books` : Estimated book costs
* `Personal` : Estimated personal spending
* `PhD` : Percent of faculty with Ph.D.’s
* `Terminal` : Percent of faculty with terminal degree 
* `S.F.Ratio` : Student/faculty ratio
* `perc.alumni` : Percent of alumni who donate
* `Expend` : Instructional expenditure per student
* `Grad.Rate` : Graduation rate

(a) Use the `read.csv()` function to read the data into `R`. Call the loaded data college. Make sure that you have the directory set to the correct location for the data

In [8]:
# your code here
college = read.csv("College.csv")
head(college)

  X                            Private Apps Accept Enroll Top10perc Top25perc
1 Abilene Christian University Yes     1660 1232   721    23        52
2 Adelphi University           Yes     2186 1924   512    16        29
3 Adrian College               Yes     1428 1097   336    22        50
4 Agnes Scott College          Yes      417  349   137    60        89
5 Alaska Pacific University    Yes      193  146    55    16        44
6 Albertson College            Yes      587  479   158    38        62
  F.Undergrad P.Undergrad Outstate Room.Board Books Personal PhD Terminal
1 2885         537         7440    3300       450   2200     70  78
2 2683        1227        12280    6450       750   1500     29  30
3 1036          99        11250    3750       400   1165     53  66
4  510          63        12960    5450       450    875     92  97
5  249         869         7560    4120       800   1500     76  72
6  678          41        13500    3335       500    675     67  73
  S.F.Ratio perc.alumni Expend Grad.Rate
1 18.1      12           7041  60
2 12.2      16          10527  56
3 12.9      30           8735  54
4  7.7      37          19016  59
5 11.9       2          10922  15
6  9.4      11           9727  55

In [9]:
# hidden test case

(b) Use the `dim()` function to produce the dimensions of the data set.

In [19]:
#dims = ?
# your code here

dims <- dim(college)
dims

[1] 777  19

In [18]:
#hidden tests

(c) Use the `pairs()` function to produce a scatterplot matrix of the first ten columns or variables of the data. Recall that you can reference the first ten columns of a `matrix A` using `A[,1:10]`

In [ ]:
#pairs = ?
# your code here
pairs <- pairs(college[,1:10])
pairs

NULL

In [16]:
#hidden test cases

(d) Use the `plot()` function to produce side-by-side boxplots of Outstate versus Private

In [ ]:
# your code here
boxplot(college$Outstate ~ college$Private, col = c("blue", "green"), main = "Outstate versus Private", 
    xlab = "Private", ylab = "Outstate")

(e) Create a new qualitative variable, called `Elite`, by binning the `Top10perc` variable.
Divide universities into two groups based on whether or not the proportion of students coming from the top `10%` of their high school classes exceeds `50 %`. 

`Elite` should contain `Yes` or `No` based on the above condition

In [ ]:
#Elite = ?
# your code here

Elite = rep("No", nrow(college))
Elite[college$Top10perc > 50] = "Yes"
Elite = as.factor(Elite)
college = data.frame(college, Elite)
fix(college)
summary(college$Elite)

In [ ]:
#hidden test cases

In [ ]:
Elite <- as.factor(Elite)
college <- data.frame(college, Elite)

(d) use the `plot()` function to produce side-by-side boxplots of Outstate versus Elite.

In [ ]:
# your code here
boxplot(college$Outstate ~ college$Elite, col = c("blue", "green"), main = "Outstate versus Elite", 
    xlab = "Elite", ylab = "Outstate")