In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('men22_23.csv')

In [3]:
df['Gender'].value_counts()

Gender
m    8578
Name: count, dtype: int64

In [4]:
df = df.drop(columns=['Gender', 'Competition', 'Location', 'Total_Score'])

In [5]:
df['year'] = df['Date'].str[:4]

In [6]:
df = df.drop(columns=['Date'])

In [7]:
df.head()

,Name,Country,Round,Apparatus,Rank,D_Score,E_Score,Penalty,Score,year
0,Fredrik AAS,NOR,qual,HB,39.0,4.6,6.700,0.0,11.300,2023
1,Fredrik AAS,NOR,qual,PH,44.0,4.4,7.800,0.0,12.200,2023
2,Fredrik Bjornevik AAS,NOR,qual,FX,54.0,4.0,8.566,0.0,12.566,2023
3,Fredrik Bjornevik AAS,NOR,qual,HB,44.0,4.6,8.166,0.0,12.766,2023
4,Fredrik Bjornevik AAS,NOR,qual,PB,54.0,4.4,8.066,0.0,12.466,2023

In [8]:
df['Name'] = df['Name'].str.lower()

In [9]:
df['Country'].fillna('none', inplace=True)
df['year'].fillna(2023, inplace=True)

In [10]:
df['Apparatus'].unique()

array(['HB', 'PH', 'FX', 'PB', 'SR', 'VT1', 'VT', 'VT2', 'hb'],
      dtype=object)

In [11]:
df['Apparatus'] = df['Apparatus'].str.upper()

In [12]:
hb = df[df['Apparatus'] == 'HB']
ph = df[df['Apparatus'] == 'PH']
fx = df[df['Apparatus'] == 'FX']
pb = df[df['Apparatus'] == 'PB']
sr = df[df['Apparatus'] == 'SR']

In [13]:
hb.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1347 entries, 0 to 8575
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Name       1347 non-null   object
 1   Country    1347 non-null   object
 2   Round      1347 non-null   object
 3   Apparatus  1347 non-null   object
 4   Rank       1347 non-null   float64
 5   D_Score    1347 non-null   float64
 6   E_Score    1347 non-null   float64
 7   Penalty    1347 non-null   float64
 8   Score      1347 non-null   float64
 9   year       1347 non-null   object
dtypes: float64(5), object(5)
memory usage: 115.8+ KB

In [14]:
values_to_remove = ['HB', 'PH', 'FX', 'PB', 'SR']

# Remove rows where 'Apparatus' is in values_to_remove
filtered_df = df[~df['Apparatus'].isin(values_to_remove)]

In [15]:
filtered_df['Apparatus'].value_counts()

Apparatus
VT1    962
VT2    516
VT     279
Name: count, dtype: int64

In [16]:
vt = filtered_df.copy()

In [17]:
sr = sr.drop(columns=['Apparatus'])
pb = pb.drop(columns=['Apparatus'])
fx = fx.drop(columns=['Apparatus'])
vt = vt.drop(columns=['Apparatus'])
ph = ph.drop(columns=['Apparatus'])
hb = hb.drop(columns=['Apparatus'])

In [18]:
sr.rename(columns={'Country': 'nation', 'D_Score': 'D Score',
                            'E_Score': 'E Score', 'Penalty': 'Pen.',
                           'Score': 'Total', 'Round': 'round'}, inplace=True)

sr=sr[['Rank', 'Name', 'nation', 'D Score', 'E Score', 'Pen.', 
                         'Total','year' , 'round' ]]

In [19]:
pb.rename(columns={'Country': 'nation', 'D_Score': 'D Score',
                            'E_Score': 'E Score', 'Penalty': 'Pen.',
                           'Score': 'Total', 'Round': 'round'}, inplace=True)

pb=pb[['Rank', 'Name', 'nation', 'D Score', 'E Score', 'Pen.', 
                         'Total','year' , 'round' ]]

In [20]:
fx.rename(columns={'Country': 'nation', 'D_Score': 'D Score',
                            'E_Score': 'E Score', 'Penalty': 'Pen.',
                           'Score': 'Total', 'Round': 'round'}, inplace=True)

fx=fx[['Rank', 'Name', 'nation', 'D Score', 'E Score', 'Pen.', 
                         'Total','year' , 'round' ]]

In [21]:
vt.rename(columns={'Country': 'nation', 'D_Score': 'D Score',
                            'E_Score': 'E Score', 'Penalty': 'Pen.',
                           'Score': 'Total', 'Round': 'round'}, inplace=True)

vt=vt[['Rank', 'Name', 'nation', 'D Score', 'E Score', 'Pen.', 
                         'Total','year' , 'round' ]]

In [22]:
ph.rename(columns={'Country': 'nation', 'D_Score': 'D Score',
                            'E_Score': 'E Score', 'Penalty': 'Pen.',
                           'Score': 'Total', 'Round': 'round'}, inplace=True)

ph=ph[['Rank', 'Name', 'nation', 'D Score', 'E Score', 'Pen.', 
                         'Total','year' , 'round' ]]

In [23]:
hb.rename(columns={'Country': 'nation', 'D_Score': 'D Score',
                            'E_Score': 'E Score', 'Penalty': 'Pen.',
                           'Score': 'Total', 'Round': 'round'}, inplace=True)

hb=hb[['Rank', 'Name', 'nation', 'D Score', 'E Score', 'Pen.', 
                         'Total','year' , 'round' ]]

In [24]:
from sklearn.preprocessing import LabelEncoder

# Assuming df is your DataFrame and 'Name' is the column you want to encode
le = LabelEncoder()

# Fit and transform the 'Name' column to create integer labels
fx['Name_encoded'] = le.fit_transform(fx['Name'])

In [25]:
fxnames = fx[['Name', 'Name_encoded']]

In [26]:
fx=fx.drop(columns=["Name"])
fx.rename(columns={'Name_encoded': 'Name'}, inplace=True)

In [27]:
from sklearn.preprocessing import LabelEncoder

# Assuming df is your DataFrame and 'Name' is the column you want to encode
le = LabelEncoder()

# Fit and transform the 'Name' column to create integer labels
fx['nation_encoded'] = le.fit_transform(fx['nation'])

# Store the mapping between integers and original objects
label_mapping_nation = dict(zip(le.transform(fx['nation']), fx['nation']))

# To revert the integers back to objects, use the label_mapping
# reverted_names = df['Name_encoded'].map(label_mapping)

In [28]:
fx=fx.drop(columns=["nation"])
fx.rename(columns={'nation_encoded': 'nation'}, inplace=True)

In [29]:
fx_encoded = pd.get_dummies(fx, columns=['round'], prefix='round')

In [30]:
fx_encoded['year'] = pd.to_numeric(fx_encoded['year'], errors='coerce').fillna(0).astype(int)

In [31]:
fx_encoded.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1365 entries, 2 to 8574
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Rank             1365 non-null   float64
 1   D Score          1365 non-null   float64
 2   E Score          1365 non-null   float64
 3   Pen.             1365 non-null   float64
 4   Total            1365 non-null   float64
 5   year             1365 non-null   int64
 6   Name             1365 non-null   int64
 7   nation           1365 non-null   int64
 8   round_AAfinal    1365 non-null   bool
 9   round_TeamFinal  1365 non-null   bool
 10  round_final      1365 non-null   bool
 11  round_qual       1365 non-null   bool
dtypes: bool(4), float64(5), int64(3)
memory usage: 101.3 KB

In [32]:
fx = fx_encoded.copy()

In [33]:
# fx.to_csv("encoded_m_olympics_fx.csv", index=False)  
# fxnames.to_csv("encoded_m_olympics_fxnames.csv", index=False)

In [34]:
from sklearn.preprocessing import LabelEncoder

# Assuming df is your DataFrame and 'Name' is the column you want to encode
le = LabelEncoder()

# Fit and transform the 'Name' column to create integer labels
hb['Name_encoded'] = le.fit_transform(hb['Name'])

In [36]:
hbnames = hb[['Name', 'Name_encoded']]

In [37]:
hb=hb.drop(columns=["Name"])
hb.rename(columns={'Name_encoded': 'Name'}, inplace=True)

In [38]:
from sklearn.preprocessing import LabelEncoder

# Assuming df is your DataFrame and 'Name' is the column you want to encode
le = LabelEncoder()

# Fit and transform the 'Name' column to create integer labels
hb['nation_encoded'] = le.fit_transform(hb['nation'])

# Store the mapping between integers and original objects
label_mapping_nation = dict(zip(le.transform(hb['nation']), hb['nation']))

# To revert the integers back to objects, use the label_mapping
# reverted_names = df['Name_encoded'].map(label_mapping)

In [39]:
hb=hb.drop(columns=["nation"])
hb.rename(columns={'nation_encoded': 'nation'}, inplace=True)

In [41]:
hb_encoded = pd.get_dummies(hb, columns=['round'], prefix='round')
hb_encoded['year'] = pd.to_numeric(hb_encoded['year'], errors='coerce').fillna(0).astype(int)

In [42]:
hb_encoded.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1347 entries, 0 to 8575
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Rank             1347 non-null   float64
 1   D Score          1347 non-null   float64
 2   E Score          1347 non-null   float64
 3   Pen.             1347 non-null   float64
 4   Total            1347 non-null   float64
 5   year             1347 non-null   int64
 6   Name             1347 non-null   int64
 7   nation           1347 non-null   int64
 8   round_AAfinal    1347 non-null   bool
 9   round_TeamFinal  1347 non-null   bool
 10  round_final      1347 non-null   bool
 11  round_qual       1347 non-null   bool
dtypes: bool(4), float64(5), int64(3)
memory usage: 100.0 KB

In [43]:
hb = hb_encoded.copy()

In [44]:
# hb.to_csv("encoded_m_olympics_hb.csv", index=False)  
# hbnames.to_csv("encoded_m_olympics_hbnames.csv", index=False)

In [45]:
from sklearn.preprocessing import LabelEncoder

# Assuming df is your DataFrame and 'Name' is the column you want to encode
le = LabelEncoder()

# Fit and transform the 'Name' column to create integer labels
pb['Name_encoded'] = le.fit_transform(pb['Name'])

In [46]:
pbnames = pb[['Name', 'Name_encoded']]

In [47]:
pb=pb.drop(columns=["Name"])
pb.rename(columns={'Name_encoded': 'Name'}, inplace=True)

In [48]:
from sklearn.preprocessing import LabelEncoder

# Assuming df is your DataFrame and 'Name' is the column you want to encode
le = LabelEncoder()

# Fit and transform the 'Name' column to create integer labels
pb['nation_encoded'] = le.fit_transform(pb['nation'])

# Store the mapping between integers and original objects
label_mapping_nation = dict(zip(le.transform(pb['nation']), pb['nation']))

# To revert the integers back to objects, use the label_mapping
# reverted_names = df['Name_encoded'].map(label_mapping)

In [49]:
pb=pb.drop(columns=["nation"])
pb.rename(columns={'nation_encoded': 'nation'}, inplace=True)

In [50]:
pb_encoded = pd.get_dummies(pb, columns=['round'], prefix='round')
pb_encoded['year'] = pd.to_numeric(pb_encoded['year'], errors='coerce').fillna(0).astype(int)

In [51]:
pb_encoded.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1339 entries, 4 to 8577
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Rank             1339 non-null   float64
 1   D Score          1339 non-null   float64
 2   E Score          1339 non-null   float64
 3   Pen.             1339 non-null   float64
 4   Total            1339 non-null   float64
 5   year             1339 non-null   int64
 6   Name             1339 non-null   int64
 7   nation           1339 non-null   int64
 8   round_AAfinal    1339 non-null   bool
 9   round_TeamFinal  1339 non-null   bool
 10  round_final      1339 non-null   bool
 11  round_qual       1339 non-null   bool
dtypes: bool(4), float64(5), int64(3)
memory usage: 99.4 KB

In [52]:
pb = pb_encoded.copy()

In [53]:
# pb.to_csv("encoded_m_olympics_pb.csv", index=False)  
# pbnames.to_csv("encoded_m_olympics_pbnames.csv", index=False)