# Introduction

Now we have learned Numpy as a package to deal with multi-dimensional data. If we are going to deal with tabular data, we will need Pandas, in particular, the DataFrame.

Let's get started!

In [1]:
import numpy as np
import pandas as pd

# Creation

## 99% of time you are going to create a dataframe from a database (a csv, excel, or a json file etc). We here create a dataframe for demonstration purpose.

In [2]:
df = pd.DataFrame({
    'Item':['Apple', "Orange", 'Banana', 'Watermelon'],
    'Quantity':[12, 10, 100, 3],
    'Price':[1, 2, 0.5, 9],
})

In [3]:
df

         Item  Quantity  Price
0       Apple        12    1.0
1      Orange        10    2.0
2      Banana       100    0.5
3  Watermelon         3    9.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Item      4 non-null      object
 1   Quantity  4 non-null      int64
 2   Price     4 non-null      float64
dtypes: float64(1), int64(1), object(1)
memory usage: 224.0+ bytes

In [5]:
df.columns

Index(['Item', 'Quantity', 'Price'], dtype='object')

In [6]:
df.index

RangeIndex(start=0, stop=4, step=1)

In [7]:
df.size

12

In [8]:
df.shape

(4, 3)

In [9]:
df.dtypes

Item         object
Quantity      int64
Price       float64
dtype: object

# Accessing

In [10]:
df['Item']

0         Apple
1        Orange
2        Banana
3    Watermelon
Name: Item, dtype: object

In [11]:
df['Price']

0    1.0
1    2.0
2    0.5
3    9.0
Name: Price, dtype: float64

In [12]:
df['Quantity']

0     12
1     10
2    100
3      3
Name: Quantity, dtype: int64

In [13]:
df['Item'][0]

'Apple'

In [14]:
df['Price'][3]

9.0

In [15]:
df.loc[0]

Item        Apple
Quantity       12
Price         1.0
Name: 0, dtype: object

In [16]:
df.loc[2]

Item        Banana
Quantity       100
Price          0.5
Name: 2, dtype: object

#Selection

In [17]:
df['Price'] > 5

0    False
1    False
2    False
3     True
Name: Price, dtype: bool

In [18]:
df[df['Price'] > 5]

         Item  Quantity  Price
3  Watermelon         3    9.0

In [19]:
df['Quantity'] < 20

0     True
1     True
2    False
3     True
Name: Quantity, dtype: bool

In [20]:
df[df['Quantity'] < 20]

         Item  Quantity  Price
0       Apple        12    1.0
1      Orange        10    2.0
3  Watermelon         3    9.0

In [21]:
result = df['Price'] < 5
result

0     True
1     True
2     True
3    False
Name: Price, dtype: bool

In [22]:
df[result]

     Item  Quantity  Price
0   Apple        12    1.0
1  Orange        10    2.0
2  Banana       100    0.5

#Adding

In [23]:
df['Total'] = df['Price'] * df['Quantity']
df

         Item  Quantity  Price  Total
0       Apple        12    1.0   12.0
1      Orange        10    2.0   20.0
2      Banana       100    0.5   50.0
3  Watermelon         3    9.0   27.0

#Statistics

In [24]:
total = df['Total']
total

0    12.0
1    20.0
2    50.0
3    27.0
Name: Total, dtype: float64

In [25]:
total.min(), total.max()

(12.0, 50.0)

In [26]:
total.mean()

27.25

In [27]:
total.std()

16.357974609753292

In [28]:
total.var()

267.5833333333333

In [29]:
total.median()

23.5

In [30]:
total.quantile(.25)

18.0

In [31]:
total.quantile([.25, .50, .75])

0.25    18.00
0.50    23.50
0.75    32.75
Name: Total, dtype: float64

In [32]:
df.describe()

         Quantity     Price      Total
count    4.000000  4.000000   4.000000
mean    31.250000  3.125000  27.250000
std     45.995471  3.966001  16.357975
min      3.000000  0.500000  12.000000
25%      8.250000  0.875000  18.000000
50%     11.000000  1.500000  23.500000
75%     34.000000  3.750000  32.750000
max    100.000000  9.000000  50.000000

# Load from a csv file

In [33]:
file = '/content/sample_data/california_housing_test.csv'
df = pd.read_csv(file)

In [35]:
df.head(10)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0
5,-119.56,36.51,37.0,1018.0,213.0,663.0,204.0,1.6635,67000.0
6,-121.43,38.63,43.0,1009.0,225.0,604.0,218.0,1.6641,67000.0
7,-120.65,35.48,19.0,2310.0,471.0,1341.0,441.0,3.2250,166900.0
8,-122.84,38.40,15.0,3080.0,617.0,1446.0,599.0,3.6696,194400.0
9,-118.02,34.08,31.0,2402.0,632.0,2830.0,603.0,2.3333,164200.0

In [36]:
df.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,3000.000000,3000.00000,3000.000000,3000.000000,3000.000000,3000.000000,3000.00000,3000.000000,3000.00000
mean,-119.589200,35.63539,28.845333,2599.578667,529.950667,1402.798667,489.91200,3.807272,205846.27500
std,1.994936,2.12967,12.555396,2155.593332,415.654368,1030.543012,365.42271,1.854512,113119.68747
min,-124.180000,32.56000,1.000000,6.000000,2.000000,5.000000,2.00000,0.499900,22500.00000
25%,-121.810000,33.93000,18.000000,1401.000000,291.000000,780.000000,273.00000,2.544000,121200.00000
50%,-118.485000,34.27000,29.000000,2106.000000,437.000000,1155.000000,409.50000,3.487150,177650.00000
75%,-118.020000,37.69000,37.000000,3129.000000,636.000000,1742.750000,597.25000,4.656475,263975.00000
max,-114.490000,41.92000,52.000000,30450.000000,5419.000000,11935.000000,4930.00000,15.000100,500001.00000

In [ ]:
# play with this dataframe!