In [24]:
import pandas as pd
import numpy as np
from datetime import datetime

In [3]:
df = pd.read_csv('../../scraping/gymnasts_results/biles/biles21.csv')

In [4]:
df

,Date,Competition,Unnamed: 2,VT,UB,BB,FX,AA
0,Jul 23-Aug 8,Olympic Games,EF,0.000,0.000,14.000,0.000,0.000
1,Jul 23-Aug 8,Olympic Games,TF,13.766,0.000,0.000,0.000,0.000
2,Jul 23-Aug 8,Olympic Games,QF,14.966,14.566,14.066,14.133,57.731
3,Jun 24-27,U.S. Olympic Trials,AA,15.400,13.833,13.700,14.600,57.533
4,Jun 24-27,U.S. Olympic Trials,QF,15.466,14.600,15.133,15.366,60.565
5,Jun 3-6,U.S. Championships,AA,15.550,14.700,14.900,14.950,60.100
6,Jun 3-6,U.S. Championships,QF,15.800,14.750,14.350,14.650,59.550
7,May 21-22,U.S. Classic,AA,16.100,13.200,14.850,14.250,58.400

In [5]:
df.rename(columns={'Unnamed: 2': 'Round'}, inplace=True)

In [6]:
df

,Date,Competition,Round,VT,UB,BB,FX,AA
0,Jul 23-Aug 8,Olympic Games,EF,0.000,0.000,14.000,0.000,0.000
1,Jul 23-Aug 8,Olympic Games,TF,13.766,0.000,0.000,0.000,0.000
2,Jul 23-Aug 8,Olympic Games,QF,14.966,14.566,14.066,14.133,57.731
3,Jun 24-27,U.S. Olympic Trials,AA,15.400,13.833,13.700,14.600,57.533
4,Jun 24-27,U.S. Olympic Trials,QF,15.466,14.600,15.133,15.366,60.565
5,Jun 3-6,U.S. Championships,AA,15.550,14.700,14.900,14.950,60.100
6,Jun 3-6,U.S. Championships,QF,15.800,14.750,14.350,14.650,59.550
7,May 21-22,U.S. Classic,AA,16.100,13.200,14.850,14.250,58.400

In [7]:
df["Year"] = 2021

In [9]:
df["Gymnast"] = "Simone Biles"

In [11]:
df

,Date,Competition,Round,VT,UB,BB,FX,AA,Year,Gymnast
0,Jul 23-Aug 8,Olympic Games,EF,0.000,0.000,14.000,0.000,0.000,2021,Simone Biles
1,Jul 23-Aug 8,Olympic Games,TF,13.766,0.000,0.000,0.000,0.000,2021,Simone Biles
2,Jul 23-Aug 8,Olympic Games,QF,14.966,14.566,14.066,14.133,57.731,2021,Simone Biles
3,Jun 24-27,U.S. Olympic Trials,AA,15.400,13.833,13.700,14.600,57.533,2021,Simone Biles
4,Jun 24-27,U.S. Olympic Trials,QF,15.466,14.600,15.133,15.366,60.565,2021,Simone Biles
5,Jun 3-6,U.S. Championships,AA,15.550,14.700,14.900,14.950,60.100,2021,Simone Biles
6,Jun 3-6,U.S. Championships,QF,15.800,14.750,14.350,14.650,59.550,2021,Simone Biles
7,May 21-22,U.S. Classic,AA,16.100,13.200,14.850,14.250,58.400,2021,Simone Biles

In [12]:
df3 = pd.read_csv('../../scraping/gymnasts_results/biles/biles23.csv')

In [13]:
df3

,Date,Competition,Unnamed: 2,VT,UB,BB,FX,AA
0,Aug 24-27,U.S. Championships,AA,14.85,14.05,14.85,15.40,59.15
1,Aug 24-27,U.S. Championships,QF,15.50,14.35,14.45,14.80,59.10
2,Aug 4-6,U.S. Classic,AA,15.20,14.00,14.80,14.90,58.90
3,Jul 9-12,July National Team Camp,AA,14.65,14.20,14.35,14.45,57.65

In [14]:
df3['Year'] = 2023

In [15]:
df3["Gymnast"] = "Simone Biles"

In [16]:
df3.rename(columns={'Unnamed: 2': 'Round'}, inplace=True)

In [17]:
df3

,Date,Competition,Round,VT,UB,BB,FX,AA,Year,Gymnast
0,Aug 24-27,U.S. Championships,AA,14.85,14.05,14.85,15.40,59.15,2023,Simone Biles
1,Aug 24-27,U.S. Championships,QF,15.50,14.35,14.45,14.80,59.10,2023,Simone Biles
2,Aug 4-6,U.S. Classic,AA,15.20,14.00,14.80,14.90,58.90,2023,Simone Biles
3,Jul 9-12,July National Team Camp,AA,14.65,14.20,14.35,14.45,57.65,2023,Simone Biles

In [18]:
result = pd.concat([df, df3], ignore_index=True)

In [27]:
df = result.copy()

In [28]:
df['Date'] = df['Date'].str.split('-').str.get(0)

In [29]:
df

,Date,Competition,Round,VT,UB,BB,FX,AA,Year,Gymnast
0,Jul 23,Olympic Games,EF,0.000,0.000,14.000,0.000,0.000,2021,Simone Biles
1,Jul 23,Olympic Games,TF,13.766,0.000,0.000,0.000,0.000,2021,Simone Biles
2,Jul 23,Olympic Games,QF,14.966,14.566,14.066,14.133,57.731,2021,Simone Biles
3,Jun 24,U.S. Olympic Trials,AA,15.400,13.833,13.700,14.600,57.533,2021,Simone Biles
4,Jun 24,U.S. Olympic Trials,QF,15.466,14.600,15.133,15.366,60.565,2021,Simone Biles
5,Jun 3,U.S. Championships,AA,15.550,14.700,14.900,14.950,60.100,2021,Simone Biles
6,Jun 3,U.S. Championships,QF,15.800,14.750,14.350,14.650,59.550,2021,Simone Biles
7,May 21,U.S. Classic,AA,16.100,13.200,14.850,14.250,58.400,2021,Simone Biles
8,Aug 24,U.S. Championships,AA,14.850,14.050,14.850,15.400,59.150,2023,Simone Biles
9,Aug 24,U.S. Championships,QF,15.500,14.350,14.450,14.800,59.100,2023,Simone Biles
10,Aug 4,U.S. Classic,AA,15.200,14.000,14.800,14.900,58.900,2023,Simone Biles
11,Jul 9,July National Team Camp,AA,14.650,14.200,14.350,14.450,57.650,2023,Simone Biles

In [30]:
# Define a function to combine 'date' and 'Year' columns into datetime objects
def combine_date_year(row):
    date_str = row['Date'] + f" {row['Year']}"
    return datetime.strptime(date_str, "%b %d %Y")

# Apply the function to create a new 'date' column with datetime objects
df['Date'] = df.apply(combine_date_year, axis=1)

In [31]:
df

,Date,Competition,Round,VT,UB,BB,FX,AA,Year,Gymnast
0,2021-07-23,Olympic Games,EF,0.000,0.000,14.000,0.000,0.000,2021,Simone Biles
1,2021-07-23,Olympic Games,TF,13.766,0.000,0.000,0.000,0.000,2021,Simone Biles
2,2021-07-23,Olympic Games,QF,14.966,14.566,14.066,14.133,57.731,2021,Simone Biles
3,2021-06-24,U.S. Olympic Trials,AA,15.400,13.833,13.700,14.600,57.533,2021,Simone Biles
4,2021-06-24,U.S. Olympic Trials,QF,15.466,14.600,15.133,15.366,60.565,2021,Simone Biles
5,2021-06-03,U.S. Championships,AA,15.550,14.700,14.900,14.950,60.100,2021,Simone Biles
6,2021-06-03,U.S. Championships,QF,15.800,14.750,14.350,14.650,59.550,2021,Simone Biles
7,2021-05-21,U.S. Classic,AA,16.100,13.200,14.850,14.250,58.400,2021,Simone Biles
8,2023-08-24,U.S. Championships,AA,14.850,14.050,14.850,15.400,59.150,2023,Simone Biles
9,2023-08-24,U.S. Championships,QF,15.500,14.350,14.450,14.800,59.100,2023,Simone Biles
10,2023-08-04,U.S. Classic,AA,15.200,14.000,14.800,14.900,58.900,2023,Simone Biles
11,2023-07-09,July National Team Camp,AA,14.650,14.200,14.350,14.450,57.650,2023,Simone Biles

In [34]:
df = df.drop(columns=["Year"])

In [35]:
df

,Date,Competition,Round,VT,UB,BB,FX,AA,Gymnast
0,2021-07-23,Olympic Games,EF,0.000,0.000,14.000,0.000,0.000,Simone Biles
1,2021-07-23,Olympic Games,TF,13.766,0.000,0.000,0.000,0.000,Simone Biles
2,2021-07-23,Olympic Games,QF,14.966,14.566,14.066,14.133,57.731,Simone Biles
3,2021-06-24,U.S. Olympic Trials,AA,15.400,13.833,13.700,14.600,57.533,Simone Biles
4,2021-06-24,U.S. Olympic Trials,QF,15.466,14.600,15.133,15.366,60.565,Simone Biles
5,2021-06-03,U.S. Championships,AA,15.550,14.700,14.900,14.950,60.100,Simone Biles
6,2021-06-03,U.S. Championships,QF,15.800,14.750,14.350,14.650,59.550,Simone Biles
7,2021-05-21,U.S. Classic,AA,16.100,13.200,14.850,14.250,58.400,Simone Biles
8,2023-08-24,U.S. Championships,AA,14.850,14.050,14.850,15.400,59.150,Simone Biles
9,2023-08-24,U.S. Championships,QF,15.500,14.350,14.450,14.800,59.100,Simone Biles
10,2023-08-04,U.S. Classic,AA,15.200,14.000,14.800,14.900,58.900,Simone Biles
11,2023-07-09,July National Team Camp,AA,14.650,14.200,14.350,14.450,57.650,Simone Biles

In [36]:
df.columns

Index(['Date', 'Competition', 'Round', 'VT', 'UB', 'BB', 'FX', 'AA',
       'Gymnast'],
      dtype='object')

In [37]:
# Specify the desired column order
desired_order = ['Gymnast', 'Date', 'Competition', 'Round', 'VT', 'UB', 'BB', 'FX', 'AA',
       ]

# Create a new DataFrame with columns in the desired order
df_reordered = df[desired_order]

In [38]:
df_reordered

,Gymnast,Date,Competition,Round,VT,UB,BB,FX,AA
0,Simone Biles,2021-07-23,Olympic Games,EF,0.000,0.000,14.000,0.000,0.000
1,Simone Biles,2021-07-23,Olympic Games,TF,13.766,0.000,0.000,0.000,0.000
2,Simone Biles,2021-07-23,Olympic Games,QF,14.966,14.566,14.066,14.133,57.731
3,Simone Biles,2021-06-24,U.S. Olympic Trials,AA,15.400,13.833,13.700,14.600,57.533
4,Simone Biles,2021-06-24,U.S. Olympic Trials,QF,15.466,14.600,15.133,15.366,60.565
5,Simone Biles,2021-06-03,U.S. Championships,AA,15.550,14.700,14.900,14.950,60.100
6,Simone Biles,2021-06-03,U.S. Championships,QF,15.800,14.750,14.350,14.650,59.550
7,Simone Biles,2021-05-21,U.S. Classic,AA,16.100,13.200,14.850,14.250,58.400
8,Simone Biles,2023-08-24,U.S. Championships,AA,14.850,14.050,14.850,15.400,59.150
9,Simone Biles,2023-08-24,U.S. Championships,QF,15.500,14.350,14.450,14.800,59.100
10,Simone Biles,2023-08-04,U.S. Classic,AA,15.200,14.000,14.800,14.900,58.900
11,Simone Biles,2023-07-09,July National Team Camp,AA,14.650,14.200,14.350,14.450,57.650

In [39]:
# df_reordered.to_csv('biles.csv', index=False)