# change medals to 0 and 1

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('fx_w.csv')

## 2020 fx medalist
1. Jade Carey
2. Vanessa Ferrari
3. Mai Murakami


## 2016 fx medalist
1. Simone Biles
2. Aly Raisman
3. Amy Tinkler


## 2012 fx medalist
1. Aly Raisman
2. Cătălina Ponor
3. Aliya Mustafina

In [3]:
df['year'].value_counts()

year
2023    647
2022    587
2019     72
2015     69
2014     42
2013     42
2018     16
2020      8
2011      8
2017      8
2016      8
Name: count, dtype: int64

In [4]:
df

,Rank,Name,nation,D Score,E Score,Pen.,Total,year,round
0,109.0,Jana ABDELSALAM,EGY,4.4,7.466,0.1,11.766,2022,qual
1,22.0,Jana ABDELSALAM,EGY,4.5,7.366,0.0,11.866,2023,qual
2,39.0,Kumudi Imanya ABEYRATNE,SRI,2.9,4.450,0.0,7.350,2022,qual
3,74.0,Jana ABOELHASAN,EGY,4.4,7.866,0.0,12.266,2022,qual
4,16.0,Ondine ACHAMPONG,GBR,5.3,8.033,0.0,13.333,2022,qual
...,...,...,...,...,...,...,...,...,...
1502,4.0,Nagi Kajita,JPN,5.7,8.250,0.0,13.950,2016,final
1503,5.0,Georgia-Rose Brown,AUS,5.3,8.525,0.0,13.825,2016,final
1504,6.0,Megan Roberts,CAN,5.6,8.150,0.0,13.750,2016,final
1505,7.0,Emily Little,AUS,5.1,8.100,0.0,13.200,2016,final
1506,8.0,Courtney McGregor,NZL,5.3,7.825,-0.1,13.025,2016,final

In [5]:
df['Name'] = df['Name'].str.lower()

In [6]:
df

,Rank,Name,nation,D Score,E Score,Pen.,Total,year,round
0,109.0,jana abdelsalam,EGY,4.4,7.466,0.1,11.766,2022,qual
1,22.0,jana abdelsalam,EGY,4.5,7.366,0.0,11.866,2023,qual
2,39.0,kumudi imanya abeyratne,SRI,2.9,4.450,0.0,7.350,2022,qual
3,74.0,jana aboelhasan,EGY,4.4,7.866,0.0,12.266,2022,qual
4,16.0,ondine achampong,GBR,5.3,8.033,0.0,13.333,2022,qual
...,...,...,...,...,...,...,...,...,...
1502,4.0,nagi kajita,JPN,5.7,8.250,0.0,13.950,2016,final
1503,5.0,georgia-rose brown,AUS,5.3,8.525,0.0,13.825,2016,final
1504,6.0,megan roberts,CAN,5.6,8.150,0.0,13.750,2016,final
1505,7.0,emily little,AUS,5.1,8.100,0.0,13.200,2016,final
1506,8.0,courtney mcgregor,NZL,5.3,7.825,-0.1,13.025,2016,final

In [7]:
df['year'].value_counts()

year
2023    647
2022    587
2019     72
2015     69
2014     42
2013     42
2018     16
2020      8
2011      8
2017      8
2016      8
Name: count, dtype: int64

In [8]:
df['year'].value_counts()

year
2023    647
2022    587
2019     72
2015     69
2014     42
2013     42
2018     16
2020      8
2011      8
2017      8
2016      8
Name: count, dtype: int64

In [9]:
df12 = df[df['year'].isin([2011])].copy()
df16 = df[df['year'].isin([2013, 2014, 2015, 2016])].copy()
df20 = df[df['year'].isin([2017, 2018, 2019, 2020])].copy()
df24 = df[df['year'].isin([2022, 2023])].copy()

In [10]:
df16.info()

<class 'pandas.core.frame.DataFrame'>
Index: 161 entries, 1234 to 1506
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Rank     160 non-null    float64
 1   Name     161 non-null    object
 2   nation   161 non-null    object
 3   D Score  161 non-null    float64
 4   E Score  161 non-null    float64
 5   Pen.     161 non-null    float64
 6   Total    161 non-null    float64
 7   year     161 non-null    int64
 8   round    161 non-null    object
dtypes: float64(5), int64(1), object(3)
memory usage: 12.6+ KB

In [11]:
df16[df16['nation']=='GBR']

,Rank,Name,nation,D Score,E Score,Pen.,Total,year,round
1450,8.0,claudia fragapane,GBR,6.0,7.400,0.3,13.100,2014,final
1456,6.0,ellie downie,GBR,6.0,8.733,0.0,14.733,2015,final
1457,7.0,claudia fragapane,GBR,6.2,8.366,-0.1,14.466,2015,final
1483,1.0,amy tinkler,GBR,5.7,8.750,0.0,14.450,2015,final
1484,2.0,claudia fragapane,GBR,6.1,8.450,-0.3,14.250,2015,final
1485,3.0,lisa mason,GBR,5.4,8.800,0.0,14.200,2015,final
1486,4.0,angel romaeo,GBR,5.0,8.550,0.0,13.550,2015,final
1487,NaN,kelly simm,GBR,5.6,7.950,0.0,13.550,2015,final
1488,6.0,raer theaker,GBR,5.2,8.200,0.0,13.400,2015,final
1489,7.0,jade stedford,GBR,4.6,8.350,0.0,12.950,2015,final
1490,8.0,rebecca moore,GBR,5.0,8.000,-0.1,12.900,2015,final

In [12]:
df20.info()

<class 'pandas.core.frame.DataFrame'>
Index: 104 entries, 1279 to 1482
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Rank     103 non-null    float64
 1   Name     104 non-null    object
 2   nation   80 non-null     object
 3   D Score  104 non-null    float64
 4   E Score  104 non-null    float64
 5   Pen.     104 non-null    float64
 6   Total    104 non-null    float64
 7   year     104 non-null    int64
 8   round    88 non-null     object
dtypes: float64(5), int64(1), object(3)
memory usage: 8.1+ KB

In [13]:
df24.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1234 entries, 0 to 1233
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Rank     1234 non-null   float64
 1   Name     1234 non-null   object
 2   nation   1234 non-null   object
 3   D Score  1234 non-null   float64
 4   E Score  1234 non-null   float64
 5   Pen.     1234 non-null   float64
 6   Total    1234 non-null   float64
 7   year     1234 non-null   int64
 8   round    1234 non-null   object
dtypes: float64(5), int64(1), object(3)
memory usage: 96.4+ KB

In [14]:
df = df20.copy()

In [15]:
df.columns

Index(['Rank', 'Name', 'nation', 'D Score', 'E Score', 'Pen.', 'Total', 'year',
       'round'],
      dtype='object')

In [16]:
# Define a function to assign medal values based on the "Name" column
def assign_medal(name):
    name_lower = name.lower()
    if name_lower == 'jade carey':
        return 1
    elif name_lower == 'vanessa ferrari':
        return 1
    elif name_lower == 'mai murakami':
        return 1
    else:
        return 0

# Apply the function to create the "medal" column
df['medal'] = df['Name'].apply(assign_medal)

In [17]:
df

,Rank,Name,nation,D Score,E Score,Pen.,Total,year,round,medal
1279,1.0,jade carey,USA,6.2,8.266,0.0,14.466,2019,Final,1
1280,2.0,lara mori,ITA,5.6,7.833,0.0,13.433,2019,Final,0
1281,3.0,vanessa ferrari,ITA,5.2,8.100,0.0,13.300,2019,Final,1
1282,4.0,marta pihan-kulesza,POL,5.4,7.933,-0.1,13.233,2019,Final,0
1283,5.0,marine boyer,FRA,5.0,8.200,0.0,13.200,2019,Final,0
...,...,...,...,...,...,...,...,...,...,...
1478,4.0,flávia saraiva,NaN,5.5,8.466,0.0,13.966,2019,final,0
1479,5.0,mélanie de jesus dos santos,NaN,5.5,8.433,0.1,13.833,2019,final,0
1480,6.0,roxana popa,NaN,5.4,8.400,0.0,13.800,2019,final,0
1481,7.0,brooklyn moors,NaN,5.3,8.400,0.1,13.600,2019,final,0
1482,8.0,lilia akhaimova,NaN,6.0,7.800,0.3,13.500,2019,final,0

In [18]:
df['medal'].value_counts()

medal
0    94
1    10
Name: count, dtype: int64

In [19]:
df['medal'].value_counts()

medal
0    94
1    10
Name: count, dtype: int64

In [20]:
# medal
# -1    134
#  3      3

In [21]:
# -1 is 228
# 2 is 5
# 3 is 6
# 1 is 2

In [22]:
df20 = df.copy()

In [23]:
df = df16.copy()

In [24]:
# Define a function to assign medal values based on the "Name" column
def assign_medal(name):
    name_lower = name.lower()
    if name_lower == 'simone biles':
        return 1
    elif name_lower == 'aly raisman':
        return 1
    elif name_lower == 'amy tinkler':
        return 1
    else:
        return 0

# Apply the function to create the "medal" column
df['medal'] = df['Name'].apply(assign_medal)

In [25]:
df['medal'].value_counts()

medal
0    154
1      7
Name: count, dtype: int64

In [26]:
df['medal'].value_counts()

medal
0    154
1      7
Name: count, dtype: int64

In [27]:
df16=df.copy()

In [28]:
df = pd.concat([df20, df16])

---

# testing with models - see if there is any accuracy  before separating

In [29]:
df['nation'].fillna('none',inplace=True)

In [30]:
df['round'].fillna('none',inplace=True)

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 265 entries, 1279 to 1506
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Rank     263 non-null    float64
 1   Name     265 non-null    object
 2   nation   265 non-null    object
 3   D Score  265 non-null    float64
 4   E Score  265 non-null    float64
 5   Pen.     265 non-null    float64
 6   Total    265 non-null    float64
 7   year     265 non-null    int64
 8   round    265 non-null    object
 9   medal    265 non-null    int64
dtypes: float64(5), int64(2), object(3)
memory usage: 22.8+ KB

In [32]:
df.nunique()

Rank        37
Name       179
nation      51
D Score     32
E Score    116
Pen.        11
Total      157
year         8
round        5
medal        2
dtype: int64

In [33]:
df.nunique()

Rank        37
Name       179
nation      51
D Score     32
E Score    116
Pen.        11
Total      157
year         8
round        5
medal        2
dtype: int64

In [34]:
df['Name'] = df['Name'].str.strip()
df['nation'] = df['nation'].str.strip()
df['round'] = df['round'].str.strip()

In [35]:
df = df.drop(columns=['Pen.'])  # For example, removing the "Pen." column

In [36]:
from sklearn.preprocessing import LabelEncoder

# Create a LabelEncoder
label_encoder = LabelEncoder()

# Apply label encoding to the "nation" column
df['nation_encoded'] = label_encoder.fit_transform(df['nation'])

In [37]:
df.head()

,Rank,Name,nation,D Score,E Score,Total,year,round,medal,nation_encoded
1279,1.0,jade carey,USA,6.2,8.266,14.466,2019,Final,1,45
1280,2.0,lara mori,ITA,5.6,7.833,13.433,2019,Final,0,22
1281,3.0,vanessa ferrari,ITA,5.2,8.100,13.300,2019,Final,1,22
1282,4.0,marta pihan-kulesza,POL,5.4,7.933,13.233,2019,Final,0,30
1283,5.0,marine boyer,FRA,5.0,8.200,13.200,2019,Final,0,14

In [38]:
from sklearn.preprocessing import LabelEncoder

# Create a LabelEncoder
label_encoder = LabelEncoder()

# Apply label encoding to the "nation" column
df['Name_encoded'] = label_encoder.fit_transform(df['Name'])

In [39]:
df = df.drop(columns=['Name','nation'])

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 265 entries, 1279 to 1506
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Rank            263 non-null    float64
 1   D Score         265 non-null    float64
 2   E Score         265 non-null    float64
 3   Total           265 non-null    float64
 4   year            265 non-null    int64
 5   round           265 non-null    object
 6   medal           265 non-null    int64
 7   nation_encoded  265 non-null    int64
 8   Name_encoded    265 non-null    int64
dtypes: float64(4), int64(4), object(1)
memory usage: 20.7+ KB

In [41]:
df = df.drop(columns=['round'])

In [42]:
df=df.dropna()

In [65]:
from sklearn.model_selection import train_test_split

# Define features (X) and target (y)
X = df[['Rank', 'D Score', 'E Score', 'Total', 'year', 'nation_encoded', 'Name_encoded']]
y = df['medal']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=42)

In [66]:
from sklearn.ensemble import RandomForestClassifier

# Create a Random Forest Classifier
model = RandomForestClassifier()

In [67]:
model.fit(X_train, y_train)

RandomForestClassifier()

In [68]:
from sklearn.metrics import accuracy_score, classification_report

# Predict on the testing set
y_pred = model.predict(X_test)

# Calculate accuracy
accuracy = accuracy_score(y_test, y_pred)

# Generate a classification report
report = classification_report(y_test, y_pred)

print(f'Accuracy: {accuracy}')
print(report)

Accuracy: 0.8518518518518519
              precision    recall  f1-score   support

           0       0.85      1.00      0.92        23
           1       0.00      0.00      0.00         4

    accuracy                           0.85        27
   macro avg       0.43      0.50      0.46        27
weighted avg       0.73      0.85      0.78        27

/Users/ryantalbot/opt/anaconda3/envs/tf2/lib/python3.9/site-packages/sklearn/metrics/_classification.py:1469: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/Users/ryantalbot/opt/anaconda3/envs/tf2/lib/python3.9/site-packages/sklearn/metrics/_classification.py:1469: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/Users/ryantalbot/opt/anaconda3/envs/tf2/lib/python3.9/site-packages/sklearn/metrics/_classification.py:1469: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [69]:
y_pred

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0])

In [70]:
y_test

1246    0
1251    0
1503    0
1445    0
1413    0
1493    1
1361    0
1435    1
1288    0
1481    0
1303    0
1242    0
1325    0
1442    0
1378    0
1400    0
1459    1
1285    0
1499    1
1414    0
1272    0
1278    0
1298    0
1498    0
1240    0
1267    0
1426    0
Name: medal, dtype: int64

In [71]:
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier

# Define your model
model = RandomForestClassifier()

# Perform k-fold cross-validation
k = 5  # You can choose the number of folds (k) based on your preference
scores = cross_val_score(model, X, y, cv=k, scoring='accuracy')

# 'X' is your feature matrix, 'y' is your target variable, and 'k' is the number of folds
# 'scoring' parameter specifies the evaluation metric (e.g., 'accuracy')

# Print the cross-validation scores
print("Cross-Validation Scores:", scores)

# Calculate and print the mean and standard deviation of the scores
mean_score = scores.mean()
std_dev = scores.std()
print(f"Mean Accuracy: {mean_score:.2f}")
print(f"Standard Deviation: {std_dev:.2f}")

Cross-Validation Scores: [0.9245283  0.69811321 0.94339623 0.98076923 0.94230769]
Mean Accuracy: 0.90
Standard Deviation: 0.10

In [72]:
from sklearn.preprocessing import MinMaxScaler

# Create a MinMaxScaler
scaler = MinMaxScaler()

# Fit the scaler on your training data and transform it
X_train_scaled = scaler.fit_transform(X_train)

# Transform your testing data using the same scaler
X_test_scaled = scaler.transform(X_test)

In [73]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report

# Create a Random Forest Classifier (or any other model you want to use)
model = RandomForestClassifier()

# Train your model on the scaled training data
model.fit(X_train_scaled, y_train)

# Predict on the scaled testing data
y_pred = model.predict(X_test_scaled)

# Calculate accuracy on the scaled testing data
accuracy = accuracy_score(y_test, y_pred)

# Generate a classification report
report = classification_report(y_test, y_pred)

# Print the results
print(f'Accuracy: {accuracy}')
print(report)

Accuracy: 0.8518518518518519
              precision    recall  f1-score   support

           0       0.85      1.00      0.92        23
           1       0.00      0.00      0.00         4

    accuracy                           0.85        27
   macro avg       0.43      0.50      0.46        27
weighted avg       0.73      0.85      0.78        27

/Users/ryantalbot/opt/anaconda3/envs/tf2/lib/python3.9/site-packages/sklearn/metrics/_classification.py:1469: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/Users/ryantalbot/opt/anaconda3/envs/tf2/lib/python3.9/site-packages/sklearn/metrics/_classification.py:1469: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/Users/ryantalbot/opt/anaconda3/envs/tf2/lib/python3.9/site-packages/sklearn/metrics/_classification.py:1469: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [74]:
y_pred

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0])

In [75]:
y_test

1246    0
1251    0
1503    0
1445    0
1413    0
1493    1
1361    0
1435    1
1288    0
1481    0
1303    0
1242    0
1325    0
1442    0
1378    0
1400    0
1459    1
1285    0
1499    1
1414    0
1272    0
1278    0
1298    0
1498    0
1240    0
1267    0
1426    0
Name: medal, dtype: int64

In [76]:
from sklearn.metrics import accuracy_score, classification_report

# Get the class probabilities for the positive class (class 1)
class_probabilities = model.predict_proba(X_test_scaled)[:, 1]

# Experiment with different probability thresholds
thresholds = [0.2, 0.4, 0.6, 0.8]

for threshold in thresholds:
    # Apply the custom threshold to classify the data
    y_pred_custom = [1 if prob >= threshold else 0 for prob in class_probabilities]

    # Calculate accuracy with the custom threshold
    accuracy = accuracy_score(y_test, y_pred_custom)

    # Generate a classification report
    report = classification_report(y_test, y_pred_custom)

    print(f"Threshold: {threshold:.2f}")
    print(f'Accuracy: {accuracy:.2f}')
    print(report)
    print()

Threshold: 0.20
Accuracy: 0.93
              precision    recall  f1-score   support

           0       0.96      0.96      0.96        23
           1       0.75      0.75      0.75         4

    accuracy                           0.93        27
   macro avg       0.85      0.85      0.85        27
weighted avg       0.93      0.93      0.93        27


Threshold: 0.40
Accuracy: 0.85
              precision    recall  f1-score   support

           0       0.85      1.00      0.92        23
           1       0.00      0.00      0.00         4

    accuracy                           0.85        27
   macro avg       0.43      0.50      0.46        27
weighted avg       0.73      0.85      0.78        27


Threshold: 0.60
Accuracy: 0.85
              precision    recall  f1-score   support

           0       0.85      1.00      0.92        23
           1       0.00      0.00      0.00         4

    accuracy                           0.85        27
   macro avg       0.43      0.50      0.46        27
weighted avg       0.73      0.85      0.78        27


Threshold: 0.80
Accuracy: 0.85
              precision    recall  f1-score   support

           0       0.85      1.00      0.92        23
           1       0.00      0.00      0.00         4

    accuracy                           0.85        27
   macro avg       0.43      0.50      0.46        27
weighted avg       0.73      0.85      0.78        27

/Users/ryantalbot/opt/anaconda3/envs/tf2/lib/python3.9/site-packages/sklearn/metrics/_classification.py:1469: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/Users/ryantalbot/opt/anaconda3/envs/tf2/lib/python3.9/site-packages/sklearn/metrics/_classification.py:1469: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/Users/ryantalbot/opt/anaconda3/envs/tf2/lib/python3.9/site-packages/sklearn/metrics/_classification.py:1469: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/Users/ryantalbot/opt/anaconda3/envs/tf2/lib/python3.9/site-packages/sklearn/metrics/_classification.py:1469: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/Users/ryantalbot/opt/anaconda3/envs/tf2/lib/python3.9/site-packages/sklearn/metrics/_classification.py:1469: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/Users/ryantalbot/opt/anaconda3/envs/tf2/lib/python3.9/site-packages/sklearn/metrics/_classification.py:1469: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/Users/ryantalbot/opt/anaconda3/envs/tf2/lib/python3.9/site-packages/sklearn/metrics/_classification.py:1469: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/Users/ryantalbot/opt/anaconda3/envs/tf2/lib/python3.9/site-packages/sklearn/metrics/_classification.py:1469: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/Users/ryantalbot/opt/anaconda3/envs/tf2/lib/python3.9/site-packages/sklearn/metrics/_classification.py:1469: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))