# change medals to 0 and 1

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('fx_w.csv')

## 2020 fx medalist
1. Jade Carey
2. Vanessa Ferrari
3. Mai Murakami


## 2016 fx medalist
1. Simone Biles
2. Aly Raisman
3. Amy Tinkler


## 2012 fx medalist
1. Aly Raisman
2. Cătălina Ponor
3. Aliya Mustafina

In [3]:
df

,Rank,Name,nation,D Score,E Score,Pen.,Total,year,round
0,109.0,Jana ABDELSALAM,EGY,4.4,7.466,0.1,11.766,2022,qual
1,22.0,Jana ABDELSALAM,EGY,4.5,7.366,0.0,11.866,2023,qual
2,39.0,Kumudi Imanya ABEYRATNE,SRI,2.9,4.450,0.0,7.350,2022,qual
3,74.0,Jana ABOELHASAN,EGY,4.4,7.866,0.0,12.266,2022,qual
4,16.0,Ondine ACHAMPONG,GBR,5.3,8.033,0.0,13.333,2022,qual
...,...,...,...,...,...,...,...,...,...
1478,4.0,Flávia Saraiva,NaN,5.5,8.466,0.0,13.966,2019,final
1479,5.0,Mélanie de Jesus dos Santos,NaN,5.5,8.433,0.1,13.833,2019,final
1480,6.0,Roxana Popa,NaN,5.4,8.400,0.0,13.800,2019,final
1481,7.0,Brooklyn Moors,NaN,5.3,8.400,0.1,13.600,2019,final
1482,8.0,Lilia Akhaimova,NaN,6.0,7.800,0.3,13.500,2019,final

In [4]:
df['Name'] = df['Name'].str.lower()

In [5]:
df

,Rank,Name,nation,D Score,E Score,Pen.,Total,year,round
0,109.0,jana abdelsalam,EGY,4.4,7.466,0.1,11.766,2022,qual
1,22.0,jana abdelsalam,EGY,4.5,7.366,0.0,11.866,2023,qual
2,39.0,kumudi imanya abeyratne,SRI,2.9,4.450,0.0,7.350,2022,qual
3,74.0,jana aboelhasan,EGY,4.4,7.866,0.0,12.266,2022,qual
4,16.0,ondine achampong,GBR,5.3,8.033,0.0,13.333,2022,qual
...,...,...,...,...,...,...,...,...,...
1478,4.0,flávia saraiva,NaN,5.5,8.466,0.0,13.966,2019,final
1479,5.0,mélanie de jesus dos santos,NaN,5.5,8.433,0.1,13.833,2019,final
1480,6.0,roxana popa,NaN,5.4,8.400,0.0,13.800,2019,final
1481,7.0,brooklyn moors,NaN,5.3,8.400,0.1,13.600,2019,final
1482,8.0,lilia akhaimova,NaN,6.0,7.800,0.3,13.500,2019,final

In [6]:
df['year'].value_counts()

year
2023    647
2022    587
2019     72
2015     53
2014     42
2013     42
2018     16
2020      8
2011      8
2017      8
Name: count, dtype: int64

In [7]:
df12 = df[df['year'].isin([2011])].copy()
df16 = df[df['year'].isin([2013, 2014, 2015])].copy()
df20 = df[df['year'].isin([2017, 2018, 2019, 2020])].copy()
df24 = df[df['year'].isin([2022, 2023])].copy()

In [8]:
df16.info()

<class 'pandas.core.frame.DataFrame'>
Index: 137 entries, 1234 to 1458
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Rank     137 non-null    float64
 1   Name     137 non-null    object
 2   nation   137 non-null    object
 3   D Score  137 non-null    float64
 4   E Score  137 non-null    float64
 5   Pen.     137 non-null    float64
 6   Total    137 non-null    float64
 7   year     137 non-null    int64
 8   round    137 non-null    object
dtypes: float64(5), int64(1), object(3)
memory usage: 10.7+ KB

In [9]:
df16[df16['nation']=='GBR']

,Rank,Name,nation,D Score,E Score,Pen.,Total,year,round
1450,8.0,claudia fragapane,GBR,6.0,7.400,0.3,13.100,2014,final
1456,6.0,ellie downie,GBR,6.0,8.733,0.0,14.733,2015,final
1457,7.0,claudia fragapane,GBR,6.2,8.366,-0.1,14.466,2015,final

In [10]:
df20.info()

<class 'pandas.core.frame.DataFrame'>
Index: 104 entries, 1279 to 1482
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Rank     103 non-null    float64
 1   Name     104 non-null    object
 2   nation   80 non-null     object
 3   D Score  104 non-null    float64
 4   E Score  104 non-null    float64
 5   Pen.     104 non-null    float64
 6   Total    104 non-null    float64
 7   year     104 non-null    int64
 8   round    88 non-null     object
dtypes: float64(5), int64(1), object(3)
memory usage: 8.1+ KB

In [11]:
df24.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1234 entries, 0 to 1233
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Rank     1234 non-null   float64
 1   Name     1234 non-null   object
 2   nation   1234 non-null   object
 3   D Score  1234 non-null   float64
 4   E Score  1234 non-null   float64
 5   Pen.     1234 non-null   float64
 6   Total    1234 non-null   float64
 7   year     1234 non-null   int64
 8   round    1234 non-null   object
dtypes: float64(5), int64(1), object(3)
memory usage: 96.4+ KB

In [12]:
df = df20.copy()

In [13]:
df.columns

Index(['Rank', 'Name', 'nation', 'D Score', 'E Score', 'Pen.', 'Total', 'year',
       'round'],
      dtype='object')

In [14]:
# Define a function to assign medal values based on the "Name" column
def assign_medal(name):
    name_lower = name.lower()
    if name_lower == 'jade carey':
        return 3
    elif name_lower == 'vanessa ferrari':
        return 2
    elif name_lower == 'mai murakami':
        return 1
    else:
        return -1

# Apply the function to create the "medal" column
df['medal'] = df['Name'].apply(assign_medal)

In [15]:
df

,Rank,Name,nation,D Score,E Score,Pen.,Total,year,round,medal
1279,1.0,jade carey,USA,6.2,8.266,0.0,14.466,2019,Final,3
1280,2.0,lara mori,ITA,5.6,7.833,0.0,13.433,2019,Final,-1
1281,3.0,vanessa ferrari,ITA,5.2,8.100,0.0,13.300,2019,Final,2
1282,4.0,marta pihan-kulesza,POL,5.4,7.933,-0.1,13.233,2019,Final,-1
1283,5.0,marine boyer,FRA,5.0,8.200,0.0,13.200,2019,Final,-1
...,...,...,...,...,...,...,...,...,...,...
1478,4.0,flávia saraiva,NaN,5.5,8.466,0.0,13.966,2019,final,-1
1479,5.0,mélanie de jesus dos santos,NaN,5.5,8.433,0.1,13.833,2019,final,-1
1480,6.0,roxana popa,NaN,5.4,8.400,0.0,13.800,2019,final,-1
1481,7.0,brooklyn moors,NaN,5.3,8.400,0.1,13.600,2019,final,-1
1482,8.0,lilia akhaimova,NaN,6.0,7.800,0.3,13.500,2019,final,-1

In [16]:
df['medal'].value_counts()

medal
-1    94
 2     5
 3     3
 1     2
Name: count, dtype: int64

In [ ]:
medal
-1    134
 3      3

In [62]:
-1 is 228
2 is 5
3 is 6
1 is 2

228

In [17]:
df20 = df.copy()

In [18]:
df = df16.copy()

In [19]:
# Define a function to assign medal values based on the "Name" column
def assign_medal(name):
    name_lower = name.lower()
    if name_lower == 'simone biles':
        return 3
    elif name_lower == 'aly raisman':
        return 2
    elif name_lower == 'amy tinkler':
        return 1
    else:
        return -1

# Apply the function to create the "medal" column
df['medal'] = df['Name'].apply(assign_medal)

In [20]:
df['medal'].value_counts()

medal
-1    134
 3      3
Name: count, dtype: int64

In [21]:
df16=df.copy()

In [22]:
df = pd.concat([df20, df16])

---

# testing with models - see if there is any accuracy  before separating

In [28]:
df['nation'].fillna('none',inplace=True)

In [26]:
df['round'].fillna('none',inplace=True)

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 241 entries, 1279 to 1458
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Rank     240 non-null    float64
 1   Name     241 non-null    object
 2   nation   241 non-null    object
 3   D Score  241 non-null    float64
 4   E Score  241 non-null    float64
 5   Total    241 non-null    float64
 6   year     241 non-null    int64
 7   round    241 non-null    object
 8   medal    241 non-null    int64
dtypes: float64(4), int64(2), object(3)
memory usage: 18.8+ KB

In [40]:
df.nunique()

Rank        37
Name       162
nation      51
D Score     32
E Score    108
Total      146
year         7
round        5
medal        4
dtype: int64

In [37]:
df['Name'] = df['Name'].str.strip()
df['nation'] = df['nation'].str.strip()
df['round'] = df['round'].str.strip()

In [38]:
df = df.drop(columns=['Pen.'])  # For example, removing the "Pen." column

In [41]:
from sklearn.preprocessing import LabelEncoder

# Create a LabelEncoder
label_encoder = LabelEncoder()

# Apply label encoding to the "nation" column
df['nation_encoded'] = label_encoder.fit_transform(df['nation'])

In [45]:
df.head()

,Rank,Name,nation,D Score,E Score,Total,year,round,medal,nation_encoded,Name_encoded
1279,1.0,jade carey,USA,6.2,8.266,14.466,2019,Final,3,45,73
1280,2.0,lara mori,ITA,5.6,7.833,13.433,2019,Final,-1,22,91
1281,3.0,vanessa ferrari,ITA,5.2,8.100,13.300,2019,Final,2,22,153
1282,4.0,marta pihan-kulesza,POL,5.4,7.933,13.233,2019,Final,-1,30,113
1283,5.0,marine boyer,FRA,5.0,8.200,13.200,2019,Final,-1,14,112

In [43]:
from sklearn.preprocessing import LabelEncoder

# Create a LabelEncoder
label_encoder = LabelEncoder()

# Apply label encoding to the "nation" column
df['Name_encoded'] = label_encoder.fit_transform(df['Name'])

In [46]:
df = df.drop(columns=['Name','nation'])

In [55]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 240 entries, 1279 to 1458
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Rank            240 non-null    float64
 1   D Score         240 non-null    float64
 2   E Score         240 non-null    float64
 3   Total           240 non-null    float64
 4   year            240 non-null    int64
 5   medal           240 non-null    int64
 6   nation_encoded  240 non-null    int64
 7   Name_encoded    240 non-null    int64
dtypes: float64(4), int64(4)
memory usage: 16.9 KB

In [48]:
df = df.drop(columns=['round'])

In [54]:
df=df.dropna()

In [56]:
from sklearn.model_selection import train_test_split

# Define features (X) and target (y)
X = df[['Rank', 'D Score', 'E Score', 'Total', 'year', 'nation_encoded', 'Name_encoded']]
y = df['medal']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [57]:
from sklearn.ensemble import RandomForestClassifier

# Create a Random Forest Classifier
model = RandomForestClassifier()

In [58]:
model.fit(X_train, y_train)

RandomForestClassifier()

In [59]:
from sklearn.metrics import accuracy_score, classification_report

# Predict on the testing set
y_pred = model.predict(X_test)

# Calculate accuracy
accuracy = accuracy_score(y_test, y_pred)

# Generate a classification report
report = classification_report(y_test, y_pred)

print(f'Accuracy: {accuracy}')
print(report)

Accuracy: 0.9583333333333334
              precision    recall  f1-score   support

          -1       0.96      1.00      0.98        46
           1       0.00      0.00      0.00         1
           2       0.00      0.00      0.00         1

    accuracy                           0.96        48
   macro avg       0.32      0.33      0.33        48
weighted avg       0.92      0.96      0.94        48

/Users/ryantalbot/opt/anaconda3/envs/tf2/lib/python3.9/site-packages/sklearn/metrics/_classification.py:1334: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/Users/ryantalbot/opt/anaconda3/envs/tf2/lib/python3.9/site-packages/sklearn/metrics/_classification.py:1334: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/Users/ryantalbot/opt/anaconda3/envs/tf2/lib/python3.9/site-packages/sklearn/metrics/_classification.py:1334: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

array([-1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1])

In [61]:
y_test

1303   -1
1285   -1
1473   -1
1240   -1
1235   -1
1357   -1
1452   -1
1466    2
1288   -1
1274   -1
1324   -1
1391   -1
1245   -1
1353   -1
1244   -1
1449   -1
1370   -1
1294   -1
1337   -1
1256   -1
1258   -1
1298   -1
1454   -1
1309   -1
1361   -1
1335   -1
1289   -1
1386   -1
1456   -1
1338   -1
1476   -1
1447   -1
1304   -1
1367   -1
1297   -1
1416   -1
1377   -1
1402   -1
1459    1
1360   -1
1446   -1
1243   -1
1440   -1
1295   -1
1341   -1
1413   -1
1350   -1
1317   -1
Name: medal, dtype: int64