In [1]:
import pandas as pd
import numpy as np

In [7]:
pac16bb = pd.read_csv('../Cleaning/qual_events/clean_pacific_rim2016bb.csv')
bc15bb = pd.read_csv('../Cleaning/qual_events/clean_british_championship2015bb.csv')
jesolo15bb = pd.read_csv('../Cleaning/qual_events/clean_jesolo2015bb.csv')
wc13cott_bb = pd.read_csv('../Cleaning/qual_events/clean_wc13cott_bb.csv')
wc13doha_bb = pd.read_csv('../Cleaning/qual_events/clean_wc14doha_bb.csv')
wc19doha_bb = pd.read_csv('../Cleaning/qual_events/clean_worldcup2019doha_bb.csv')
eu20_bb = pd.read_csv('../Cleaning/qual_events/euro2020bb.csv')
uni19_bb = pd.read_csv('../Cleaning/qual_events/uni2019bb.csv')
wc19melb_bb = pd.read_csv('../Cleaning/qual_events/clean_worldcup2019melbourne_bb.csv')
wc18jeso_bb = pd.read_csv('../Cleaning/qual_events/clean_worldcup2018jesolo_bb.csv')
usopc_bb = pd.read_csv('../Cleaning/USOPC/usopc_women_bb_october.csv')
bb_world_championship_w = pd.read_csv('../Cleaning/World_Championships/bb_world_championship_w.csv')
# wc15cott_bb = pd.read_csv('../Cleaning/qual_events/clean_worldcup2015cott_bb.csv')

In [9]:
eu20_bb.rename(columns={'Gymnast': 'Name', 'Position': 'Rank', 'Penalty': 'Pen.'}, inplace=True)
uni19_bb['nation'] = uni19_bb['Athlete'].str.extract(r'\((.*?)\)')
uni19_bb['Athlete'] = uni19_bb['Athlete'].str.replace(r'\(.*?\)', '', regex=True)
uni19_bb['year']=2019
eu20_bb['year']=2020
eu20_bb['nation']='eu'
uni19_bb.rename(columns={'Athlete': 'Name', }, inplace=True)
uni19_bb['round']='final'
eu20_bb['round']='final'

In [10]:
def rename_columns(dataframe):
    # Define the column name mapping
    column_name_mapping = {
        'Athlete': 'Name',
        'Gymnast': 'Name',
        'Nation': 'nation',
        'D': 'D Score',
        'E': 'E Score',
        'ND': 'Pen.',
        'Score': 'Total',
        'Position': 'Rank'
        # Add more columns as needed
    }

    return dataframe.rename(columns=column_name_mapping, inplace=True)

In [12]:
rename_columns(wc19melb_bb)

In [13]:
def reorder_columns(dataframe):
    # Define the desired column order
    desired_column_order = ['Rank', 'Name', 'nation', 'D Score', 'E Score', 'Pen.', 'Total', 'year', 'round']

    return dataframe[desired_column_order]

In [14]:
wc19melb_bb = reorder_columns(wc19melb_bb)

Functions

    rename_columns(wc19melb_ub)

    wc19melb_ub = reorder_columns(wc19melb_ub)

In [16]:
rename_columns(pac16bb)

In [17]:
pac16bb = reorder_columns(pac16bb)

In [19]:
rename_columns(bc15bb)

In [20]:
bc15bb = reorder_columns(bc15bb)

In [22]:
rename_columns(jesolo15bb)

In [23]:
jesolo15bb = reorder_columns(jesolo15bb)

In [25]:
rename_columns(wc13cott_bb)

In [26]:
wc13cott_bb = reorder_columns(wc13cott_bb)

In [28]:
rename_columns(wc13doha_bb)

In [29]:
wc13doha_bb = reorder_columns(wc13doha_bb)

In [33]:
rename_columns(wc19doha_bb)

In [37]:
# Create a dictionary to specify the column name changes
column_name_mapping = {
    'Round': 'round'
}

# Use the rename method to rename the columns
wc19doha_bb.rename(columns=column_name_mapping, inplace=True)

In [38]:
wc19doha_bb = reorder_columns(wc19doha_bb)

In [39]:
rename_columns(eu20_bb)

In [40]:
wc13doha_bb = reorder_columns(eu20_bb)

In [44]:
rename_columns(uni19_bb)

In [45]:
uni19_bb = reorder_columns(uni19_bb)

In [47]:
rename_columns(wc18jeso_bb)

In [49]:
wc18jeso_bb['year']=2018
wc18jeso_bb['round']='final'

In [50]:
wc18jeso_bb = reorder_columns(wc18jeso_bb)

In [53]:
rename_columns(bb_world_championship_w)

In [54]:
bb_world_championship_w = reorder_columns(bb_world_championship_w)

In [ ]:
bb_world_championship_w

In [57]:
usopc_bb=usopc_bb.drop(columns=["Gender", 'Competition', 'Apparatus', ])
usopc_bb['year'] = usopc_bb['Date'].str[:4]
usopc_bb=usopc_bb.drop(columns=["Date"])

In [58]:
usopc_bb.rename(columns={'Country': 'nation', 'Round': 'round',
                           'E_Score': 'E Score','D_Score': 'D Score', 'Penalty': 'Pen.',
                        'Score': 'Total'}, inplace=True)

usopc_bb=usopc_bb[['Rank', 'Name', 'nation', 'D Score', 'E Score', 'Pen.', 
                         'Total','year' , 'round' ]]

In [62]:
combined_df = pd.concat([wc19melb_bb, pac16bb,bc15bb,jesolo15bb, wc13cott_bb, wc13doha_bb])

In [63]:
bb = combined_df.copy()

In [64]:
bb.info()

<class 'pandas.core.frame.DataFrame'>
Index: 94 entries, 0 to 7
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Rank     94 non-null     int64
 1   Name     94 non-null     object
 2   nation   94 non-null     object
 3   D Score  94 non-null     float64
 4   E Score  94 non-null     float64
 5   Pen.     94 non-null     float64
 6   Total    94 non-null     float64
 7   year     94 non-null     int64
 8   round    94 non-null     object
dtypes: float64(4), int64(2), object(3)
memory usage: 7.3+ KB

In [65]:
combined_df = pd.concat([bb, wc19doha_bb, eu20_bb, uni19_bb, wc18jeso_bb, 
                         bb_world_championship_w, usopc_bb])

In [68]:
bb = combined_df.copy()

In [69]:
bb.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1554 entries, 0 to 1340
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Rank     1554 non-null   float64
 1   Name     1554 non-null   object
 2   nation   1515 non-null   object
 3   D Score  1554 non-null   float64
 4   E Score  1554 non-null   float64
 5   Pen.     1546 non-null   float64
 6   Total    1554 non-null   float64
 7   year     1554 non-null   object
 8   round    1554 non-null   object
dtypes: float64(5), object(4)
memory usage: 121.4+ KB

In [70]:
# bb.to_csv('bb_w.csv', index=False)