combined for fx:
# uni19_fx
# eu20_fx
# wc19doha_fx
# wc15cott_fx
# usopc_fx =

In [1]:
import pandas as pd
import numpy as np

In [61]:
wc15cott_fx = pd.read_csv('../Cleaning/qual_events/clean_worldcup2015cott_fx.csv')
wc19doha_fx = pd.read_csv('../Cleaning/qual_events/clean_worldcup2019doha_fx.csv')
eu20_fx = pd.read_csv('../Cleaning/qual_events/euro2020fx.csv')
uni19_fx = pd.read_csv('../Cleaning/qual_events/uni2019fx.csv')



# usopc_fx = pd.read_csv('../Cleaning/qual_events/clean_worldcup2015cott_ub.csv')
# usopc_fx = pd.read_csv('../Cleaning/qual_events/clean_worldcup2015cott_vt.csv')

In [62]:
# clean_worldcup2015cott_fx.csv
# clean_worldcup2015cott_ub.csv
# clean_worldcup2015cott_vt.csv

# clean_worldcup2019doha_bb.csv
# clean_worldcup2019doha_fx.csv
# clean_worldcup2019doha_ub.csv
# clean_worldcup2019doha_vt.csv

# euro2020bb.csv
# euro2020fx.csv
# euro2020ub.csv
# euro2020vt.csv

# uni2019bb.csv
# uni2019fx.csv
# uni2019ub.csv
# uni2019vt.csv

In [63]:
# usopc = pd.read_csv('../Cleaning/USOPC/usopc_women_october.csv')
usopc_fx = pd.read_csv('../Cleaning/USOPC/usopc_women_fx_october.csv')
usopc_bb = pd.read_csv('../Cleaning/USOPC/usopc_women_bb_october.csv')
usopc_ub = pd.read_csv('../Cleaning/USOPC/usopc_women_ub_october.csv')
usopc_vt = pd.read_csv('../Cleaning/USOPC/usopc_women_vt_october.csv')

In [66]:
usopc_fx.head(1)

,Name,Country,Gender,Date,Competition,Round,Apparatus,Rank,D_Score,E_Score,Penalty,Score
0,Jana ABDELSALAM,EGY,w,2022-11-06,2022 51st FIG Artistic Gymnastics World Champi...,qual,FX,109.0,4.4,7.466,0.1,11.766

In [68]:
uni19_fx.head(1)

   Rank                Athlete  D Score  E Score  Pen.  Total
0     1  Carlotta Ferlito(ITA)      5.3      7.9   NaN   13.2

In [70]:
eu20_fx.head(1)

   Position          Gymnast  D Score  E Score  Penalty  Total
0         1  Larisa Iordache      5.6     7.85      0.0  13.45

In [71]:
wc19doha_fx.head(1)

   Rank     Athlete         Nation    D      E   ND   Total  round  year  NOC
0     1  Jade Carey  United States  6.2  8.266  0.0  14.466  Final  2019  USA

In [72]:
wc15cott_fx.head(1)

   Rank              Athlete    D      E   ND   Total  round  year Nation
0     1  Marta Pihan-Kulesza  5.8  8.425  0.0  14.225  final  2015    POL

In [74]:
uni19_fx['Pen.'].fillna(0, inplace=True)

In [75]:
uni19_fx['nation'] = uni19_fx['Athlete'].str.extract(r'\((.*?)\)')

In [77]:
uni19_fx['Athlete'] = uni19_fx['Athlete'].str.replace(r'\(.*?\)', '', regex=True)

In [80]:
uni19_fx['year']=2019

In [81]:
eu20_fx['year']=2020

In [82]:
uni19_fx

   Rank               Athlete  D Score  E Score  Pen.  Total nation  year
0     1      Carlotta Ferlito      5.3     7.90   0.0  13.20    ITA  2019
1     2         Aiko Sugihara      5.3     7.70   0.0  13.00    JPN  2019
2     3   Uliana Perebinosova      4.7     8.00   0.0  12.70    RUS  2019
3     4  Farah Ann Abdul Hadi      4.6     7.95   0.0  12.55    MAS  2019
4     5       Hitomi Hatakeda      4.7     7.85   0.0  12.55    JPN  2019
5     6       Lilia Akhaimova      5.5     6.75   0.0  12.25    RUS  2019
6     7       Jessica Dowling      4.6     7.45   0.1  11.95    CAN  2019
7     8      Barbora Mokosova      4.7     7.10   0.0  11.80    SVK  2019

In [84]:
eu20_fx['nation']='eu'

In [85]:
eu20_fx

,Position,Gymnast,D Score,E Score,Penalty,Total,year,nation
0,1,Larisa Iordache,5.6,7.85,0.0,13.45,2020,eu
1,2,Göksu Üçtaş Şanlı,4.8,8.30,0.0,13.10,2020,eu
2,3,Lihie Raz,4.9,7.85,0.0,12.75,2020,eu
3,4,Diana Varinska,4.7,7.95,0.0,12.65,2020,eu
4,5,Antonia Duță,4.9,7.80,0.1,12.60,2020,eu
5,6,Angelina Radivilova,5.0,7.60,0.0,12.60,2020,eu
6,7,Zója Székely,4.4,8.10,0.3,12.20,2020,eu
7,8,Dorina Böczögő,4.9,7.20,0.0,12.10,2020,eu

In [92]:
eu20_fx.rename(columns={'Gymnast': 'Name', 'Position': 'Rank', 'Penalty': 'Pen.'}, inplace=True)

In [93]:
uni19_fx.rename(columns={'Athlete': 'Name', }, inplace=True)

In [103]:
uni19_fx['round']='final'

/var/folders/j_/555m2zps099832fjh_m8jjnc0000gn/T/ipykernel_93368/2359976757.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  uni19_fx['round']='final'

In [104]:
eu20_fx['round']='final'

/var/folders/j_/555m2zps099832fjh_m8jjnc0000gn/T/ipykernel_93368/2772765529.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  eu20_fx['round']='final'

In [105]:
eu20_fx.columns

Index(['Rank', 'Name', 'nation', 'D Score', 'E Score', 'Pen.', 'Total', 'year',
       'round'],
      dtype='object')

In [98]:
eu20_fx=eu20_fx[['Rank', 'Name', 'nation', 'D Score', 'E Score', 'Pen.', 'Total', 'year']]

In [99]:
uni19_fx = uni19_fx[['Rank', 'Name', 'nation', 'D Score', 'E Score', 'Pen.', 'Total', 'year']]

   Rank                 Name nation  D Score  E Score  Pen.  Total  year
0     1      Larisa Iordache     eu      5.6     7.85   0.0  13.45  2020
1     2    Göksu Üçtaş Şanlı     eu      4.8     8.30   0.0  13.10  2020
2     3            Lihie Raz     eu      4.9     7.85   0.0  12.75  2020
3     4       Diana Varinska     eu      4.7     7.95   0.0  12.65  2020
4     5         Antonia Duță     eu      4.9     7.80   0.1  12.60  2020
5     6  Angelina Radivilova     eu      5.0     7.60   0.0  12.60  2020
6     7         Zója Székely     eu      4.4     8.10   0.3  12.20  2020
7     8       Dorina Böczögő     eu      4.9     7.20   0.0  12.10  2020

In [107]:
wc19doha_fx.head(1)

   Rank     Athlete    D      E   ND   Total  round  year  NOC
0     1  Jade Carey  6.2  8.266  0.0  14.466  Final  2019  USA

In [106]:
wc19doha_fx=wc19doha_fx.drop(columns=["Nation"])

In [108]:
wc19doha_fx.rename(columns={'Athlete': 'Name', 
                            'NOC': 'nation', 'D': 'D Score',
                           'E': 'E Score', 'ND': 'Pen.'}, inplace=True)

In [110]:
wc19doha_fx.head()

,Rank,Name,D Score,E Score,Pen.,Total,round,year,nation
0,1,Jade Carey,6.2,8.266,0.0,14.466,Final,2019,USA
1,2,Lara Mori,5.6,7.833,0.0,13.433,Final,2019,ITA
2,3,Vanessa Ferrari,5.2,8.100,0.0,13.300,Final,2019,ITA
3,4,Marta Pihan-Kulesza,5.4,7.933,-0.1,13.233,Final,2019,POL
4,5,Marine Boyer,5.0,8.200,0.0,13.200,Final,2019,FRA

In [111]:
wc19doha_fx.columns

Index(['Rank', 'Name', 'D Score', 'E Score', 'Pen.', 'Total', 'round', 'year',
       'nation'],
      dtype='object')

In [112]:
wc19doha_fx=wc19doha_fx[['Rank', 'Name', 'nation', 'D Score', 'E Score', 'Pen.', 
                         'Total','year' , 'round' ]]

In [116]:
wc15cott_fx.head()

,Rank,Name,D Score,E Score,Pen.,Total,round,year,nation
0,1,Marta Pihan-Kulesza,5.8,8.425,0.0,14.225,final,2015,POL
1,2,Andreea Munteanu,5.5,8.325,0.0,13.825,final,2015,ROU
2,3,Filipa Martins,5.3,8.175,0.0,13.475,final,2015,POR
3,4,Ayelen Tarabini,5.3,8.125,-0.1,13.325,final,2015,ARG
4,5,Lisa Ecker,5.0,7.950,0.0,12.950,final,2015,AUT

In [115]:
wc15cott_fx.rename(columns={'Athlete': 'Name', 
                            'Nation': 'nation', 'D': 'D Score',
                           'E': 'E Score', 'ND': 'Pen.'}, inplace=True)

In [117]:
wc15cott_fx=wc15cott_fx[['Rank', 'Name', 'nation', 'D Score', 'E Score', 'Pen.', 
                         'Total','year' , 'round' ]]

In [127]:
usopc_fx.head(1)

,Name,Country,Round,Rank,D_Score,E_Score,Penalty,Score,year
0,Jana ABDELSALAM,EGY,qual,109.0,4.4,7.466,0.1,11.766,2022

In [121]:
usopc_fx=usopc_fx.drop(columns=["Gender", 'Competition', 'Apparatus', ])

In [123]:
usopc_fx["Date"].unique()

array(['2022-11-06', '2023-03-12', '2022-08-02', '2022-03-27',
       '2022-08-14', '2023-03-26', '2023-04-16', '2023-05-28',
       '2023-02-26', '2023-08-05', '2023-04-30', '2023-03-04',
       '2023-06-28', '2022-02-27', '2022-04-03', '2022-03-20',
       '2023-03-19', '2023-06-11', '2022-03-05', '2023-06-04'],
      dtype=object)

In [124]:
usopc_fx['year'] = usopc_fx['Date'].str[:4]

In [126]:
usopc_fx=usopc_fx.drop(columns=["Date"])

In [129]:
usopc_fx.columns

Index(['Name', 'Country', 'Round', 'Rank', 'D_Score', 'E_Score', 'Penalty',
       'Score', 'year'],
      dtype='object')

In [130]:
usopc_fx.rename(columns={'Country': 'nation', 'Round': 'round',
                           'E_Score': 'E Score','D_Score': 'D Score', 'Penalty': 'Pen.',
                        'Score': 'Total'}, inplace=True)

In [132]:
usopc_fx=usopc_fx[['Rank', 'Name', 'nation', 'D Score', 'E Score', 'Pen.', 
                         'Total','year' , 'round' ]]

In [133]:
usopc_fx.head(1)

    Rank             Name nation  D Score  E Score  Pen.   Total  year round
0  109.0  Jana ABDELSALAM    EGY      4.4    7.466   0.1  11.766  2022  qual

In [135]:
# uni19_fx
# eu20_fx
# wc19doha_fx
# wc15cott_fx
# usopc_fx =

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1236 entries, 0 to 1235
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Rank     1236 non-null   float64
 1   Name     1236 non-null   object
 2   nation   1220 non-null   object
 3   D Score  1236 non-null   float64
 4   E Score  1236 non-null   float64
 5   Pen.     1236 non-null   float64
 6   Total    1236 non-null   float64
 7   year     1236 non-null   object
 8   round    1236 non-null   object
dtypes: float64(5), object(4)
memory usage: 87.0+ KB

In [139]:
combined_df = pd.concat([usopc_fx, wc15cott_fx, wc19doha_fx, eu20_fx, uni19_fx], axis=0)

In [140]:
fx = combined_df.copy()

In [142]:
fx.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1335 entries, 0 to 7
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Rank     1335 non-null   float64
 1   Name     1335 non-null   object
 2   nation   1319 non-null   object
 3   D Score  1335 non-null   float64
 4   E Score  1335 non-null   float64
 5   Pen.     1335 non-null   float64
 6   Total    1335 non-null   float64
 7   year     1335 non-null   object
 8   round    1335 non-null   object
dtypes: float64(5), object(4)
memory usage: 104.3+ KB

In [143]:
fx['year'].unique()

array(['2022', '2023', 2015, 2019, 2020], dtype=object)

In [144]:
fx['year'] = fx['year'].astype(int)

In [145]:
fx.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1335 entries, 0 to 7
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Rank     1335 non-null   float64
 1   Name     1335 non-null   object
 2   nation   1319 non-null   object
 3   D Score  1335 non-null   float64
 4   E Score  1335 non-null   float64
 5   Pen.     1335 non-null   float64
 6   Total    1335 non-null   float64
 7   year     1335 non-null   int64
 8   round    1335 non-null   object
dtypes: float64(5), int64(1), object(3)
memory usage: 104.3+ KB