In [1]:
import pandas as pd
import numpy as np

In [2]:
pac16ub = pd.read_csv('../Cleaning/qual_events/clean_pacific_rim2016ub.csv')
bc15ub = pd.read_csv('../Cleaning/qual_events/clean_british_championship2015ub.csv')
jesolo15ub = pd.read_csv('../Cleaning/qual_events/clean_jesolo2015ub.csv')
wc13cott_ub = pd.read_csv('../Cleaning/qual_events/clean_wc13cott_ub.csv')
wc13doha_ub = pd.read_csv('../Cleaning/qual_events/clean_wc14doha_ub.csv')
wc15cott_ub = pd.read_csv('../Cleaning/qual_events/clean_worldcup2015cott_ub.csv')
wc19doha_ub = pd.read_csv('../Cleaning/qual_events/clean_worldcup2019doha_ub.csv')
eu20_ub = pd.read_csv('../Cleaning/qual_events/euro2020ub.csv')
uni19_ub = pd.read_csv('../Cleaning/qual_events/uni2019ub.csv')
wc19melb_ub = pd.read_csv('../Cleaning/qual_events/clean_worldcup2019melbourne_ub.csv')
wc18jeso_ub = pd.read_csv('../Cleaning/qual_events/clean_worldcup2018jesolo_ub.csv')
ub_world_championship_w = pd.read_csv('../Cleaning/World_Championships/ub_world_championship_w.csv')
usopc_ub = pd.read_csv('../Cleaning/USOPC/usopc_women_ub_october.csv')

In [4]:
eu20_ub.rename(columns={'Gymnast': 'Name', 'Position': 'Rank', 'Penalty': 'Pen.'}, inplace=True)
uni19_ub['nation'] = uni19_ub['Athlete'].str.extract(r'\((.*?)\)')
uni19_ub['Athlete'] = uni19_ub['Athlete'].str.replace(r'\(.*?\)', '', regex=True)
uni19_ub['year']=2019
eu20_ub['year']=2020
eu20_ub['nation']='eu'
uni19_ub.rename(columns={'Athlete': 'Name', }, inplace=True)
uni19_ub['round']='final'
eu20_ub['round']='final'

In [5]:
eu20_ub=eu20_ub[['Rank', 'Name', 'nation', 'D Score', 'E Score', 'Pen.', 'Total', 'year']]
uni19_ub = uni19_ub[['Rank', 'Name', 'nation', 'D Score', 'E Score', 'Pen.', 'Total', 'year']]

In [6]:
wc19doha_ub.rename(columns={'Athlete': 'Name', 
                            'Nation': 'nation', 'D': 'D Score',
                           'E': 'E Score', 'ND': 'Pen.'}, inplace=True)

wc19doha_ub=wc19doha_ub[['Rank', 'Name', 'nation', 'D Score', 'E Score', 'Pen.', 
                         'Total','year' , 'round' ]]

In [7]:
wc15cott_ub.rename(columns={'Athlete': 'Name', 
                            'Nation': 'nation', 'D': 'D Score',
                           'E': 'E Score', 'ND': 'Pen.'}, inplace=True)
wc15cott_ub=wc15cott_ub[['Rank', 'Name', 'nation', 'D Score', 'E Score', 'Pen.', 
                         'Total','year' , 'round' ]]

In [8]:
usopc_ub=usopc_ub.drop(columns=["Gender", 'Competition', 'Apparatus', ])
usopc_ub['year'] = usopc_ub['Date'].str[:4]
usopc_ub=usopc_ub.drop(columns=["Date"])

In [9]:
usopc_ub.rename(columns={'Country': 'nation', 'Round': 'round',
                           'E_Score': 'E Score','D_Score': 'D Score', 'Penalty': 'Pen.',
                        'Score': 'Total'}, inplace=True)

usopc_ub=usopc_ub[['Rank', 'Name', 'nation', 'D Score', 'E Score', 'Pen.', 
                         'Total','year' , 'round' ]]

In [10]:
eu20_ub.head(1)

   Rank           Name nation  D Score  E Score  Pen.  Total  year
0     1  Zs贸fia K贸vacs     eu      5.7     8.15   0.0  13.85  2020

In [11]:
combined_df = pd.concat([usopc_ub, wc15cott_ub, wc19doha_ub, eu20_ub, uni19_ub], axis=0)

In [18]:
ub = combined_df.copy()

In [13]:
# Create a dictionary to specify the column name changes
column_name_mapping = {
    'Athlete': 'Name',
    'Nation': 'nation',
    'D': 'D Score',
    'E': 'E Score',
    'ND': 'Pen.',
    'Score': 'Total'
    # Add more columns as needed
}

# Use the rename method to rename the columns
wc13doha_ub.rename(columns=column_name_mapping, inplace=True)

In [14]:
# Define the desired column order
desired_column_order = ['Rank', 'Name', 'nation', 'D Score', 'E Score', 'Pen.', 'Total', 'year',
       'round']

# Create a new DataFrame with the columns rearranged
wc13doha_ub = wc13doha_ub[desired_column_order]

In [16]:
# Create a dictionary to specify the column name changes
column_name_mapping = {
    'Athlete': 'Name',
    'Nation': 'nation',
    'D': 'D Score',
    'E': 'E Score',
    'ND': 'Pen.',
    'Score': 'Total'
    # Add more columns as needed
}

# Use the rename method to rename the columns
wc13cott_ub.rename(columns=column_name_mapping, inplace=True)

In [17]:
# Define the desired column order
desired_column_order = ['Rank', 'Name', 'nation', 'D Score', 'E Score', 'Pen.', 'Total', 'year',
       'round']

# Create a new DataFrame with the columns rearranged
wc13cott_ub = wc13cott_ub[desired_column_order]

In [19]:
ub = pd.concat([ub, wc13doha_ub,wc13cott_ub])

In [45]:
def rename_columns(dataframe):
    # Define the column name mapping
    column_name_mapping = {
        'Athlete': 'Name',
        'Gymnast': 'Name',
        'Nation': 'nation',
        'D': 'D Score',
        'E': 'E Score',
        'ND': 'Pen.',
        'Score': 'Total',
        'Position': 'Rank'
        # Add more columns as needed
    }

    return dataframe.rename(columns=column_name_mapping, inplace=True)

In [23]:
rename_columns(wc19melb_ub)

In [25]:
def reorder_columns(dataframe):
    # Define the desired column order
    desired_column_order = ['Rank', 'Name', 'nation', 'D Score', 'E Score', 'Pen.', 'Total', 'year', 'round']

    return dataframe[desired_column_order]

In [26]:
wc19melb_ub = reorder_columns(wc19melb_ub)

# Functions


- rename_columns(wc19melb_ub)

- wc19melb_ub = reorder_columns(wc19melb_ub)

In [28]:
wc18jeso_ub['year']=2018
wc18jeso_ub['round']='final'

In [30]:
wc18jeso_ub

   Rank              Athlete Nation    D      E   ND   Total  year  round
0     1  Anastasia Iliankova    RUS  6.1  8.500  0.0  14.600  2018  final
1     2          Ragan Smith    USA  6.0  8.567  0.0  14.567  2018  final
2     3   Angelina Melnikova    RUS  5.9  8.433  0.0  14.333  2018  final
3     4  Alyona Shchennikova    USA  6.0  8.167  0.0  14.167  2018  final
4     5       Lorette Charpy    FRA  5.5  8.100  0.0  13.600  2018  final
5     6         Jade Barbosa    BRA  5.5  8.033  0.0  13.533  2018  final
6     7       Giada Grisetti    ITA  5.7  7.800  0.0  13.500  2018  final
7     8         Guo Fangting    CHN  4.7  8.033  0.0  12.733  2018  final

In [31]:
rename_columns(wc18jeso_ub)

In [32]:
wc18jeso_ub = reorder_columns(wc18jeso_ub)

In [33]:
combined_df = pd.concat([ub, wc19melb_ub,wc18jeso_ub])

In [34]:
ub = combined_df.copy()

In [48]:
rename_columns(ub_world_championship_w)

In [50]:
ub_world_championship_w = reorder_columns(ub_world_championship_w)

In [51]:
rename_columns(pac16ub)

In [52]:
pac16ub = reorder_columns(pac16ub)

In [53]:
rename_columns(jesolo15ub)

In [54]:
jesolo15ub = reorder_columns(jesolo15ub)

In [55]:
rename_columns(bc15ub)

In [56]:
bc15ub = reorder_columns(bc15ub)

In [58]:
combined_df = pd.concat([ub, ub_world_championship_w,pac16ub,jesolo15ub,bc15ub])

In [60]:
ub=combined_df.copy()

In [61]:
ub.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1538 entries, 0 to 7
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Rank     1538 non-null   float64
 1   Name     1538 non-null   object
 2   nation   1500 non-null   object
 3   D Score  1538 non-null   float64
 4   E Score  1538 non-null   float64
 5   Pen.     1530 non-null   float64
 6   Total    1538 non-null   float64
 7   year     1538 non-null   object
 8   round    1522 non-null   object
dtypes: float64(5), object(4)
memory usage: 120.2+ KB

In [64]:
ub.duplicated().sum()

36

In [66]:
# Find and display all duplicate rows
duplicates =ub[ub.duplicated(keep=False)]

In [69]:
ub = ub.drop_duplicates()

In [70]:
ub.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1502 entries, 0 to 7
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Rank     1502 non-null   float64
 1   Name     1502 non-null   object
 2   nation   1464 non-null   object
 3   D Score  1502 non-null   float64
 4   E Score  1502 non-null   float64
 5   Pen.     1494 non-null   float64
 6   Total    1502 non-null   float64
 7   year     1502 non-null   object
 8   round    1486 non-null   object
dtypes: float64(5), object(4)
memory usage: 117.3+ KB

In [71]:
ub['Pen.'].fillna(0, inplace=True)

In [72]:
ub['round'].fillna('unknown', inplace=True)
ub['nation'].fillna('unknown', inplace=True)

In [73]:
ub.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1502 entries, 0 to 7
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Rank     1502 non-null   float64
 1   Name     1502 non-null   object
 2   nation   1502 non-null   object
 3   D Score  1502 non-null   float64
 4   E Score  1502 non-null   float64
 5   Pen.     1502 non-null   float64
 6   Total    1502 non-null   float64
 7   year     1502 non-null   object
 8   round    1502 non-null   object
dtypes: float64(5), object(4)
memory usage: 117.3+ KB

In [74]:
# ub.to_csv('ub_w.csv', index=False)