In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('bb_w.csv')

# 2016
1. sanne wevers (NED) 
2. laurie hernandez (USA)
3. simone biles (USA)


# 2020
1. guan chenchen (CHN) 	
2. tang xijing (CHN) 	
3. simone biles (USA)

In [3]:
df = pd.read_csv('ub_w.csv')
df['Name'] = df['Name'].str.lower()

In [5]:
df12 = df[df['year'].isin([2011])].copy()
df16 = df[df['year'].isin([2013, 2014, 2015, 2016])].copy()
df20 = df[df['year'].isin([2017, 2018, 2019, 2020])].copy()
df24 = df[df['year'].isin([2022, 2023])].copy()

In [8]:
# Define a function to assign medal values based on the "Name" column
def assign_medal(name):
    name_lower = name.lower()
    if name_lower == 'sanne wevers ':
        return 1
    elif name_lower == 'laurie hernandez':
        return 1
    elif name_lower == 'simone biles':
        return 1
    else:
        return 0

# Apply the function to create the "medal" column
df16['medal'] = df16['Name'].apply(assign_medal)

In [14]:
df16[df16['Name']=='simone biles']

,Rank,Name,nation,D Score,E Score,Pen.,Total,year,round,medal
1433,4.0,simone biles,USA,6.1,8.616,0.0,14.716,2013,final,1

In [9]:
df16['medal'].value_counts()

medal
0    164
1      1
Name: count, dtype: int64

In [10]:
# Define a function to assign medal values based on the "Name" column
def assign_medal(name):
    name_lower = name.lower()
    if name_lower == 'guan chenchen':
        return 1
    elif name_lower == 'tang xijing ':
        return 1
    elif name_lower == 'simone biles':
        return 1
    else:
        return 0

# Apply the function to create the "medal" column
df20['medal'] = df20['Name'].apply(assign_medal)

In [15]:
df20[df20['Name']=='simone biles']

,Rank,Name,nation,D Score,E Score,Pen.,Total,year,round,medal
1463,2.0,simone biles,unknown,6.2,8.5,0.0,14.7,2018,final,1
1474,5.0,simone biles,unknown,6.2,8.5,0.0,14.7,2019,final,1

In [11]:
df20['medal'].value_counts()

medal
0    97
1     2
Name: count, dtype: int64

In [12]:
df24.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1230 entries, 0 to 1229
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Rank     1230 non-null   float64
 1   Name     1230 non-null   object
 2   nation   1230 non-null   object
 3   D Score  1230 non-null   float64
 4   E Score  1230 non-null   float64
 5   Pen.     1230 non-null   float64
 6   Total    1230 non-null   float64
 7   year     1230 non-null   int64
 8   round    1230 non-null   object
dtypes: float64(5), int64(1), object(3)
memory usage: 96.1+ KB