In [1]:
import pandas as pd 
import numpy as np

In [2]:
orbat = pd.read_csv('../or-bat-mean.csv')
orpit = pd.read_csv('../or-pitch-mean.csv')

In [3]:
orbat

,2B,3B,AB,BA,BB,G,H,HBP,HR,OBP,OPS,PA,R,RBI,SF,SLG,SO,TB
0,12.2,1.9,211.7,0.3209,30.0,56.2,69.0,5.9,9.1,0.4174,0.9451,253.4,51.7,45.8,3.3,0.528,42.8,112.3

In [4]:
orpit

,BB,BB9,BF,ER,ERA,G,GS,H,H9,HBP,...,L,R,SHO,SO,SO/W,SO9,SV,W,WHIP,WP
0,21.166667,2.95,284.166667,26.666667,3.513333,23.166667,8.5,59.5,7.75,8.0,...,1.333333,28.666667,0.0,75.0,4.066667,10.266667,2.666667,6.5,1.188833,1.666667

In [5]:
flpit = pd.read_csv('../fl-pitch-mean.csv')
flbat = pd.read_csv('../fl-bat-mean.csv')

In [6]:
flpit

,BB,BB9,BF,ER,ERA,G,GS,H,H9,HBP,...,L,R,SHO,SO,SO/W,SO9,SV,W,WHIP,WP
0,31.666667,4.383333,284.833333,29.0,3.825,21.5,8.833333,52.0,7.233333,7.0,...,2.0,32.0,0.166667,84.166667,2.801667,11.666667,3.166667,6.166667,1.2905,5.166667

In [7]:
flbat

,2B,3B,AB,BA,BB,G,H,HBP,HR,OBP,OPS,PA,R,RBI,SF,SLG,SO,TB
0,10.9,1.7,195.0,0.293,27.4,56.6,58.3,7.4,12.4,0.3915,0.9345,234.0,47.7,45.5,3.0,0.5432,44.6,109.8

In [8]:
flbat['BA'] - orbat['BA']

0   -0.0279
Name: BA, dtype: float64

In [9]:
flbat['HR'] - orbat['HR']

0    3.3
Name: HR, dtype: float64

In [10]:
flbat['OBP'] - orbat['OBP']

0   -0.0259
Name: OBP, dtype: float64

### combine how well a hitter can reach base, with how well he can hit for average and for power

In [11]:
flbat['OPS'] - orbat['OPS']

0   -0.0106
Name: OPS, dtype: float64

In [12]:
flbat['RBI'] - orbat['RBI']

0   -0.3
Name: RBI, dtype: float64

### Slugging percentage represents the total number of bases a player records per at-bat.

In [13]:
flbat['SLG'] - orbat['SLG']

0    0.0152
Name: SLG, dtype: float64

## Batting matchup is close with Oral roberts having a better ops and rbi. the difference is florida having 3.3 more homeruns, which could be the difference between a 3-3 game and a 8-3 game (favoring florida) overall close/toss-up matchup

In [14]:
flpit['ERA'] - orpit['ERA']

0    0.311667
Name: ERA, dtype: float64

In [15]:
flpit['H9'] - orpit['H9']

0   -0.516667
Name: H9, dtype: float64

In [16]:
flpit['SO9'] - orpit['SO9']

0    1.4
Name: SO9, dtype: float64

### WHIP - the sum of a pitcher's walks and hits, divided by his total innings pitched. (lower number is better)

In [17]:
flpit['WHIP'] - orpit['WHIP']

0    0.101667
Name: WHIP, dtype: float64

In [18]:
flpit['BB9'] - orpit['BB9']

0    1.433333
Name: BB9, dtype: float64

### Pitching looks like its close, but give the advantage to Florida with a better whip