In [1]:
import pandas as pd
import numpy as np

In [9]:
stanbat = pd.read_csv('../stanbat_mean.csv')

In [10]:
stanbat

,2B,3B,AB,BA,BB,G,H,HBP,HR,OBP,OPS,PA,R,RBI,SF,SLG,SO,TB
0,13.8,1.3,205.4,0.3322,26.2,52.9,68.5,5.4,11.2,0.4141,0.9814,240.6,48.7,47.1,2.7,0.5673,40.8,118.5

In [12]:
wakebat = pd.read_csv('../wake-bat-mean.csv')

In [13]:
wakebat

,2B,3B,AB,BA,BB,G,H,HBP,HR,OBP,OPS,PA,R,RBI,SF,SLG,SO,TB
0,11.5,0.7,186.4,0.3206,35.5,52.6,60.5,7.1,12.2,0.4391,1.0265,233.6,53.2,48.9,2.5,0.5875,39.5,110.0

In [14]:
wakebat['team'] = 23

In [15]:
stanbat['team'] = 19

In [16]:
wakebat

,2B,3B,AB,BA,BB,G,H,HBP,HR,OBP,OPS,PA,R,RBI,SF,SLG,SO,TB,team
0,11.5,0.7,186.4,0.3206,35.5,52.6,60.5,7.1,12.2,0.4391,1.0265,233.6,53.2,48.9,2.5,0.5875,39.5,110.0,23

In [31]:
print("stanford batting average is better by .0116")

stanford batting average is better by .0116

In [38]:
wakebat['BA'] - stanbat['BA']

0   -0.0116
Name: BA, dtype: float64

In [28]:
wakebat['HR'] - stanbat['HR']

0    1.0
Name: HR, dtype: float64

In [30]:
print("wakeforest averages 1 more home run")

wakeforest averages 1 more home run

In [32]:
wakebat['OBP'] - stanbat['OBP']

0    0.025
Name: OBP, dtype: float64

In [33]:
wakebat['OPS'] - stanbat['OPS']

0    0.0451
Name: OPS, dtype: float64

In [34]:
wakebat['SLG'] - stanbat['SLG']

0    0.0202
Name: SLG, dtype: float64

In [35]:
wakebat['RBI'] - stanbat['RBI']

0    1.8
Name: RBI, dtype: float64

In [46]:
df = pd.DataFrame(columns = ['BA', 'HR', 'OBP', 'OPS', 'SLG', 'RBI'])
print(df)

Empty DataFrame
Columns: [BA, HR, OBP, OPS, SLG, RBI]
Index: []

In [47]:
df

Empty DataFrame
Columns: [BA, HR, OBP, OPS, SLG, RBI]
Index: []

In [48]:
df = df.append({'BA' : -0.0116, 'HR' : 1.0, 'OBP' : 0.025, 'OPS' : 0.0451, 'SLG' : 0.0202, 'RBI' : 1.8}, 
                ignore_index = True)

/var/folders/j_/555m2zps099832fjh_m8jjnc0000gn/T/ipykernel_33930/500475674.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'BA' : -0.0116, 'HR' : 1.0, 'OBP' : 0.025, 'OPS' : 0.0451, 'SLG' : 0.0202, 'RBI' : 1.8},

In [49]:
df

       BA   HR    OBP     OPS     SLG  RBI
0 -0.0116  1.0  0.025  0.0451  0.0202  1.8