In [1]:
import pandas as pd
import numpy as np

In [2]:
virpit = pd.read_csv('../vir-pitch-mean.csv')

In [3]:
virbat = pd.read_csv('../vir-bat-mean.csv')

In [4]:
tcubat = pd.read_csv('../tcu-bat-mean.csv')

In [6]:
tcupit = pd.read_csv('../tcu-pitch-mean.csv')

In [7]:
virbat

,2B,3B,AB,BA,BB,G,H,HBP,HR,OBP,OPS,PA,R,RBI,SF,SLG,SO,TB
0,9.8,1.6,161.8,0.299,26.1,47.6,49.3,5.4,9.2,0.4069,0.954,196.7,41.9,38.7,2.2,0.5469,41.7,89.9

In [8]:
tcubat

,2B,3B,AB,BA,BB,G,H,HBP,HR,OBP,OPS,PA,R,RBI,SF,SLG,SO,TB
0,12.8,0.8,205.2,0.2977,29.5,55.5,62.2,7.2,8.6,0.3985,0.8863,246.6,48.9,45.3,2.8,0.4879,46.1,102.4

In [9]:
virbat['BA'] - tcubat['BA']

0    0.0013
Name: BA, dtype: float64

In [10]:
virbat['HR'] - tcubat['HR']

0    0.6
Name: HR, dtype: float64

In [11]:
virbat['OBP'] - tcubat['OBP']

0    0.0084
Name: OBP, dtype: float64

In [12]:
virbat['OPS'] - tcubat['OPS']

0    0.0677
Name: OPS, dtype: float64

In [13]:
virbat['SLG'] - tcubat['SLG']

0    0.059
Name: SLG, dtype: float64

In [14]:
virbat['RBI'] - tcubat['RBI']

0   -6.6
Name: RBI, dtype: float64

In [15]:
virpit['ERA'] - tcupit['ERA']

0    1.496333
Name: ERA, dtype: float64

In [16]:
virpit['H9'] - tcupit['H9']

0    1.62
Name: H9, dtype: float64

In [17]:
virpit['SO9'] - tcupit['SO9']

0    1.286667
Name: SO9, dtype: float64

### WHIP - the sum of a pitcher's walks and hits, divided by his total innings pitched. (lower number is better)

In [18]:
virpit['WHIP'] - tcupit['WHIP']

0    0.333833
Name: WHIP, dtype: float64

In [19]:
virpit['BB9'] - tcupit['BB9']

0    1.38
Name: BB9, dtype: float64