In [6]:
import pandas as pd
import numpy as np

In [17]:
bev = pd.read_csv('./f1_Corr-and-Assoc/Beverage.dat', delimiter='\t')
bev

    ct  region  count
0    1       1    165
1    1       2     77
2    1       3     58
3    1       4     99
4    2       1     73
5    2       2     98
6    2       3    131
7    2       4    112
8    3       1     62
9    3       2    125
10   3       3    111
11   3       4     89

In [19]:
cap = pd.read_csv('./f1_Corr-and-Assoc/CapPull.dat', delimiter='\t')
cap

       fid  cpf
0   0.6432  1.5
1   0.6434  1.8
2   0.6440  2.3
3   0.6427  1.4
4   0.6436  1.1
5   0.6442  1.7
6   0.6434  1.8
7   0.6439  2.7
8   0.6426  2.5
9   0.6443  2.0
10  0.6436  1.9
11  0.6434  1.7
12  0.6437  2.1
13  0.6432  2.3
14  0.6429  1.9
15  0.6436  1.6
16  0.6428  2.0
17  0.6437  1.4
18  0.6440  1.3
19  0.6436  1.8

1. A redesigned plastic cap for a lipstick assembly has recently been introduced. The primary design change incorporated two new flat surfaces within the cap inner diameter so that it would engage with the aluminum shell of the assembly base. There was also an interference fit between the cap and the assembly base.

    The design engineer wanted to know if there was a relationship between the distance across the flat surfaces (fid) in the cap and Pull Force. Cap pull force (cpf) relates to the amount of effort required (measured in pounds) to pull the cap off the lipstick assembly base.

    The engineer arranged to have 20 randomly selected caps identified and measured between the flats. They were then attached to 20 randomly selected lipstick subassemblies and tested for cap pull. The file containing the data for this opportunity is CapPull.dat.  Assume α=0.10α=0.10.

    What is the value of the proper sample statistic?

In [21]:
correlation = cap['fid'].corr(cap['cpf'])
print("Sample correlation coefficient:", correlation)

Sample correlation coefficient: -0.05399405284104877