In [1]:
import pandas as pd
import numpy as np

In [2]:
!pip install pybaseball

Requirement already satisfied: pybaseball in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (2.2.1)
Requirement already satisfied: numpy>=1.13.0 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from pybaseball) (1.23.5)
Requirement already satisfied: pandas>=1.0.3 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from pybaseball) (1.4.3)
Requirement already satisfied: beautifulsoup4>=4.4.0 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from pybaseball) (4.11.1)
Requirement already satisfied: requests>=2.18.1 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from pybaseball) (2.28.0)
Requirement already satisfied: lxml>=4.2.1 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from pybaseball) (4.8.0)
Requirement already satisfied: pyarrow>=1.0.1 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from pybaseball) (12.0.0)
Requirement already satisfied: pygithub>=1.51 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from pybaseball) (1.55)
Requirement already satisfied: scipy>=1.4.0 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from pybaseball) (1.10.1)
Requirement already satisfied: matplotlib>=2.0.0 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from pybaseball) (3.5.1)
Requirement already satisfied: tqdm>=4.50.0 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from pybaseball) (4.64.0)
Requirement already satisfied: attrs>=20.3.0 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from pybaseball) (21.4.0)
Requirement already satisfied: soupsieve>1.2 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from beautifulsoup4>=4.4.0->pybaseball) (2.3.1)
Requirement already satisfied: cycler>=0.10 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from matplotlib>=2.0.0->pybaseball) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from matplotlib>=2.0.0->pybaseball) (4.25.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from matplotlib>=2.0.0->pybaseball) (1.4.2)
Requirement already satisfied: packaging>=20.0 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from matplotlib>=2.0.0->pybaseball) (21.3)
Requirement already satisfied: pillow>=6.2.0 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from matplotlib>=2.0.0->pybaseball) (9.0.1)
Requirement already satisfied: pyparsing>=2.2.1 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from matplotlib>=2.0.0->pybaseball) (3.0.4)
Requirement already satisfied: python-dateutil>=2.7 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from matplotlib>=2.0.0->pybaseball) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from pandas>=1.0.3->pybaseball) (2022.1)
Requirement already satisfied: deprecated in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from pygithub>=1.51->pybaseball) (1.2.13)
Requirement already satisfied: pyjwt>=2.0 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from pygithub>=1.51->pybaseball) (2.1.0)
Requirement already satisfied: pynacl>=1.4.0 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from pygithub>=1.51->pybaseball) (1.5.0)
Requirement already satisfied: charset-normalizer~=2.0.0 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from requests>=2.18.1->pybaseball) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from requests>=2.18.1->pybaseball) (3.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from requests>=2.18.1->pybaseball) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from requests>=2.18.1->pybaseball) (2022.9.24)
Requirement already satisfied: cffi>=1.4.1 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from pynacl>=1.4.0->pygithub>=1.51->pybaseball) (1.15.0)
Requirement already satisfied: six>=1.5 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.7->matplotlib>=2.0.0->pybaseball) (1.16.0)
Requirement already satisfied: wrapt<2,>=1.10 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from deprecated->pygithub>=1.51->pybaseball) (1.12.1)
Requirement already satisfied: pycparser in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from cffi>=1.4.1->pynacl>=1.4.0->pygithub>=1.51->pybaseball) (2.21)
WARNING: Error parsing requirements for markupsafe: [Errno 2] No such file or directory: '/Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages/MarkupSafe-2.0.1.dist-info/METADATA'

In [3]:
# import sys
# sys.path

In [4]:
# /Users/yufeng/anaconda3/envs/py33/bin/python -m pip install plotly

In [5]:
from pybaseball import statcast

In [6]:
data = statcast(start_dt='2017-06-24', end_dt='2017-06-27')

This is a large query, it may take a moment to complete

100%|█████████████████████████████████████████████| 4/4 [00:14<00:00,  3.67s/it]

In [7]:
data.head(2)

,pitch_type,game_date,release_speed,release_pos_x,release_pos_z,player_name,batter,pitcher,events,description,...,fld_score,post_away_score,post_home_score,post_bat_score,post_fld_score,if_fielding_alignment,of_fielding_alignment,spin_axis,delta_home_win_exp,delta_run_exp
3338,CU,2017-06-27,79.7,-1.34,5.41,"Bush, Matt",608070,456713,field_out,hit_into_play,...,2,2,1,1,2,Standard,Strategic,51,-0.096,-0.228
3429,FF,2017-06-27,98.1,-1.35,5.42,"Bush, Matt",429665,456713,field_out,hit_into_play,...,2,2,1,1,2,Standard,Strategic,204,-0.11,-0.292

In [8]:
from pybaseball import schedule_and_record
# data = schedule_and_record(1927, 'NYY')

In [9]:
data

,pitch_type,game_date,release_speed,release_pos_x,release_pos_z,player_name,batter,pitcher,events,description,...,fld_score,post_away_score,post_home_score,post_bat_score,post_fld_score,if_fielding_alignment,of_fielding_alignment,spin_axis,delta_home_win_exp,delta_run_exp
3338,CU,2017-06-27,79.7,-1.34,5.41,"Bush, Matt",608070,456713,field_out,hit_into_play,...,2,2,1,1,2,Standard,Strategic,51,-0.096,-0.228
3429,FF,2017-06-27,98.1,-1.35,5.42,"Bush, Matt",429665,456713,field_out,hit_into_play,...,2,2,1,1,2,Standard,Strategic,204,-0.11,-0.292
3517,FF,2017-06-27,98.3,-1.29,5.45,"Bush, Matt",429665,456713,NaN,ball,...,2,2,1,1,2,Standard,Strategic,202,0.0,0.023
3680,FC,2017-06-27,90.9,-1.46,5.25,"Bush, Matt",429665,456713,NaN,called_strike,...,2,2,1,1,2,Standard,Strategic,142,0.0,-0.046
3843,SI,2017-06-27,99.1,-1.37,5.34,"Bush, Matt",488726,456713,single,hit_into_play,...,2,2,1,1,2,Standard,Strategic,230,0.098,0.263
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3799,FF,2017-06-24,91.8,-1.73,6.55,"Faria, Jake",452234,607188,field_out,hit_into_play,...,0,0,0,0,0,Infield shift,Standard,182,0.022,-0.216
3924,FS,2017-06-24,82.6,-1.73,6.38,"Faria, Jake",452234,607188,NaN,ball,...,0,0,0,0,0,Infield shift,Standard,256,0.0,0.043
4028,SL,2017-06-24,85.9,-1.63,6.37,"Faria, Jake",452234,607188,NaN,swinging_strike,...,0,0,0,0,0,Infield shift,Standard,119,0.0,-0.062
4122,FF,2017-06-24,91.9,-1.47,6.59,"Faria, Jake",452234,607188,NaN,called_strike,...,0,0,0,0,0,Infield shift,Standard,192,0.0,-0.046
4256,FF,2017-06-24,92.4,-1.57,6.57,"Faria, Jake",452234,607188,NaN,ball,...,0,0,0,0,0,Infield shift,Standard,193,0.0,0.036

In [10]:
from pybaseball import standings
# standings = standings(2016)[4]

In [76]:
standings

In [77]:
stand = standings(2023)

In [78]:
stand

[                  Tm   W   L  W-L%    GB  E#
 1  Baltimore Orioles  74  47  .612    --  --
 2     Tampa Bay Rays  73  50  .593   2.0  39
 3  Toronto Blue Jays  67  55  .549   7.5  34
 4     Boston Red Sox  63  57  .525  10.5  32
 5   New York Yankees  60  61  .496  14.0  28,
                     Tm   W   L  W-L%    GB  E#
 1      Minnesota Twins  63  59  .516    --  --
 2  Cleveland Guardians  58  63  .479   4.5  37
 3       Detroit Tigers  54  66  .450   8.0  34
 4    Chicago White Sox  48  73  .397  14.5  27
 5   Kansas City Royals  39  83  .320  24.0  17,
                    Tm   W   L  W-L%    GB  E#
 1       Texas Rangers  72  49  .595    --  --
 2      Houston Astros  70  52  .574   2.5  39
 3    Seattle Mariners  65  55  .542   6.5  36
 4  Los Angeles Angels  60  62  .492  12.5  29
 5   Oakland Athletics  34  87  .281  38.0   4,
                       Tm   W   L  W-L%    GB  E#
 1         Atlanta Braves  78  42  .650    --  --
 2  Philadelphia Phillies  66  55  .545  12.5  30
 3          Miami Marlins  63  59  .516  16.0  26
 4          New York Mets  55  66  .455  23.5  19
 5   Washington Nationals  54  67  .446  24.5  18,
                     Tm   W   L  W-L%    GB  E#
 1    Milwaukee Brewers  65  56  .537    --  --
 2         Chicago Cubs  62  58  .517   2.5  40
 3      Cincinnati Reds  63  59  .516   2.5  39
 4   Pittsburgh Pirates  54  67  .446  11.0  31
 5  St. Louis Cardinals  54  67  .446  11.0  31,
                      Tm   W   L  W-L%    GB  E#
 1   Los Angeles Dodgers  73  46  .613    --  --
 2  San Francisco Giants  64  57  .529  10.0  33
 3  Arizona Diamondbacks  61  60  .504  13.0  30
 4      San Diego Padres  58  63  .479  16.0  27
 5      Colorado Rockies  46  75  .380  28.0  15]

In [11]:
from pybaseball import statcast

# # get all statcast data for July 4th, 2017
# data = statcast('2017-07-04')

In [18]:
data

,pitch_type,game_date,release_speed,release_pos_x,release_pos_z,player_name,batter,pitcher,events,description,...,fld_score,post_away_score,post_home_score,post_bat_score,post_fld_score,if_fielding_alignment,of_fielding_alignment,spin_axis,delta_home_win_exp,delta_run_exp
3193,FC,2017-07-04,91.1,-0.79,6.04,"Osuna, Roberto",642180,532077,field_out,hit_into_play,...,4,4,1,1,4,Standard,Standard,165,-0.005,-0.088
3247,FC,2017-07-04,92.3,-1.04,5.86,"Osuna, Roberto",642180,532077,NaN,foul,...,4,4,1,1,4,Standard,Standard,174,0.0,-0.018
3382,FC,2017-07-04,91.0,-1.32,5.83,"Osuna, Roberto",453056,532077,strikeout,swinging_strike,...,4,4,1,1,4,Standard,Standard,203,-0.012,-0.152
3443,FF,2017-07-04,95.6,-1.14,5.98,"Osuna, Roberto",453056,532077,NaN,ball,...,4,4,1,1,4,Standard,Standard,199,0.0,0.031
3575,FC,2017-07-04,91.2,-1.24,5.94,"Osuna, Roberto",453056,532077,NaN,called_strike,...,4,4,1,1,4,Standard,Standard,178,0.0,-0.045
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3908,FF,2017-07-04,93.3,1.18,6.38,"Kershaw, Clayton",572041,477132,NaN,foul,...,0,0,0,0,0,Standard,Standard,177,0.0,0.0
4048,SL,2017-07-04,88.6,1.19,6.49,"Kershaw, Clayton",572041,477132,NaN,foul,...,0,0,0,0,0,Standard,Standard,192,0.0,-0.069
4206,SL,2017-07-04,89.7,1.11,6.48,"Kershaw, Clayton",572041,477132,NaN,ball,...,0,0,0,0,0,Standard,Standard,195,0.0,0.05
4267,CU,2017-07-04,73.4,0.81,6.66,"Kershaw, Clayton",572041,477132,NaN,ball,...,0,0,0,0,0,Standard,Standard,346,0.0,0.027
4364,FF,2017-07-04,92.7,1.08,6.43,"Kershaw, Clayton",572041,477132,NaN,called_strike,...,0,0,0,0,0,Standard,Standard,176,0.0,-0.037

In [19]:
#get data for the first seven days of August in 2016
seven = statcast('2016-08-01', '2016-08-07')

#get all data for the Texas Rangers in the 2016 season
rangers = statcast('2016-04-01', '2016-10-30', team='TEX')

# get data for yesterday
yest = statcast()

This is a large query, it may take a moment to complete

100%|█████████████████████████████████████████████| 7/7 [00:16<00:00,  2.32s/it]

This is a large query, it may take a moment to complete

/Users/ryantalbot/opt/anaconda3/envs/tf2/lib/python3.9/site-packages/pybaseball/statcast.py:50: UserWarning:
That's a nice request you got there. It'd be a shame if something were to happen to it.
We strongly recommend that you enable caching before running this. It's as simple as `pybaseball.cache.enable()`.
Since the Statcast requests can take a *really* long time to run, if something were to happen, like: a disconnect;
gremlins; computer repair by associates of Rudy Giuliani; electromagnetic interference from metal trash cans; etc.;
you could lose a lot of progress. Enabling caching will allow you to immediately recover all the successful
subqueries if that happens.
  warnings.warn(_OVERSIZE_WARNING)

Skipping offseason dates

100%|█████████████████████████████████████████| 211/211 [00:39<00:00,  5.36it/s]

start_dt 2023-08-15
end_dt 2023-08-16
Warning: no date range supplied, assuming yesterday's date.
This is a large query, it may take a moment to complete

100%|█████████████████████████████████████████████| 2/2 [00:14<00:00,  7.47s/it]

In [20]:
seven

,pitch_type,game_date,release_speed,release_pos_x,release_pos_z,player_name,batter,pitcher,events,description,...,fld_score,post_away_score,post_home_score,post_bat_score,post_fld_score,if_fielding_alignment,of_fielding_alignment,spin_axis,delta_home_win_exp,delta_run_exp
2598,CH,2016-08-07,82.8,-0.46,6.77,"Young, Chris",446381,432934,field_out,hit_into_play,...,7,1,7,1,7,Standard,Standard,188,0.0,-0.22
2691,FF,2016-08-07,90.1,-0.25,6.8,"Young, Chris",489365,432934,single,hit_into_play,...,7,1,7,1,7,Strategic,Standard,192,0.0,0.102
2726,FF,2016-08-07,87.7,-0.42,6.7,"Young, Chris",489365,432934,NaN,ball,...,7,1,7,1,7,Strategic,Standard,205,0.0,0.013
2824,FF,2016-08-07,89.0,-0.45,6.69,"Young, Chris",425834,432934,strikeout,swinging_strike,...,7,1,7,1,7,Standard,Standard,204,0.001,-0.1
2869,SL,2016-08-07,83.2,-0.4,6.79,"Young, Chris",425834,432934,NaN,swinging_strike,...,7,1,7,1,7,Standard,Standard,195,0.0,-0.037
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2276,KC,2016-08-01,83.3,2.07,6.58,"Paxton, James",456030,572020,strikeout,called_strike,...,0,0,0,0,0,Standard,Standard,329,0.015,-0.1
2342,FF,2016-08-01,98.0,2.1,6.67,"Paxton, James",456030,572020,NaN,foul,...,0,0,0,0,0,Standard,Standard,147,0.0,-0.037
2438,FF,2016-08-01,97.4,2.09,6.69,"Paxton, James",456030,572020,NaN,called_strike,...,0,0,0,0,0,Standard,Standard,156,0.0,-0.025
2491,FF,2016-08-01,97.1,2.01,6.74,"Paxton, James",605141,572020,field_out,hit_into_play,...,0,0,0,0,0,Standard,Standard,157,0.022,-0.2
2577,FF,2016-08-01,97.1,2.28,6.67,"Paxton, James",605141,572020,NaN,called_strike,...,0,0,0,0,0,Standard,Standard,165,0.0,-0.037

In [21]:
rangers

,pitch_type,game_date,release_speed,release_pos_x,release_pos_z,player_name,batter,pitcher,events,description,...,fld_score,post_away_score,post_home_score,post_bat_score,post_fld_score,if_fielding_alignment,of_fielding_alignment,spin_axis,delta_home_win_exp,delta_run_exp
0,FF,2016-10-09,99.1,-1.47,5.48,"Bush, Matt",431145,456713,force_out,hit_into_play,...,6,6,7,7,6,Standard,Standard,212,0.297,-0.726
2,FF,2016-10-09,99.7,-1.51,5.4,"Bush, Matt",431145,456713,NaN,foul,...,6,6,6,6,6,Standard,Standard,200,0.0,0.0
4,FF,2016-10-09,98.5,-1.49,5.55,"Bush, Matt",431145,456713,NaN,foul,...,6,6,6,6,6,Standard,Standard,209,0.0,0.0
7,FF,2016-10-09,98.8,-1.58,5.51,"Bush, Matt",431145,456713,NaN,ball,...,6,6,6,6,6,Standard,Standard,206,0.0,0.172
8,FF,2016-10-09,98.5,-1.39,5.43,"Bush, Matt",431145,456713,NaN,ball,...,6,6,6,6,6,Standard,Standard,201,0.0,0.036
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,FF,2016-04-04,92.2,2.03,6.56,"Hamels, Cole",606466,430935,NaN,ball,...,0,0,0,0,0,NaN,NaN,<NA>,0.0,0.042
122,FF,2016-04-04,92.5,1.98,6.55,"Hamels, Cole",606466,430935,NaN,ball,...,0,0,0,0,0,NaN,NaN,<NA>,0.0,0.028
124,FF,2016-04-04,92.5,2.25,6.43,"Hamels, Cole",493114,430935,field_out,hit_into_play,...,0,0,0,0,0,NaN,NaN,<NA>,0.022,-0.225
129,FC,2016-04-04,88.2,2.19,6.35,"Hamels, Cole",493114,430935,NaN,ball,...,0,0,0,0,0,NaN,NaN,<NA>,0.0,0.025
130,FF,2016-04-04,91.8,1.8,6.66,"Hamels, Cole",493114,430935,NaN,called_strike,...,0,0,0,0,0,NaN,NaN,<NA>,0.0,-0.037

In [22]:
yest

,pitch_type,game_date,release_speed,release_pos_x,release_pos_z,player_name,batter,pitcher,events,description,...,fld_score,post_away_score,post_home_score,post_bat_score,post_fld_score,if_fielding_alignment,of_fielding_alignment,spin_axis,delta_home_win_exp,delta_run_exp
3799,FC,2023-08-15,93.2,-2.9,6.18,"Jansen, Kenley",666164,445276,field_out,hit_into_play,...,5,5,4,4,5,Standard,Standard,203,-0.044,-0.105
3890,FC,2023-08-15,93.5,-2.75,6.16,"Jansen, Kenley",545121,445276,field_out,hit_into_play,...,5,5,4,4,5,Standard,Standard,196,-0.064,0.057
4040,FC,2023-08-15,94.5,-2.81,6.2,"Jansen, Kenley",666906,445276,strikeout,swinging_strike,...,5,5,4,4,5,Strategic,Standard,199,-0.086,-0.151
4137,FC,2023-08-15,93.0,-2.88,6.26,"Jansen, Kenley",666906,445276,NaN,foul,...,5,5,4,4,5,Standard,Standard,200,0.0,-0.047
4243,FC,2023-08-15,92.9,-2.95,6.18,"Jansen, Kenley",666906,445276,NaN,called_strike,...,5,5,4,4,5,Standard,Standard,199,0.0,-0.038
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3845,SI,2023-08-15,88.4,3.04,5.75,"Blach, Ty",502054,621389,field_out,hit_into_play,...,0,0,0,0,0,Standard,Standard,114,0.028,-0.255
3920,SI,2023-08-15,88.8,3.28,5.75,"Blach, Ty",502054,621389,NaN,called_strike,...,0,0,0,0,0,Standard,Standard,112,0.0,-0.05
4036,SI,2023-08-15,89.4,2.96,5.76,"Blach, Ty",682998,621389,single,hit_into_play,...,0,0,0,0,0,Standard,Strategic,112,-0.025,0.264
4219,SI,2023-08-15,89.3,2.91,5.81,"Blach, Ty",606466,621389,field_out,hit_into_play,...,0,0,0,0,0,Standard,Standard,108,0.022,-0.198
4270,SI,2023-08-15,88.7,3.06,5.69,"Blach, Ty",606466,621389,NaN,called_strike,...,0,0,0,0,0,Standard,Standard,109,0.0,-0.038

In [12]:
from pybaseball import team_game_logs

In [13]:
# Braves batting logs for 2019
batting_logs = team_game_logs(2019, "ATL")

# Orioles pitching logs from 2018
pitching_logs = team_game_logs(2019, "ATL", "pitching")

In [14]:
batting_logs

,Game,Date,Home,Opp,Rslt,PA,AB,R,H,2B,...,SB,CS,BA,OBP,SLG,OPS,LOB,NumPlayers,Thr,OppStart
0,1,Mar 28,True,PHI,"L,4-10",36,30,4,7,1,...,1,1,0.233,0.361,0.367,0.728,5,15,R,A.Nola(67)
1,2,Mar 30,True,PHI,"L,6-8",40,36,6,10,2,...,1,0,0.258,0.355,0.470,0.825,7,17,R,N.Pivetta(35)
2,3,Mar 31,True,PHI,"L,1-5",36,29,1,4,0,...,1,2,0.221,0.339,0.368,0.708,8,14,R,J.Arrieta(62)
3,4,Apr 1,False,CHC,"W,8-0",43,36,8,12,3,...,0,0,0.252,0.368,0.427,0.795,11,15,R,K.Hendricks(26)
4,5,Apr 3,False,CHC,"W,6-4",39,30,6,8,1,...,1,0,0.255,0.376,0.441,0.817,9,16,L,J.Lester(56)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
157,158,Sep 24,True,KCR,"L,6-9",41,37,6,11,3,...,0,0,0.258,0.336,0.454,0.790,8,13,L,D.Duffy(48)
158,159,Sep 25,True,KCR,"W,10-2",48,40,10,14,4,...,0,0,0.258,0.337,0.454,0.791,11,13,L,M.Montgomery(47)
159,160,Sep 27,True,NYM,"L,2-4",39,35,2,9,0,...,2,0,0.258,0.337,0.453,0.790,10,15,R,M.Stroman(59)
160,161,Sep 28,True,NYM,"L,0-3",37,31,0,4,0,...,0,0,0.258,0.337,0.451,0.788,10,14,L,S.Matz(70)
161,162,Sep 29,True,NYM,"L,6-7",45,42,6,11,1,...,1,1,0.258,0.336,0.452,0.789,6,22,R,N.Syndergaard(62)

In [15]:
batting_logs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 162 entries, 0 to 161
Data columns (total 31 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Game        162 non-null    int64
 1   Date        162 non-null    object
 2   Home        162 non-null    bool
 3   Opp         162 non-null    object
 4   Rslt        162 non-null    object
 5   PA          162 non-null    int64
 6   AB          162 non-null    int64
 7   R           162 non-null    int64
 8   H           162 non-null    int64
 9   2B          162 non-null    int64
 10  3B          162 non-null    int64
 11  HR          162 non-null    int64
 12  RBI         162 non-null    int64
 13  BB          162 non-null    int64
 14  IBB         162 non-null    int64
 15  SO          162 non-null    int64
 16  HBP         162 non-null    int64
 17  SH          162 non-null    int64
 18  SF          162 non-null    int64
 19  ROE         162 non-null    int64
 20  GDP         162 non-null    int64
 21  SB          162 non-null    int64
 22  CS          162 non-null    int64
 23  BA          162 non-null    float64
 24  OBP         162 non-null    float64
 25  SLG         162 non-null    float64
 26  OPS         162 non-null    float64
 27  LOB         162 non-null    int64
 28  NumPlayers  162 non-null    int64
 29  Thr         162 non-null    object
 30  OppStart    162 non-null    object
dtypes: bool(1), float64(4), int64(21), object(5)
memory usage: 38.3+ KB

In [16]:
batting_logs.describe()

,Game,PA,AB,R,H,2B,3B,HR,RBI,BB,...,ROE,GDP,SB,CS,BA,OBP,SLG,OPS,LOB,NumPlayers
count,162.000000,162.000000,162.000000,162.000000,162.000000,162.000000,162.000000,162.000000,162.000000,162.000000,...,162.000000,162.000000,162.000000,162.000000,162.000000,162.000000,162.000000,162.000000,162.000000,162.000000
mean,81.500000,38.901235,34.320988,5.277778,8.839506,1.709877,0.179012,1.537037,5.086420,3.820988,...,0.308642,0.641975,0.549383,0.172840,0.261333,0.341747,0.451302,0.793025,7.024691,14.586420
std,46.909487,4.896709,4.068748,3.203744,3.285416,1.359037,0.400377,1.216547,3.081492,2.183804,...,0.603138,0.646224,0.898947,0.410729,0.005322,0.011156,0.013796,0.016426,2.560936,2.211335
min,1.000000,28.000000,24.000000,0.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.221000,0.330000,0.367000,0.708000,1.000000,9.000000
25%,41.250000,35.000000,32.000000,3.000000,7.000000,1.000000,0.000000,1.000000,3.000000,2.000000,...,0.000000,0.000000,0.000000,0.000000,0.259000,0.336000,0.445000,0.790000,5.000000,13.000000
50%,81.500000,38.000000,34.000000,5.000000,8.000000,1.000000,0.000000,1.500000,4.000000,4.000000,...,0.000000,1.000000,0.000000,0.000000,0.261500,0.337000,0.456000,0.795000,7.000000,15.000000
75%,121.750000,42.000000,36.000000,7.000000,11.000000,2.750000,0.000000,2.000000,7.000000,6.000000,...,0.000000,1.000000,1.000000,0.000000,0.264000,0.340750,0.459000,0.799750,9.000000,16.000000
max,162.000000,56.000000,49.000000,15.000000,19.000000,6.000000,2.000000,6.000000,15.000000,9.000000,...,3.000000,3.000000,5.000000,2.000000,0.277000,0.391000,0.470000,0.843000,14.000000,22.000000

In [17]:
pitching_logs.head()

,Game,Date,Home,Opp,Rslt,IP,H,R,ER,UER,...,2B,3B,IBB,SH,SF,ROE,GDP,NumPlayers,Umpire,PitchersUsed
0,1,Mar 28,True,PHI,"L,4-10",8.0,7,10,10,0,...,0,0,2,0,0,0,0,5,Mike Winters,"J.Teheran (99-52-L), S.Carle (99), W.Parsons (..."
1,2,Mar 30,True,PHI,"L,6-8",8.0,9,8,8,0,...,2,1,1,0,0,0,0,6,Tim Timmons,"B.Wilson (99-33), W.Parsons (1-L), J.Venters (..."
2,3,Mar 31,True,PHI,"L,1-5",8.0,5,5,5,0,...,1,0,0,0,1,0,1,4,Rob Drake,"K.Wright (99-46-L), M.Fried (2), S.Carle (2), ..."
3,4,Apr 1,False,CHC,"W,8-0",9.0,9,0,0,0,...,3,0,0,0,0,1,3,5,Gary Cederstrom,"S.Newcomb (99-49), W.Parsons (1-W), J.Biddle (..."
4,5,Apr 3,False,CHC,"W,6-4",9.0,12,4,4,0,...,0,0,0,0,0,0,1,6,Marvin Hudson,"J.Teheran (5-55), J.Venters (3-BSv), W.Parsons..."

In [18]:
pitching_logs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 162 entries, 0 to 161
Data columns (total 33 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Game          162 non-null    int64
 1   Date          162 non-null    object
 2   Home          162 non-null    bool
 3   Opp           162 non-null    object
 4   Rslt          162 non-null    object
 5   IP            162 non-null    float64
 6   H             162 non-null    int64
 7   R             162 non-null    int64
 8   ER            162 non-null    int64
 9   UER           162 non-null    int64
 10  BB            162 non-null    int64
 11  SO            162 non-null    int64
 12  HR            162 non-null    int64
 13  HBP           162 non-null    int64
 14  ERA           162 non-null    float64
 15  BF            162 non-null    int64
 16  Pit           162 non-null    int64
 17  Str           162 non-null    int64
 18  IR            161 non-null    float64
 19  IS            161 non-null    float64
 20  SB            162 non-null    int64
 21  CS            162 non-null    int64
 22  AB            162 non-null    int64
 23  2B            162 non-null    int64
 24  3B            162 non-null    int64
 25  IBB           162 non-null    int64
 26  SH            162 non-null    int64
 27  SF            162 non-null    int64
 28  ROE           162 non-null    int64
 29  GDP           162 non-null    int64
 30  NumPlayers    162 non-null    int64
 31  Umpire        162 non-null    object
 32  PitchersUsed  162 non-null    object
dtypes: bool(1), float64(4), int64(23), object(5)
memory usage: 40.8+ KB

In [19]:
pitching_logs.describe()

,Game,IP,H,R,ER,UER,BB,SO,HR,HBP,...,CS,AB,2B,3B,IBB,SH,SF,ROE,GDP,NumPlayers
count,162.000000,162.00000,162.000000,162.000000,162.000000,162.000000,162.000000,162.000000,162.000000,162.000000,...,162.000000,162.000000,162.000000,162.000000,162.000000,162.000000,162.000000,162.000000,162.000000,162.000000
mean,81.500000,8.94321,8.771605,4.586420,4.166667,0.419753,3.382716,8.598765,1.253086,0.425926,...,0.123457,34.302469,1.561728,0.141975,0.203704,0.240741,0.166667,0.259259,0.827160,4.549383
std,46.909487,0.80764,3.346036,3.022987,2.961974,0.937344,2.158720,2.593494,1.154584,0.720641,...,0.329981,4.185289,1.435752,0.383953,0.487596,0.483332,0.390095,0.517466,0.929705,1.300036
min,1.000000,6.00000,2.000000,0.000000,0.000000,0.000000,0.000000,3.000000,0.000000,0.000000,...,0.000000,20.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,41.250000,9.00000,6.000000,2.000000,2.000000,0.000000,2.000000,7.000000,0.000000,0.000000,...,0.000000,32.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.000000
50%,81.500000,9.00000,9.000000,4.000000,4.000000,0.000000,3.000000,8.000000,1.000000,0.000000,...,0.000000,34.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,5.000000
75%,121.750000,9.00000,11.000000,7.000000,6.000000,0.000000,5.000000,10.000000,2.000000,1.000000,...,0.000000,37.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,5.000000
max,162.000000,14.00000,23.000000,14.000000,14.000000,5.000000,10.000000,15.000000,5.000000,4.000000,...,1.000000,47.000000,7.000000,2.000000,2.000000,2.000000,2.000000,2.000000,4.000000,10.000000

In [20]:
batting_logs = team_game_logs(2023, "ATL")

In [21]:
batting_logs

,Game,Date,Home,Opp,Rslt,PA,AB,R,H,2B,...,SB,CS,BA,OBP,SLG,OPS,LOB,NumPlayers,Thr,OppStart
0,1,Mar 30,True,WSN,"W,7-2",46,40,7,12,2,...,2,0,0.300,0.391,0.350,0.741,12,10,L,P.Corbin(33)
1,2,Apr 1,True,WSN,"W,7-1",37,35,7,11,0,...,0,0,0.307,0.373,0.493,0.867,3,9,R,J.Gray(35)
2,3,Apr 2,True,WSN,"L,1-4",33,28,1,4,1,...,0,0,0.262,0.345,0.408,0.753,5,9,L,M.Gore(60)
3,4,Apr 3,True,STL,"W,8-4",40,35,8,10,3,...,0,1,0.268,0.353,0.464,0.816,5,9,R,J.Woodford(25)
4,5,Apr 4,True,STL,"W,4-1",38,37,4,12,1,...,1,0,0.280,0.351,0.474,0.825,7,10,L,S.Matz(38)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,116,Aug 12 (2),True,NYM,"W,6-0",40,34,6,7,2,...,2,0,0.275,0.344,0.502,0.846,7,10,L,J.Quintana(61)
116,117,Aug 13,True,NYM,"L,6-7",37,34,6,7,2,...,1,0,0.274,0.344,0.502,0.845,4,11,R,K.Senga(57)
117,118,Aug 14,False,NYY,"W,11-3",44,36,11,15,2,...,1,0,0.275,0.345,0.503,0.848,9,9,R,C.Schmidt(8)
118,119,Aug 15,False,NYY,"W,5-0",38,31,5,6,0,...,0,0,0.275,0.345,0.502,0.847,9,9,R,L.Severino(39)
119,120,Aug 16,False,NYY,"W,2-0",29,25,2,3,1,...,0,1,0.274,0.345,0.501,0.845,3,9,R,R.Vásquez(48)

In [22]:
pitching_logs = team_game_logs(2023, "ATL", "pitching")

In [23]:
pitching_logs

,Game,Date,Home,Opp,Rslt,IP,H,R,ER,UER,...,2B,3B,IBB,SH,SF,ROE,GDP,NumPlayers,Umpire,PitchersUsed
0,1,Mar 30,True,WSN,"W,7-2",9.0,8,2,2,0,...,1,0,0,0,1,0,1,6,Dan Bellino,"M.Fried (99-50), L.Luetge (99-W), J.Chavez (99..."
1,2,Apr 1,True,WSN,"W,7-1",9.0,5,1,1,0,...,1,0,0,0,0,0,2,4,Phil Cuzzi,"S.Strider (99-72-W), N.Anderson (99), J.Jiméne..."
2,3,Apr 2,True,WSN,"L,1-4",8.0,6,4,4,0,...,1,0,0,0,1,0,1,3,Mark Ripperger,"J.Shuster (99-32-L), M.Tonkin (99), J.Chavez (2)"
3,4,Apr 3,True,STL,"W,8-4",9.0,12,4,4,0,...,0,0,0,0,0,0,0,4,Tony Randazzo,"C.Morton (99-37-W), N.Anderson (1-H), C.McHugh..."
4,5,Apr 4,True,STL,"W,4-1",9.0,10,1,1,0,...,1,0,0,0,0,0,1,6,Junior Valentine,"D.Dodd (99-54-W), J.Chavez (1-H), J.Jiménez (2..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,116,Aug 12(2),True,NYM,"W,6-0",9.0,5,0,0,0,...,2,0,0,0,0,0,0,3,Brennan Miller,"S.Strider (4-73-W), A.Minter (0), R.Iglesias (2)"
116,117,Aug 13,True,NYM,"L,6-7",8.0,10,7,6,1,...,1,0,0,0,0,0,0,3,Tripp Gibson,"Y.Chirinos (4-29-L), C.McHugh (3), K.Yates (1)"
117,118,Aug 14,False,NYY,"W,11-3",9.0,11,3,3,0,...,1,1,0,0,0,0,3,3,Chris Segal,"M.Fried (4-49-W), P.Johnson (2), J.Jiménez (3)"
118,119,Aug 15,False,NYY,"W,5-0",9.0,1,0,0,0,...,0,0,0,0,0,0,4,3,CB Bucknor,"B.Elder (4-75-W), A.Minter (2), K.Yates (1)"
119,120,Aug 16,False,NYY,"W,2-0",9.0,4,0,0,0,...,0,0,0,0,0,0,0,4,Ben May,"C.Morton (4-73-W), P.Johnson (1-H), K.Yates (0..."

In [24]:
batting_logs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 31 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Game        120 non-null    int64
 1   Date        120 non-null    object
 2   Home        120 non-null    bool
 3   Opp         120 non-null    object
 4   Rslt        120 non-null    object
 5   PA          120 non-null    int64
 6   AB          120 non-null    int64
 7   R           120 non-null    int64
 8   H           120 non-null    int64
 9   2B          120 non-null    int64
 10  3B          120 non-null    int64
 11  HR          120 non-null    int64
 12  RBI         120 non-null    int64
 13  BB          120 non-null    int64
 14  IBB         120 non-null    int64
 15  SO          120 non-null    int64
 16  HBP         120 non-null    int64
 17  SH          120 non-null    int64
 18  SF          120 non-null    int64
 19  ROE         120 non-null    int64
 20  GDP         120 non-null    int64
 21  SB          120 non-null    int64
 22  CS          120 non-null    int64
 23  BA          120 non-null    float64
 24  OBP         120 non-null    float64
 25  SLG         120 non-null    float64
 26  OPS         120 non-null    float64
 27  LOB         120 non-null    int64
 28  NumPlayers  120 non-null    int64
 29  Thr         120 non-null    object
 30  OppStart    120 non-null    object
dtypes: bool(1), float64(4), int64(21), object(5)
memory usage: 28.4+ KB

In [25]:
pitching_logs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 33 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Game          120 non-null    int64
 1   Date          120 non-null    object
 2   Home          120 non-null    bool
 3   Opp           120 non-null    object
 4   Rslt          120 non-null    object
 5   IP            120 non-null    float64
 6   H             120 non-null    int64
 7   R             120 non-null    int64
 8   ER            120 non-null    int64
 9   UER           120 non-null    int64
 10  BB            120 non-null    int64
 11  SO            120 non-null    int64
 12  HR            120 non-null    int64
 13  HBP           120 non-null    int64
 14  ERA           120 non-null    float64
 15  BF            120 non-null    int64
 16  Pit           120 non-null    int64
 17  Str           120 non-null    int64
 18  IR            119 non-null    float64
 19  IS            119 non-null    float64
 20  SB            120 non-null    int64
 21  CS            120 non-null    int64
 22  AB            120 non-null    int64
 23  2B            120 non-null    int64
 24  3B            120 non-null    int64
 25  IBB           120 non-null    int64
 26  SH            120 non-null    int64
 27  SF            120 non-null    int64
 28  ROE           120 non-null    int64
 29  GDP           120 non-null    int64
 30  NumPlayers    120 non-null    int64
 31  Umpire        114 non-null    object
 32  PitchersUsed  120 non-null    object
dtypes: bool(1), float64(4), int64(23), object(5)
memory usage: 30.2+ KB

In [26]:
pitching_logs.PitchersUsed

0      M.Fried (99-50), L.Luetge (99-W), J.Chavez (99...
1      S.Strider (99-72-W), N.Anderson (99), J.Jiméne...
2       J.Shuster (99-32-L), M.Tonkin (99), J.Chavez (2)
3      C.Morton (99-37-W), N.Anderson (1-H), C.McHugh...
4      D.Dodd (99-54-W), J.Chavez (1-H), J.Jiménez (2...
                             ...
115     S.Strider (4-73-W), A.Minter (0), R.Iglesias (2)
116       Y.Chirinos (4-29-L), C.McHugh (3), K.Yates (1)
117       M.Fried (4-49-W), P.Johnson (2), J.Jiménez (3)
118          B.Elder (4-75-W), A.Minter (2), K.Yates (1)
119    C.Morton (4-73-W), P.Johnson (1-H), K.Yates (0...
Name: PitchersUsed, Length: 120, dtype: object

In [27]:
atl = statcast('2023-01-01', '2023-08-15', team='ATL')

This is a large query, it may take a moment to complete

/Users/ryantalbot/opt/anaconda3/envs/tf2/lib/python3.9/site-packages/pybaseball/statcast.py:50: UserWarning:
That's a nice request you got there. It'd be a shame if something were to happen to it.
We strongly recommend that you enable caching before running this. It's as simple as `pybaseball.cache.enable()`.
Since the Statcast requests can take a *really* long time to run, if something were to happen, like: a disconnect;
gremlins; computer repair by associates of Rudy Giuliani; electromagnetic interference from metal trash cans; etc.;
you could lose a lot of progress. Enabling caching will allow you to immediately recover all the successful
subqueries if that happens.
  warnings.warn(_OVERSIZE_WARNING)

Skipping offseason dates

100%|█████████████████████████████████████████| 154/154 [00:22<00:00,  6.78it/s]

In [28]:
atl

,pitch_type,game_date,release_speed,release_pos_x,release_pos_z,player_name,batter,pitcher,events,description,...,fld_score,post_away_score,post_home_score,post_bat_score,post_fld_score,if_fielding_alignment,of_fielding_alignment,spin_axis,delta_home_win_exp,delta_run_exp
83,FS,2023-08-15,86.8,-2.46,5.4,"Yates, Kirby",592450,489446,grounded_into_double_play,hit_into_play,...,5,0,5,0,5,Standard,Strategic,263,0.005,-0.37
86,FS,2023-08-15,87.2,-2.6,5.29,"Yates, Kirby",592450,489446,NaN,ball,...,5,0,5,0,5,Standard,Strategic,263,0.0,0.028
90,FF,2023-08-15,93.7,-2.48,5.31,"Yates, Kirby",592450,489446,NaN,called_strike,...,5,0,5,0,5,Standard,Strategic,237,0.0,-0.05
93,FF,2023-08-15,93.5,-2.6,5.29,"Yates, Kirby",643396,489446,walk,ball,...,5,0,5,0,5,Standard,Standard,235,-0.003,0.162
97,FS,2023-08-15,86.8,-2.65,5.23,"Yates, Kirby",643396,489446,NaN,ball,...,5,0,5,0,5,Strategic,Standard,266,0.0,0.077
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63,NaN,2023-03-15,<NA>,<NA>,<NA>,"Strider, Spencer",681488,675911,strikeout,called_strike,...,0,0,0,0,0,NaN,NaN,<NA>,0.033,<NA>
65,NaN,2023-03-15,<NA>,<NA>,<NA>,"Strider, Spencer",681488,675911,NaN,called_strike,...,0,0,0,0,0,NaN,NaN,<NA>,0.0,<NA>
75,NaN,2023-03-15,<NA>,<NA>,<NA>,"Strider, Spencer",681488,675911,NaN,called_strike,...,0,0,0,0,0,NaN,NaN,<NA>,0.0,<NA>
80,NaN,2023-03-15,<NA>,<NA>,<NA>,"Strider, Spencer",685744,675911,single,hit_into_play,...,0,0,0,0,0,NaN,NaN,<NA>,-0.036,<NA>
86,NaN,2023-03-15,<NA>,<NA>,<NA>,"Strider, Spencer",685744,675911,NaN,ball,...,0,0,0,0,0,NaN,NaN,<NA>,0.0,<NA>

In [29]:
data = schedule_and_record(2023, 'ATL')

/Users/ryantalbot/opt/anaconda3/envs/tf2/lib/python3.9/site-packages/pybaseball/team_results.py:70: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  data = data.drop('',1) #not a useful column
/Users/ryantalbot/opt/anaconda3/envs/tf2/lib/python3.9/site-packages/pybaseball/team_results.py:83: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  data = data.drop('Streak2',1)

In [30]:
data

,Date,Tm,Home_Away,Opp,W/L,R,RA,Inn,W-L,Rank,GB,Win,Loss,Save,Time,D/N,Attendance,cLI,Streak,Orig. Scheduled
1,"Thursday, Mar 30",ATL,@,WSN,W,7.0,2.0,9.0,1-0,1.0,Tied,Luetge,Corbin,None,3:07,D,35756.0,.99,1.0,None
2,"Saturday, Apr 1",ATL,@,WSN,W,7.0,1.0,9.0,2-0,1.0,up 0.5,Strider,Gray,None,2:21,D,27529.0,1.08,2.0,None
3,"Sunday, Apr 2",ATL,@,WSN,L,1.0,4.0,9.0,2-1,2.0,0.5,Gore,Shuster,Finnegan,2:17,D,21440.0,1.09,-1.0,None
4,"Monday, Apr 3",ATL,@,STL,W,8.0,4.0,9.0,3-1,1.0,up 0.5,Morton,Woodford,None,2:46,N,37689.0,1.00,1.0,None
5,"Tuesday, Apr 4",ATL,@,STL,W,4.0,1.0,9.0,4-1,1.0,up 1.5,Dodd,Matz,Minter,2:20,N,36501.0,1.06,2.0,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
158,"Wednesday, Sep 27",ATL,Home,CHC,None,NaN,NaN,NaN,None,NaN,None,None,None,None,None,None,NaN,None,NaN,None
159,"Thursday, Sep 28",ATL,Home,CHC,None,NaN,NaN,NaN,None,NaN,None,None,None,None,None,None,NaN,None,NaN,None
160,"Friday, Sep 29",ATL,Home,WSN,None,NaN,NaN,NaN,None,NaN,None,None,None,None,None,None,NaN,None,NaN,None
161,"Saturday, Sep 30",ATL,Home,WSN,None,NaN,NaN,NaN,None,NaN,None,None,None,None,None,None,NaN,None,NaN,None
162,"Sunday, Oct 1",ATL,Home,WSN,None,NaN,NaN,NaN,None,NaN,None,None,None,None,None,None,NaN,None,NaN,None

combine pitching log, batting log and data

In [31]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 162 entries, 1 to 162
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Date             162 non-null    object
 1   Tm               162 non-null    object
 2   Home_Away        162 non-null    object
 3   Opp              162 non-null    object
 4   W/L              120 non-null    object
 5   R                120 non-null    float64
 6   RA               120 non-null    float64
 7   Inn              120 non-null    float64
 8   W-L              120 non-null    object
 9   Rank             120 non-null    float64
 10  GB               120 non-null    object
 11  Win              120 non-null    object
 12  Loss             120 non-null    object
 13  Save             120 non-null    object
 14  Time             120 non-null    object
 15  D/N              120 non-null    object
 16  Attendance       118 non-null    float64
 17  cLI              120 non-null    object
 18  Streak           120 non-null    float64
 19  Orig. Scheduled  0 non-null      object
dtypes: float64(6), object(14)
memory usage: 25.4+ KB

In [32]:
pitching_logs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 33 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Game          120 non-null    int64
 1   Date          120 non-null    object
 2   Home          120 non-null    bool
 3   Opp           120 non-null    object
 4   Rslt          120 non-null    object
 5   IP            120 non-null    float64
 6   H             120 non-null    int64
 7   R             120 non-null    int64
 8   ER            120 non-null    int64
 9   UER           120 non-null    int64
 10  BB            120 non-null    int64
 11  SO            120 non-null    int64
 12  HR            120 non-null    int64
 13  HBP           120 non-null    int64
 14  ERA           120 non-null    float64
 15  BF            120 non-null    int64
 16  Pit           120 non-null    int64
 17  Str           120 non-null    int64
 18  IR            119 non-null    float64
 19  IS            119 non-null    float64
 20  SB            120 non-null    int64
 21  CS            120 non-null    int64
 22  AB            120 non-null    int64
 23  2B            120 non-null    int64
 24  3B            120 non-null    int64
 25  IBB           120 non-null    int64
 26  SH            120 non-null    int64
 27  SF            120 non-null    int64
 28  ROE           120 non-null    int64
 29  GDP           120 non-null    int64
 30  NumPlayers    120 non-null    int64
 31  Umpire        114 non-null    object
 32  PitchersUsed  120 non-null    object
dtypes: bool(1), float64(4), int64(23), object(5)
memory usage: 30.2+ KB

In [33]:
batting_logs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 31 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Game        120 non-null    int64
 1   Date        120 non-null    object
 2   Home        120 non-null    bool
 3   Opp         120 non-null    object
 4   Rslt        120 non-null    object
 5   PA          120 non-null    int64
 6   AB          120 non-null    int64
 7   R           120 non-null    int64
 8   H           120 non-null    int64
 9   2B          120 non-null    int64
 10  3B          120 non-null    int64
 11  HR          120 non-null    int64
 12  RBI         120 non-null    int64
 13  BB          120 non-null    int64
 14  IBB         120 non-null    int64
 15  SO          120 non-null    int64
 16  HBP         120 non-null    int64
 17  SH          120 non-null    int64
 18  SF          120 non-null    int64
 19  ROE         120 non-null    int64
 20  GDP         120 non-null    int64
 21  SB          120 non-null    int64
 22  CS          120 non-null    int64
 23  BA          120 non-null    float64
 24  OBP         120 non-null    float64
 25  SLG         120 non-null    float64
 26  OPS         120 non-null    float64
 27  LOB         120 non-null    int64
 28  NumPlayers  120 non-null    int64
 29  Thr         120 non-null    object
 30  OppStart    120 non-null    object
dtypes: bool(1), float64(4), int64(21), object(5)
memory usage: 28.4+ KB

31 columsn + 33 columns = 64 columns

In [34]:
df3 = pd.concat([batting_logs, pitching_logs, data], axis=1)

In [35]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 163 entries, 0 to 162
Data columns (total 84 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Game             120 non-null    float64
 1   Date             120 non-null    object
 2   Home             120 non-null    object
 3   Opp              120 non-null    object
 4   Rslt             120 non-null    object
 5   PA               120 non-null    float64
 6   AB               120 non-null    float64
 7   R                120 non-null    float64
 8   H                120 non-null    float64
 9   2B               120 non-null    float64
 10  3B               120 non-null    float64
 11  HR               120 non-null    float64
 12  RBI              120 non-null    float64
 13  BB               120 non-null    float64
 14  IBB              120 non-null    float64
 15  SO               120 non-null    float64
 16  HBP              120 non-null    float64
 17  SH               120 non-null    float64
 18  SF               120 non-null    float64
 19  ROE              120 non-null    float64
 20  GDP              120 non-null    float64
 21  SB               120 non-null    float64
 22  CS               120 non-null    float64
 23  BA               120 non-null    float64
 24  OBP              120 non-null    float64
 25  SLG              120 non-null    float64
 26  OPS              120 non-null    float64
 27  LOB              120 non-null    float64
 28  NumPlayers       120 non-null    float64
 29  Thr              120 non-null    object
 30  OppStart         120 non-null    object
 31  Game             120 non-null    float64
 32  Date             120 non-null    object
 33  Home             120 non-null    object
 34  Opp              120 non-null    object
 35  Rslt             120 non-null    object
 36  IP               120 non-null    float64
 37  H                120 non-null    float64
 38  R                120 non-null    float64
 39  ER               120 non-null    float64
 40  UER              120 non-null    float64
 41  BB               120 non-null    float64
 42  SO               120 non-null    float64
 43  HR               120 non-null    float64
 44  HBP              120 non-null    float64
 45  ERA              120 non-null    float64
 46  BF               120 non-null    float64
 47  Pit              120 non-null    float64
 48  Str              120 non-null    float64
 49  IR               119 non-null    float64
 50  IS               119 non-null    float64
 51  SB               120 non-null    float64
 52  CS               120 non-null    float64
 53  AB               120 non-null    float64
 54  2B               120 non-null    float64
 55  3B               120 non-null    float64
 56  IBB              120 non-null    float64
 57  SH               120 non-null    float64
 58  SF               120 non-null    float64
 59  ROE              120 non-null    float64
 60  GDP              120 non-null    float64
 61  NumPlayers       120 non-null    float64
 62  Umpire           114 non-null    object
 63  PitchersUsed     120 non-null    object
 64  Date             162 non-null    object
 65  Tm               162 non-null    object
 66  Home_Away        162 non-null    object
 67  Opp              162 non-null    object
 68  W/L              120 non-null    object
 69  R                120 non-null    float64
 70  RA               120 non-null    float64
 71  Inn              120 non-null    float64
 72  W-L              120 non-null    object
 73  Rank             120 non-null    float64
 74  GB               120 non-null    object
 75  Win              120 non-null    object
 76  Loss             120 non-null    object
 77  Save             120 non-null    object
 78  Time             120 non-null    object
 79  D/N              120 non-null    object
 80  Attendance       118 non-null    float64
 81  cLI              120 non-null    object
 82  Streak           120 non-null    float64
 83  Orig. Scheduled  0 non-null      object
dtypes: float64(58), object(26)
memory usage: 108.2+ KB

In [36]:
df= pitching_logs.append(batting_logs)

/var/folders/j_/555m2zps099832fjh_m8jjnc0000gn/T/ipykernel_67226/3457327914.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df= pitching_logs.append(batting_logs)

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 240 entries, 0 to 119
Data columns (total 42 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Game          240 non-null    int64
 1   Date          240 non-null    object
 2   Home          240 non-null    bool
 3   Opp           240 non-null    object
 4   Rslt          240 non-null    object
 5   IP            120 non-null    float64
 6   H             240 non-null    int64
 7   R             240 non-null    int64
 8   ER            120 non-null    float64
 9   UER           120 non-null    float64
 10  BB            240 non-null    int64
 11  SO            240 non-null    int64
 12  HR            240 non-null    int64
 13  HBP           240 non-null    int64
 14  ERA           120 non-null    float64
 15  BF            120 non-null    float64
 16  Pit           120 non-null    float64
 17  Str           120 non-null    float64
 18  IR            119 non-null    float64
 19  IS            119 non-null    float64
 20  SB            240 non-null    int64
 21  CS            240 non-null    int64
 22  AB            240 non-null    int64
 23  2B            240 non-null    int64
 24  3B            240 non-null    int64
 25  IBB           240 non-null    int64
 26  SH            240 non-null    int64
 27  SF            240 non-null    int64
 28  ROE           240 non-null    int64
 29  GDP           240 non-null    int64
 30  NumPlayers    240 non-null    int64
 31  Umpire        114 non-null    object
 32  PitchersUsed  120 non-null    object
 33  PA            120 non-null    float64
 34  RBI           120 non-null    float64
 35  BA            120 non-null    float64
 36  OBP           120 non-null    float64
 37  SLG           120 non-null    float64
 38  OPS           120 non-null    float64
 39  LOB           120 non-null    float64
 40  Thr           120 non-null    object
 41  OppStart      120 non-null    object
dtypes: bool(1), float64(16), int64(18), object(7)
memory usage: 79.0+ KB

In [38]:
df

,Game,Date,Home,Opp,Rslt,IP,H,R,ER,UER,...,PitchersUsed,PA,RBI,BA,OBP,SLG,OPS,LOB,Thr,OppStart
0,1,Mar 30,True,WSN,"W,7-2",9.0,8,2,2.0,0.0,...,"M.Fried (99-50), L.Luetge (99-W), J.Chavez (99...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,Apr 1,True,WSN,"W,7-1",9.0,5,1,1.0,0.0,...,"S.Strider (99-72-W), N.Anderson (99), J.Jiméne...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,Apr 2,True,WSN,"L,1-4",8.0,6,4,4.0,0.0,...,"J.Shuster (99-32-L), M.Tonkin (99), J.Chavez (2)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,Apr 3,True,STL,"W,8-4",9.0,12,4,4.0,0.0,...,"C.Morton (99-37-W), N.Anderson (1-H), C.McHugh...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,Apr 4,True,STL,"W,4-1",9.0,10,1,1.0,0.0,...,"D.Dodd (99-54-W), J.Chavez (1-H), J.Jiménez (2...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,116,Aug 12 (2),True,NYM,"W,6-0",NaN,7,6,NaN,NaN,...,NaN,40.0,5.0,0.275,0.344,0.502,0.846,7.0,L,J.Quintana(61)
116,117,Aug 13,True,NYM,"L,6-7",NaN,7,6,NaN,NaN,...,NaN,37.0,6.0,0.274,0.344,0.502,0.845,4.0,R,K.Senga(57)
117,118,Aug 14,False,NYY,"W,11-3",NaN,15,11,NaN,NaN,...,NaN,44.0,10.0,0.275,0.345,0.503,0.848,9.0,R,C.Schmidt(8)
118,119,Aug 15,False,NYY,"W,5-0",NaN,6,5,NaN,NaN,...,NaN,38.0,5.0,0.275,0.345,0.502,0.847,9.0,R,L.Severino(39)
119,120,Aug 16,False,NYY,"W,2-0",NaN,3,2,NaN,NaN,...,NaN,29.0,2.0,0.274,0.345,0.501,0.845,3.0,R,R.Vásquez(48)

In [39]:
df_merged.info()

NameError: name 'df_merged' is not defined

In [ ]:
df_merged

In [40]:
df = df_col_merged

NameError: name 'df_col_merged' is not defined

In [ ]:
df.info()

In [50]:
# df2 = df.drop_duplicates()

In [54]:
df['Game']

     Game  Game
0       1     1
1       2     2
2       3     3
3       4     4
4       5     5
..    ...   ...
115   116   116
116   117   117
117   118   118
118   119   119
119   120   120

[120 rows x 2 columns]

In [55]:
# df2 = df.loc[:,~df.columns.duplicated()].copy()

In [58]:
df

,Game,Date,Home,Opp,Rslt,PA,AB,R,H,2B,...,2B,3B,IBB,SH,SF,ROE,GDP,NumPlayers,Umpire,PitchersUsed
0,1,Mar 30,True,WSN,"W,7-2",46,40,7,12,2,...,1,0,0,0,1,0,1,6,Dan Bellino,"M.Fried (99-50), L.Luetge (99-W), J.Chavez (99..."
1,2,Apr 1,True,WSN,"W,7-1",37,35,7,11,0,...,1,0,0,0,0,0,2,4,Phil Cuzzi,"S.Strider (99-72-W), N.Anderson (99), J.Jiméne..."
2,3,Apr 2,True,WSN,"L,1-4",33,28,1,4,1,...,1,0,0,0,1,0,1,3,Mark Ripperger,"J.Shuster (99-32-L), M.Tonkin (99), J.Chavez (2)"
3,4,Apr 3,True,STL,"W,8-4",40,35,8,10,3,...,0,0,0,0,0,0,0,4,Tony Randazzo,"C.Morton (99-37-W), N.Anderson (1-H), C.McHugh..."
4,5,Apr 4,True,STL,"W,4-1",38,37,4,12,1,...,1,0,0,0,0,0,1,6,Junior Valentine,"D.Dodd (99-54-W), J.Chavez (1-H), J.Jiménez (2..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,116,Aug 12 (2),True,NYM,"W,6-0",40,34,6,7,2,...,2,0,0,0,0,0,0,3,Brennan Miller,"S.Strider (4-73-W), A.Minter (0), R.Iglesias (2)"
116,117,Aug 13,True,NYM,"L,6-7",37,34,6,7,2,...,1,0,0,0,0,0,0,3,Tripp Gibson,"Y.Chirinos (4-29-L), C.McHugh (3), K.Yates (1)"
117,118,Aug 14,False,NYY,"W,11-3",44,36,11,15,2,...,1,1,0,0,0,0,3,3,Chris Segal,"M.Fried (4-49-W), P.Johnson (2), J.Jiménez (3)"
118,119,Aug 15,False,NYY,"W,5-0",38,31,5,6,0,...,0,0,0,0,0,0,4,3,CB Bucknor,"B.Elder (4-75-W), A.Minter (2), K.Yates (1)"
119,120,Aug 16,False,NYY,"W,2-0",29,25,2,3,1,...,0,0,0,0,0,0,0,4,Ben May,"C.Morton (4-73-W), P.Johnson (1-H), K.Yates (0..."

In [62]:
df3

,Game,Date,Home,Opp,Rslt,PA,AB,R,H,2B,...,GB,Win,Loss,Save,Time,D/N,Attendance,cLI,Streak,Orig. Scheduled
0,1.0,Mar 30,True,WSN,"W,7-2",46.0,40.0,7.0,12.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.0,Apr 1,True,WSN,"W,7-1",37.0,35.0,7.0,11.0,0.0,...,Tied,Luetge,Corbin,None,3:07,D,35756.0,.99,1.0,NaN
2,3.0,Apr 2,True,WSN,"L,1-4",33.0,28.0,1.0,4.0,1.0,...,up 0.5,Strider,Gray,None,2:21,D,27529.0,1.08,2.0,NaN
3,4.0,Apr 3,True,STL,"W,8-4",40.0,35.0,8.0,10.0,3.0,...,0.5,Gore,Shuster,Finnegan,2:17,D,21440.0,1.09,-1.0,NaN
4,5.0,Apr 4,True,STL,"W,4-1",38.0,37.0,4.0,12.0,1.0,...,up 0.5,Morton,Woodford,None,2:46,N,37689.0,1.00,1.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
158,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,None,None,None,None,None,None,NaN,None,NaN,None
159,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,None,None,None,None,None,None,NaN,None,NaN,None
160,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,None,None,None,None,None,None,NaN,None,NaN,None
161,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,None,None,None,None,None,None,NaN,None,NaN,None
162,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,None,None,None,None,None,None,NaN,None,NaN,None

In [63]:
df

,Game,Date,Home,Opp,Rslt,PA,AB,R,H,2B,...,2B,3B,IBB,SH,SF,ROE,GDP,NumPlayers,Umpire,PitchersUsed
0,1,Mar 30,True,WSN,"W,7-2",46,40,7,12,2,...,1,0,0,0,1,0,1,6,Dan Bellino,"M.Fried (99-50), L.Luetge (99-W), J.Chavez (99..."
1,2,Apr 1,True,WSN,"W,7-1",37,35,7,11,0,...,1,0,0,0,0,0,2,4,Phil Cuzzi,"S.Strider (99-72-W), N.Anderson (99), J.Jiméne..."
2,3,Apr 2,True,WSN,"L,1-4",33,28,1,4,1,...,1,0,0,0,1,0,1,3,Mark Ripperger,"J.Shuster (99-32-L), M.Tonkin (99), J.Chavez (2)"
3,4,Apr 3,True,STL,"W,8-4",40,35,8,10,3,...,0,0,0,0,0,0,0,4,Tony Randazzo,"C.Morton (99-37-W), N.Anderson (1-H), C.McHugh..."
4,5,Apr 4,True,STL,"W,4-1",38,37,4,12,1,...,1,0,0,0,0,0,1,6,Junior Valentine,"D.Dodd (99-54-W), J.Chavez (1-H), J.Jiménez (2..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,116,Aug 12 (2),True,NYM,"W,6-0",40,34,6,7,2,...,2,0,0,0,0,0,0,3,Brennan Miller,"S.Strider (4-73-W), A.Minter (0), R.Iglesias (2)"
116,117,Aug 13,True,NYM,"L,6-7",37,34,6,7,2,...,1,0,0,0,0,0,0,3,Tripp Gibson,"Y.Chirinos (4-29-L), C.McHugh (3), K.Yates (1)"
117,118,Aug 14,False,NYY,"W,11-3",44,36,11,15,2,...,1,1,0,0,0,0,3,3,Chris Segal,"M.Fried (4-49-W), P.Johnson (2), J.Jiménez (3)"
118,119,Aug 15,False,NYY,"W,5-0",38,31,5,6,0,...,0,0,0,0,0,0,4,3,CB Bucknor,"B.Elder (4-75-W), A.Minter (2), K.Yates (1)"
119,120,Aug 16,False,NYY,"W,2-0",29,25,2,3,1,...,0,0,0,0,0,0,0,4,Ben May,"C.Morton (4-73-W), P.Johnson (1-H), K.Yates (0..."

In [79]:
!pip install -U dataprep

Requirement already satisfied: dataprep in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (0.4.5)
Requirement already satisfied: aiohttp<4.0,>=3.6 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from dataprep) (3.8.1)
Requirement already satisfied: bokeh<3,>=2 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from dataprep) (2.4.2)
Requirement already satisfied: dask[array,dataframe,delayed]>=2022.3.0 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from dataprep) (2022.5.0)
Requirement already satisfied: flask<3,>=2 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from dataprep) (2.2.5)
Requirement already satisfied: flask_cors<4.0.0,>=3.0.10 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from dataprep) (3.0.10)
Requirement already satisfied: ipywidgets<8.0,>=7.5 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from dataprep) (7.6.5)
Requirement already satisfied: jinja2<3.1,>=3.0 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from dataprep) (3.0.3)
Requirement already satisfied: jsonpath-ng<2.0,>=1.5 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from dataprep) (1.5.3)
Requirement already satisfied: metaphone<0.7,>=0.6 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from dataprep) (0.6)
Requirement already satisfied: nltk<4.0.0,>=3.6.7 in /Users/ryantalbot/.local/lib/python3.9/site-packages (from dataprep) (3.8.1)
Requirement already satisfied: numpy<2.0,>=1.21 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from dataprep) (1.23.5)
Requirement already satisfied: pandas<2.0,>=1.1 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from dataprep) (1.4.3)
Requirement already satisfied: pydantic<2.0,>=1.6 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from dataprep) (1.8.2)
Requirement already satisfied: pydot<2.0.0,>=1.4.2 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from dataprep) (1.4.2)
Requirement already satisfied: python-crfsuite==0.9.8 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from dataprep) (0.9.8)
Requirement already satisfied: python-stdnum<2.0,>=1.16 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from dataprep) (1.18)
Requirement already satisfied: rapidfuzz<3.0.0,>=2.1.2 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from dataprep) (2.15.1)
Requirement already satisfied: regex<2022.0.0,>=2021.8.3 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from dataprep) (2021.11.10)
Requirement already satisfied: scipy<2.0,>=1.8 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from dataprep) (1.10.1)
Requirement already satisfied: sqlalchemy==1.3.24 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from dataprep) (1.3.24)
Requirement already satisfied: tqdm<5.0,>=4.48 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from dataprep) (4.64.0)
Requirement already satisfied: varname<0.9.0,>=0.8.1 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from dataprep) (0.8.3)
Requirement already satisfied: wordcloud<2.0,>=1.8 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from dataprep) (1.9.2)
Requirement already satisfied: attrs>=17.3.0 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from aiohttp<4.0,>=3.6->dataprep) (21.4.0)
Requirement already satisfied: charset-normalizer<3.0,>=2.0 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from aiohttp<4.0,>=3.6->dataprep) (2.0.4)
Requirement already satisfied: multidict<7.0,>=4.5 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from aiohttp<4.0,>=3.6->dataprep) (5.2.0)
Requirement already satisfied: async-timeout<5.0,>=4.0.0a3 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from aiohttp<4.0,>=3.6->dataprep) (4.0.1)
Requirement already satisfied: yarl<2.0,>=1.0 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from aiohttp<4.0,>=3.6->dataprep) (1.6.3)
Requirement already satisfied: frozenlist>=1.1.1 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from aiohttp<4.0,>=3.6->dataprep) (1.2.0)
Requirement already satisfied: aiosignal>=1.1.2 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from aiohttp<4.0,>=3.6->dataprep) (1.2.0)
Requirement already satisfied: packaging>=16.8 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from bokeh<3,>=2->dataprep) (21.3)
Requirement already satisfied: pillow>=7.1.0 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from bokeh<3,>=2->dataprep) (9.0.1)
Requirement already satisfied: PyYAML>=3.10 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from bokeh<3,>=2->dataprep) (6.0)
Requirement already satisfied: tornado>=5.1 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from bokeh<3,>=2->dataprep) (6.3.2)
Requirement already satisfied: typing-extensions>=3.10.0 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from bokeh<3,>=2->dataprep) (4.1.1)
Requirement already satisfied: cloudpickle>=1.1.1 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from dask[array,dataframe,delayed]>=2022.3.0->dataprep) (2.0.0)
Requirement already satisfied: fsspec>=0.6.0 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from dask[array,dataframe,delayed]>=2022.3.0->dataprep) (2022.3.0)
Requirement already satisfied: partd>=0.3.10 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from dask[array,dataframe,delayed]>=2022.3.0->dataprep) (1.2.0)
Requirement already satisfied: toolz>=0.8.2 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from dask[array,dataframe,delayed]>=2022.3.0->dataprep) (0.11.2)
Requirement already satisfied: Werkzeug>=2.2.2 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from flask<3,>=2->dataprep) (2.3.6)
Requirement already satisfied: itsdangerous>=2.0 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from flask<3,>=2->dataprep) (2.0.1)
Requirement already satisfied: click>=8.0 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from flask<3,>=2->dataprep) (8.0.4)
Requirement already satisfied: importlib-metadata>=3.6.0 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from flask<3,>=2->dataprep) (4.11.3)
Requirement already satisfied: Six in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from flask_cors<4.0.0,>=3.0.10->dataprep) (1.16.0)
Requirement already satisfied: ipykernel>=4.5.1 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from ipywidgets<8.0,>=7.5->dataprep) (6.23.1)
Requirement already satisfied: ipython-genutils~=0.2.0 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from ipywidgets<8.0,>=7.5->dataprep) (0.2.0)
Requirement already satisfied: traitlets>=4.3.1 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from ipywidgets<8.0,>=7.5->dataprep) (5.9.0)
Requirement already satisfied: nbformat>=4.2.0 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from ipywidgets<8.0,>=7.5->dataprep) (5.3.0)
Requirement already satisfied: widgetsnbextension~=3.5.0 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from ipywidgets<8.0,>=7.5->dataprep) (3.5.2)
Requirement already satisfied: ipython>=4.0.0 in /Users/ryantalbot/.local/lib/python3.9/site-packages (from ipywidgets<8.0,>=7.5->dataprep) (7.34.0)
Requirement already satisfied: jupyterlab-widgets>=1.0.0 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from ipywidgets<8.0,>=7.5->dataprep) (1.0.0)
Requirement already satisfied: MarkupSafe>=2.0 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from jinja2<3.1,>=3.0->dataprep) (2.0.1)
Requirement already satisfied: ply in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from jsonpath-ng<2.0,>=1.5->dataprep) (3.11)
Requirement already satisfied: decorator in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from jsonpath-ng<2.0,>=1.5->dataprep) (5.1.1)
Requirement already satisfied: joblib in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from nltk<4.0.0,>=3.6.7->dataprep) (1.1.0)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from pandas<2.0,>=1.1->dataprep) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from pandas<2.0,>=1.1->dataprep) (2022.1)

Requirement already satisfied: pyparsing>=2.1.4 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from pydot<2.0.0,>=1.4.2->dataprep) (3.0.4)
Requirement already satisfied: asttokens<3.0.0,>=2.0.0 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from varname<0.9.0,>=0.8.1->dataprep) (2.0.5)
Requirement already satisfied: executing<0.9.0,>=0.8.3 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from varname<0.9.0,>=0.8.1->dataprep) (0.8.3)
Requirement already satisfied: pure_eval<1.0.0 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from varname<0.9.0,>=0.8.1->dataprep) (0.2.2)
Requirement already satisfied: matplotlib in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from wordcloud<2.0,>=1.8->dataprep) (3.5.1)
Requirement already satisfied: zipp>=0.5 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from importlib-metadata>=3.6.0->flask<3,>=2->dataprep) (3.8.0)
Requirement already satisfied: appnope in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from ipykernel>=4.5.1->ipywidgets<8.0,>=7.5->dataprep) (0.1.2)
Requirement already satisfied: comm>=0.1.1 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from ipykernel>=4.5.1->ipywidgets<8.0,>=7.5->dataprep) (0.1.3)
Requirement already satisfied: debugpy>=1.6.5 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from ipykernel>=4.5.1->ipywidgets<8.0,>=7.5->dataprep) (1.6.7)
Requirement already satisfied: jupyter-client>=6.1.12 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from ipykernel>=4.5.1->ipywidgets<8.0,>=7.5->dataprep) (6.1.12)
Requirement already satisfied: jupyter-core!=5.0.*,>=4.12 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from ipykernel>=4.5.1->ipywidgets<8.0,>=7.5->dataprep) (5.3.0)
Requirement already satisfied: matplotlib-inline>=0.1 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from ipykernel>=4.5.1->ipywidgets<8.0,>=7.5->dataprep) (0.1.2)
Requirement already satisfied: nest-asyncio in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from ipykernel>=4.5.1->ipywidgets<8.0,>=7.5->dataprep) (1.5.5)
Requirement already satisfied: psutil in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from ipykernel>=4.5.1->ipywidgets<8.0,>=7.5->dataprep) (5.9.0)
Requirement already satisfied: pyzmq>=20 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from ipykernel>=4.5.1->ipywidgets<8.0,>=7.5->dataprep) (22.3.0)
Requirement already satisfied: setuptools>=18.5 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from ipython>=4.0.0->ipywidgets<8.0,>=7.5->dataprep) (61.2.0)
Requirement already satisfied: jedi>=0.16 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from ipython>=4.0.0->ipywidgets<8.0,>=7.5->dataprep) (0.18.1)
Requirement already satisfied: pickleshare in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from ipython>=4.0.0->ipywidgets<8.0,>=7.5->dataprep) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from ipython>=4.0.0->ipywidgets<8.0,>=7.5->dataprep) (3.0.20)
Requirement already satisfied: pygments in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from ipython>=4.0.0->ipywidgets<8.0,>=7.5->dataprep) (2.11.2)
Requirement already satisfied: backcall in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from ipython>=4.0.0->ipywidgets<8.0,>=7.5->dataprep) (0.2.0)
Requirement already satisfied: pexpect>4.3 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from ipython>=4.0.0->ipywidgets<8.0,>=7.5->dataprep) (4.8.0)
ERROR: Could not install packages due to an OSError: [Errno 2] No such file or directory: '/Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages/MarkupSafe-2.0.1.dist-info/METADATA'

In [43]:
from dataprep.datasets import load_dataset
from dataprep.eda import create_report

ModuleNotFoundError: No module named 'dataprep'

In [82]:
import sys
sys.path

['/Users/ryantalbot/Desktop/MSDS/Core/Data Mining Foundations/Data Mining Project/MLB/Resources',
 '/Users/ryantalbot/opt/anaconda3/envs/tf2/lib/python39.zip',
 '/Users/ryantalbot/opt/anaconda3/envs/tf2/lib/python3.9',
 '/Users/ryantalbot/opt/anaconda3/envs/tf2/lib/python3.9/lib-dynload',
 '',
 '/Users/ryantalbot/.local/lib/python3.9/site-packages',
 '/Users/ryantalbot/opt/anaconda3/envs/tf2/lib/python3.9/site-packages',
 '/Users/ryantalbot/.local/lib/python3.9/site-packages/IPython/extensions',
 '/Users/ryantalbot/.ipython']

In [41]:
# Users/ryantalbot/opt/anaconda3/envs/tf2/bin/python3 -m pip install -U dataprep

In [42]:
!pip install dataprep

Requirement already satisfied: dataprep in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (0.4.5)
Requirement already satisfied: aiohttp<4.0,>=3.6 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from dataprep) (3.8.1)
Requirement already satisfied: bokeh<3,>=2 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from dataprep) (2.4.2)
Requirement already satisfied: dask[array,dataframe,delayed]>=2022.3.0 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from dataprep) (2022.5.0)
Requirement already satisfied: flask<3,>=2 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from dataprep) (2.2.5)
Requirement already satisfied: flask_cors<4.0.0,>=3.0.10 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from dataprep) (3.0.10)
Requirement already satisfied: ipywidgets<8.0,>=7.5 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from dataprep) (7.6.5)
Requirement already satisfied: jinja2<3.1,>=3.0 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from dataprep) (3.0.3)
Requirement already satisfied: jsonpath-ng<2.0,>=1.5 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from dataprep) (1.5.3)
Requirement already satisfied: metaphone<0.7,>=0.6 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from dataprep) (0.6)
Requirement already satisfied: nltk<4.0.0,>=3.6.7 in /Users/ryantalbot/.local/lib/python3.9/site-packages (from dataprep) (3.8.1)
Requirement already satisfied: numpy<2.0,>=1.21 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from dataprep) (1.23.5)
Requirement already satisfied: pandas<2.0,>=1.1 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from dataprep) (1.4.3)
Requirement already satisfied: pydantic<2.0,>=1.6 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from dataprep) (1.8.2)
Requirement already satisfied: pydot<2.0.0,>=1.4.2 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from dataprep) (1.4.2)
Requirement already satisfied: python-crfsuite==0.9.8 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from dataprep) (0.9.8)
Requirement already satisfied: python-stdnum<2.0,>=1.16 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from dataprep) (1.18)
Requirement already satisfied: rapidfuzz<3.0.0,>=2.1.2 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from dataprep) (2.15.1)
Requirement already satisfied: regex<2022.0.0,>=2021.8.3 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from dataprep) (2021.11.10)
Requirement already satisfied: scipy<2.0,>=1.8 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from dataprep) (1.10.1)
Requirement already satisfied: sqlalchemy==1.3.24 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from dataprep) (1.3.24)
Requirement already satisfied: tqdm<5.0,>=4.48 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from dataprep) (4.64.0)
Requirement already satisfied: varname<0.9.0,>=0.8.1 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from dataprep) (0.8.3)
Requirement already satisfied: wordcloud<2.0,>=1.8 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from dataprep) (1.9.2)
Requirement already satisfied: attrs>=17.3.0 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from aiohttp<4.0,>=3.6->dataprep) (21.4.0)
Requirement already satisfied: charset-normalizer<3.0,>=2.0 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from aiohttp<4.0,>=3.6->dataprep) (2.0.4)
Requirement already satisfied: multidict<7.0,>=4.5 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from aiohttp<4.0,>=3.6->dataprep) (5.2.0)
Requirement already satisfied: async-timeout<5.0,>=4.0.0a3 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from aiohttp<4.0,>=3.6->dataprep) (4.0.1)
Requirement already satisfied: yarl<2.0,>=1.0 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from aiohttp<4.0,>=3.6->dataprep) (1.6.3)
Requirement already satisfied: frozenlist>=1.1.1 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from aiohttp<4.0,>=3.6->dataprep) (1.2.0)
Requirement already satisfied: aiosignal>=1.1.2 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from aiohttp<4.0,>=3.6->dataprep) (1.2.0)
Requirement already satisfied: packaging>=16.8 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from bokeh<3,>=2->dataprep) (21.3)
Requirement already satisfied: pillow>=7.1.0 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from bokeh<3,>=2->dataprep) (9.0.1)
Requirement already satisfied: PyYAML>=3.10 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from bokeh<3,>=2->dataprep) (6.0)
Requirement already satisfied: tornado>=5.1 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from bokeh<3,>=2->dataprep) (6.3.2)
Requirement already satisfied: typing-extensions>=3.10.0 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from bokeh<3,>=2->dataprep) (4.1.1)
Requirement already satisfied: cloudpickle>=1.1.1 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from dask[array,dataframe,delayed]>=2022.3.0->dataprep) (2.0.0)
Requirement already satisfied: fsspec>=0.6.0 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from dask[array,dataframe,delayed]>=2022.3.0->dataprep) (2022.3.0)
Requirement already satisfied: partd>=0.3.10 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from dask[array,dataframe,delayed]>=2022.3.0->dataprep) (1.2.0)
Requirement already satisfied: toolz>=0.8.2 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from dask[array,dataframe,delayed]>=2022.3.0->dataprep) (0.11.2)
Requirement already satisfied: Werkzeug>=2.2.2 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from flask<3,>=2->dataprep) (2.3.6)
Requirement already satisfied: itsdangerous>=2.0 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from flask<3,>=2->dataprep) (2.0.1)
Requirement already satisfied: click>=8.0 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from flask<3,>=2->dataprep) (8.0.4)
Requirement already satisfied: importlib-metadata>=3.6.0 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from flask<3,>=2->dataprep) (4.11.3)
Requirement already satisfied: Six in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from flask_cors<4.0.0,>=3.0.10->dataprep) (1.16.0)
Requirement already satisfied: ipykernel>=4.5.1 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from ipywidgets<8.0,>=7.5->dataprep) (6.23.1)
Requirement already satisfied: ipython-genutils~=0.2.0 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from ipywidgets<8.0,>=7.5->dataprep) (0.2.0)
Requirement already satisfied: traitlets>=4.3.1 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from ipywidgets<8.0,>=7.5->dataprep) (5.9.0)
Requirement already satisfied: nbformat>=4.2.0 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from ipywidgets<8.0,>=7.5->dataprep) (5.3.0)
Requirement already satisfied: widgetsnbextension~=3.5.0 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from ipywidgets<8.0,>=7.5->dataprep) (3.5.2)
Requirement already satisfied: ipython>=4.0.0 in /Users/ryantalbot/.local/lib/python3.9/site-packages (from ipywidgets<8.0,>=7.5->dataprep) (7.34.0)
Requirement already satisfied: jupyterlab-widgets>=1.0.0 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from ipywidgets<8.0,>=7.5->dataprep) (1.0.0)
Requirement already satisfied: MarkupSafe>=2.0 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from jinja2<3.1,>=3.0->dataprep) (2.0.1)
Requirement already satisfied: ply in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from jsonpath-ng<2.0,>=1.5->dataprep) (3.11)
Requirement already satisfied: decorator in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from jsonpath-ng<2.0,>=1.5->dataprep) (5.1.1)
Requirement already satisfied: joblib in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from nltk<4.0.0,>=3.6.7->dataprep) (1.1.0)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from pandas<2.0,>=1.1->dataprep) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from pandas<2.0,>=1.1->dataprep) (2022.1)

Requirement already satisfied: pyparsing>=2.1.4 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from pydot<2.0.0,>=1.4.2->dataprep) (3.0.4)
Requirement already satisfied: asttokens<3.0.0,>=2.0.0 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from varname<0.9.0,>=0.8.1->dataprep) (2.0.5)
Requirement already satisfied: executing<0.9.0,>=0.8.3 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from varname<0.9.0,>=0.8.1->dataprep) (0.8.3)
Requirement already satisfied: pure_eval<1.0.0 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from varname<0.9.0,>=0.8.1->dataprep) (0.2.2)
Requirement already satisfied: matplotlib in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from wordcloud<2.0,>=1.8->dataprep) (3.5.1)
Requirement already satisfied: zipp>=0.5 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from importlib-metadata>=3.6.0->flask<3,>=2->dataprep) (3.8.0)
Requirement already satisfied: appnope in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from ipykernel>=4.5.1->ipywidgets<8.0,>=7.5->dataprep) (0.1.2)
Requirement already satisfied: comm>=0.1.1 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from ipykernel>=4.5.1->ipywidgets<8.0,>=7.5->dataprep) (0.1.3)
Requirement already satisfied: debugpy>=1.6.5 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from ipykernel>=4.5.1->ipywidgets<8.0,>=7.5->dataprep) (1.6.7)
Requirement already satisfied: jupyter-client>=6.1.12 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from ipykernel>=4.5.1->ipywidgets<8.0,>=7.5->dataprep) (6.1.12)
Requirement already satisfied: jupyter-core!=5.0.*,>=4.12 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from ipykernel>=4.5.1->ipywidgets<8.0,>=7.5->dataprep) (5.3.0)
Requirement already satisfied: matplotlib-inline>=0.1 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from ipykernel>=4.5.1->ipywidgets<8.0,>=7.5->dataprep) (0.1.2)
Requirement already satisfied: nest-asyncio in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from ipykernel>=4.5.1->ipywidgets<8.0,>=7.5->dataprep) (1.5.5)
Requirement already satisfied: psutil in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from ipykernel>=4.5.1->ipywidgets<8.0,>=7.5->dataprep) (5.9.0)
Requirement already satisfied: pyzmq>=20 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from ipykernel>=4.5.1->ipywidgets<8.0,>=7.5->dataprep) (22.3.0)
Requirement already satisfied: setuptools>=18.5 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from ipython>=4.0.0->ipywidgets<8.0,>=7.5->dataprep) (61.2.0)
Requirement already satisfied: jedi>=0.16 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from ipython>=4.0.0->ipywidgets<8.0,>=7.5->dataprep) (0.18.1)
Requirement already satisfied: pickleshare in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from ipython>=4.0.0->ipywidgets<8.0,>=7.5->dataprep) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from ipython>=4.0.0->ipywidgets<8.0,>=7.5->dataprep) (3.0.20)
Requirement already satisfied: pygments in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from ipython>=4.0.0->ipywidgets<8.0,>=7.5->dataprep) (2.11.2)
Requirement already satisfied: backcall in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from ipython>=4.0.0->ipywidgets<8.0,>=7.5->dataprep) (0.2.0)
Requirement already satisfied: pexpect>4.3 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from ipython>=4.0.0->ipywidgets<8.0,>=7.5->dataprep) (4.8.0)
ERROR: Could not install packages due to an OSError: [Errno 2] No such file or directory: '/Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages/MarkupSafe-2.0.1.dist-info/METADATA'