Lab 6: Inner JOINS
1.  Connect to the bit.io Lab Environment

NOTE:  If you are not sure how to connect to the bit.io lab environment, please see the Lab 1 instructions.   

2.  Practice some SELECT queries using inner joins

2.1 List each order and its Total Value (unitprice * quantity) for all orders shipping into France in descending Total Value order.  

2.2 Create a Suppliers List showing Supplier CompanyName, and names of all the products sold by each supplier located in Japan.   

2.3 Create a “Low Performers” list showing the employees who have less than $100,000 in total sales.  List the employee’s LastName, FirstName followed by their total sales volume (the total dollar value of their orders.)

Lab 6: Solutions

```
SELECT O.orderID, sum(unitprice * quantity) as "Total Value" 
            FROM "alanparadise/nw"."orders" O 
		 JOIN "alanparadise/nw"."orderdetails" D 
                 ON O.orderid = D.orderid
            WHERE shipcountry = 'France'
       GROUP BY O.orderid
	ORDER BY 2 DESC;
```

```
SELECT companyname, productname
        FROM "alanparadise/nw"."suppliers" S 
           JOIN "alanparadise/nw"."products" P
             ON S.supplierID = P.supplierID
        WHERE S.country = 'Japan';
```

```
SELECT LastName, Firstname, sum(unitprice * quantity) as "Total Sales"
    	  from "alanparadise/nw"."employees" E 
            JOIN
              "alanparadise/nw"."orders" O 
			   ON E.employeeid  =  O.employeeid
           	      JOIN 
                     "alanparadise/nw"."orderdetails" D 
			       ON O.orderid  =  D.orderid
	GROUP BY LastName, FirstName
	    HAVING  sum(unitprice * quantity) < 100000;
```